{
  "openapi": "3.0.0",
  "info": {
    "title": "Audit API",
    "version": "1.0.0",
    "description": "Retrieve audit events from an Anaplan tenant. Supports filtering by event type and date range. Responses are available in JSON or Common Event Format (CEF) via the `Accept` header. Requires the Tenant Auditor role."
  },
  "servers": [
    {
      "url": "https://audit.anaplan.com/audit/api/1",
      "description": "Production base URL — Apiary-confirmed and live-tested. The Audit API is served only from this dedicated host; the regional api.anaplan.com data-plane hosts return 404 for /audit/api/1."
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "Retrieve audit events",
        "description": "Retrieves audit events for the tenant associated with the authenticated user. Use `type` to filter by event category. Use `dateFrom`/`dateTo` for a specific date range, or `intervalInHours` for a rolling window; the queried range cannot exceed 30 days. If no date filter is supplied, the previous 30 days are returned. Use `limit` and `offset` for pagination (the documented limit cap of 10000 is not enforced server-side — see the `limit` parameter).\n\nSet `Accept: text/plain` to receive results in Common Event Format (CEF). Default is `application/json`.",
        "operationId": "getAuditEvents",
        "tags": [
          "Audit Events"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of events to return. Each value filters to events whose `eventTypeId` carries a matching prefix. Confirmed via live testing: `all` (every event), `user_activity` (`USR-*`), `access_control` (`AUTHZ-*`), `int` (integrations, `INT-*`), `conn_mgmt` (connection / SAML management, `CONN-*`), `comment` (`COMMENT-*`), `byok` (Bring Your Own Key encryption), `plan_iq` (PlanIQ), and `forecaster`. A `workflow` category also exists for the Workflow product but could not be confirmed on the test tenant (product not enabled), so it is omitted from the enum. Note: the enum is not enforced server-side — an unrecognised value is treated as `all` rather than rejected.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "user_activity",
                "access_control",
                "int",
                "conn_mgmt",
                "comment",
                "byok",
                "plan_iq",
                "forecaster"
              ]
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Start of the event date range (Unix timestamp in milliseconds, UTC). The span between `dateFrom` and `dateTo` cannot exceed 30 days — a wider range returns 400 `FAILURE_BAD_REQUEST`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "End of the event date range (Unix timestamp in milliseconds, UTC). The span between `dateFrom` and `dateTo` cannot exceed 30 days — a wider range returns 400 `FAILURE_BAD_REQUEST`.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "intervalInHours",
            "in": "query",
            "description": "Return events from the previous N hours. For example, `2` returns the last two hours of events. Bound by the same 30-day cap as the date range: a value above `720` (30 days) returns 400 `FAILURE_BAD_REQUEST`.",
            "schema": {
              "type": "integer",
              "maximum": 720
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page. The documentation states a cap of 10000, but live testing showed the server does not enforce it — larger limits are honored and return more than 10000 records.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based index of the first result to return. Use with `limit` for pagination.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventsResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Audit events in Common Event Format (CEF), one event per line. Each line has the form `<ISO-8601 timestamp>  CEF:0|Anaplan, Inc.||null|<eventTypeId>|<message>|<key=value extensions>`, where the extension carries the event fields (`id`, `userId`, `tenantId`, `success`, `additionalAttributes`, ...). Unlike the JSON response, the CEF output is not paginated: it returns every event in the requested window, ignores `limit`/`offset`, and has no `meta`/paging block."
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the query parameters or request body are invalid. For example, a queried date range longer than 30 days (`dateFrom`/`dateTo`, or `intervalInHours`/`interval` above 720 hours) returns `status` `FAILURE_BAD_REQUEST` with message `Date range cannot exceed 30 days`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, or the authenticated user is not authorized. The Audit API returns 401 (not 403) when the user lacks the Tenant Auditor role — check `status` in the response body to distinguish an invalid token from a missing role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AnaplanAuthToken": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/events/search": {
      "post": {
        "summary": "Search audit events",
        "description": "Retrieves audit events for the tenant associated with the authenticated user using a JSON request body to specify the time range. Use `from`/`to` for a specific date range, or `interval` for a rolling window in hours. Use `type` query parameter to filter by event category.\n\nSet `Accept: text/plain` to receive results in Common Event Format (CEF). Default is `application/json`.",
        "operationId": "searchAuditEvents",
        "tags": [
          "Audit Events"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of events to return. Same vocabulary as the `type` filter on `GET /events` (each value matches an `eventTypeId` prefix): `all`, `user_activity`, `access_control`, `int`, `conn_mgmt`, `comment`, `byok`, `plan_iq`, `forecaster`. The values were confirmed against `GET /events`; the enum is not enforced server-side.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "user_activity",
                "access_control",
                "int",
                "conn_mgmt",
                "comment",
                "byok",
                "plan_iq",
                "forecaster"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventsResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Audit events in Common Event Format (CEF), one event per line. Each line has the form `<ISO-8601 timestamp>  CEF:0|Anaplan, Inc.||null|<eventTypeId>|<message>|<key=value extensions>`, where the extension carries the event fields (`id`, `userId`, `tenantId`, `success`, `additionalAttributes`, ...). Unlike the JSON response, the CEF output is not paginated: it returns every event in the requested window, ignores `limit`/`offset`, and has no `meta`/paging block."
                }
              }
            }
          },
          "400": {
            "description": "Bad request — the query parameters or request body are invalid. For example, a queried date range longer than 30 days (`dateFrom`/`dateTo`, or `intervalInHours`/`interval` above 720 hours) returns `status` `FAILURE_BAD_REQUEST` with message `Date range cannot exceed 30 days`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, or the authenticated user is not authorized. The Audit API returns 401 (not 403) when the user lacks the Tenant Auditor role — check `status` in the response body to distinguish an invalid token from a missing role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "AnaplanAuthToken": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuditEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique event identifier (Snowflake ID)."
          },
          "eventTypeId": {
            "type": "string",
            "description": "Event type code (for example, `DSM-DAO0267I`, `USR-04`)."
          },
          "userId": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "objectId": {
            "type": "string",
            "description": "ID of the object acted upon, if applicable."
          },
          "objectTypeId": {
            "type": "string",
            "description": "Type of the object acted upon, if applicable."
          },
          "objectTenantId": {
            "type": "string",
            "description": "Tenant ID of the object acted upon."
          },
          "additionalAttributes": {
            "type": "object",
            "additionalProperties": true,
            "description": "Event-type-specific attributes as a free-form map. Keys vary by event type (for example, `clientName` on token events)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable description of the event."
          },
          "success": {
            "type": "boolean"
          },
          "errorNumber": {
            "type": "string",
            "description": "Error code, if the action failed."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address from which the action was performed."
          },
          "userAgent": {
            "type": "string"
          },
          "sessionId": {
            "type": "string",
            "description": "Session identifier, if applicable."
          },
          "hostName": {
            "type": "string",
            "description": "Hostname of the server that recorded the event."
          },
          "serviceVersion": {
            "type": "string",
            "description": "Version of the Anaplan service that generated the event."
          },
          "eventDate": {
            "type": "integer",
            "description": "Timestamp when the event occurred (Unix milliseconds, UTC)."
          },
          "eventTimeZone": {
            "type": "string",
            "description": "Time zone of `eventDate` (for example, `UTC`)."
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the event was stored in the audit database (Unix milliseconds, UTC)."
          },
          "createdTimeZone": {
            "type": "string",
            "description": "Time zone of `createdDate` (for example, `UTC`)."
          },
          "checksum": {
            "type": "string",
            "description": "Checksum for verifying event record integrity. Returned as a numeric string (live testing showed a short integer value, not a SHA-256 hash)."
          }
        }
      },
      "AuditPaging": {
        "type": "object",
        "description": "Pagination metadata included in audit event list responses.",
        "required": [
          "currentPageSize",
          "totalSize",
          "offSet"
        ],
        "properties": {
          "currentPageSize": {
            "type": "integer"
          },
          "totalSize": {
            "type": "integer",
            "description": "Total number of results matching the query."
          },
          "offSet": {
            "type": "integer",
            "description": "Zero-based index of the first result in this page."
          },
          "nextOffset": {
            "type": "integer",
            "description": "Offset to use to retrieve the next page, if more results exist."
          },
          "nextUrl": {
            "type": "string"
          },
          "previousUrl": {
            "type": "string",
            "description": "URL to call to retrieve the previous page of results. Present once paging past the first page (offset > 0)."
          }
        }
      },
      "AuditEventsResponse": {
        "type": "object",
        "description": "Response envelope for audit event list and search endpoints.",
        "required": [
          "response"
        ],
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "paging": {
                "$ref": "#/components/schemas/AuditPaging"
              }
            }
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            },
            "description": "Array of audit event records."
          }
        }
      },
      "AuditErrorResponse": {
        "type": "object",
        "description": "Error response returned by the Audit API. The `status` field identifies the error type. `FAILURE_UNAUTHORIZED_USER_ACTION` indicates the token was accepted but the user lacks the Tenant Auditor role (returned as 401, not 403).",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error type code (for example, `FAILURE_UNAUTHORIZED_USER_ACTION`)."
          },
          "statusMessage": {
            "type": "string",
            "description": "Human-readable error description."
          }
        }
      },
      "AuditSearchRequest": {
        "type": "object",
        "description": "Request body for the POST /events/search endpoint. Specify `from`/`to` for a date range or `interval` for a rolling window. If `to` is omitted, results up to the current time are returned. If `from` is omitted, results from the earliest available event are returned.",
        "properties": {
          "from": {
            "type": "integer",
            "description": "Start of the event date range (Unix timestamp in milliseconds, UTC)."
          },
          "to": {
            "type": "integer",
            "description": "End of the event date range (Unix timestamp in milliseconds, UTC)."
          },
          "interval": {
            "type": "integer",
            "description": "Return events from the previous N hours."
          }
        }
      }
    },
    "securitySchemes": {
      "AnaplanAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Anaplan authentication token. Format: `AnaplanAuthToken {token}`"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
