{
  "openapi": "3.0.0",
  "info": {
    "title": "Anaplan CloudWorks API",
    "version": "2.0.0",
    "description": "The Anaplan CloudWorks API enables you to create your own connections and integrations with Anaplan CloudWorks, supporting data movement between cloud storage services (Amazon S3, Google BigQuery, Azure Blob Storage) and Anaplan models.\n\n**Base URL**: Both `https://api.cloudworks.anaplan.com/2/0/` and `https://api.anaplan.com/cloudworks/2/0/` are active. The `api.cloudworks.anaplan.com` form is listed first. Both `AnaplanAuthToken` and `Bearer` (with an AnaplanAuthToken value) are accepted.\n\n**Date and time formats used across this API:**\n- `startDate` / `endDate` on run records: ISO 8601 UTC with milliseconds — `YYYY-MM-DDTHH:MM:SS.sssZ`\n- `lastRun` on run records: Unix timestamp integer (seconds since epoch)\n- `createdDate` / `modifiedDate` on integration flow steps: space-separated timestamp with timezone — `YYYY-MM-DD HH:MM:SS.uuuuuu+00:00`\n- `schedule.nextScheduleDate` and similar date-only fields: ISO 8601 date — `YYYY-MM-DD`\n\n**ID formats used across this API:**\n- Most entity IDs (`integrationId`, `connectionId`, `workspaceId`, `notificationId`, flow `id`, run `id`, `traceId`, `userGuid`): 32-character lowercase hex\n- `modelId`: 32-character **uppercase** hex (the only uppercase ID in the API)\n- `processId`, `actionId`, `fileId`: numeric string"
  },
  "servers": [
    {
      "url": "https://api.cloudworks.anaplan.com/2/0",
      "description": "CloudWorks API primary base URL"
    },
    {
      "url": "https://api.anaplan.com/cloudworks/2/0",
      "description": "CloudWorks API alternative base URL"
    }
  ],
  "security": [
    {
      "AnaplanAuthToken": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/integrations/connections": {
      "get": {
        "summary": "Get connections",
        "description": "Minimum role: Restricted Integration User.\n\nRetrieve all connections available to the authenticated user.",
        "operationId": "getConnections",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "List of connections.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "connections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connectionId": {
                            "type": "string"
                          },
                          "connectionType": {
                            "type": "string",
                            "enum": [
                              "AmazonS3",
                              "GoogleBigQuery",
                              "AzureBlob"
                            ]
                          },
                          "body": {
                            "type": "object",
                            "description": "Connection-type-specific fields. For AzureBlob includes `name`, `storageAccountName`, `containerName`, and `authMethod` (camelCase in response, contrasting with snake_case `auth_method` in create/update requests)."
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modificationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "status": {
                            "description": "Connection health: 1 = active, 0 = error.",
                            "type": "integer"
                          },
                          "integrationErrorCode": {
                            "description": "Error code set when `status` is 0; null when the connection is healthy.",
                            "type": "integer",
                            "nullable": true
                          },
                          "workspaceId": {
                            "description": "Anaplan workspace ID for restricted-user connections; null for unrestricted connections.",
                            "type": "string",
                            "nullable": true
                          },
                          "authMethod": {
                            "description": "Authentication method used by this connection (denormalized from `body.authMethod`). `\"SAS-based\"` for SAS-token connections; null for connections created before this field was introduced.",
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PagingMeta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Create a connection",
        "description": "Minimum role: Restricted Integration User.\n\nCreate a new connection to Amazon S3, Google BigQuery, or Azure Blob Storage for use in CloudWorks integrations.",
        "operationId": "createConnection",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "Amazon S3 connection",
                    "type": "object",
                    "required": [
                      "type",
                      "body"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "AmazonS3"
                        ],
                        "description": "Connection type."
                      },
                      "body": {
                        "type": "object",
                        "required": [
                          "name",
                          "accessKeyId",
                          "secretAccessKey",
                          "bucketName"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Unique connection name.",
                            "example": "test_credentials_1"
                          },
                          "accessKeyId": {
                            "type": "string",
                            "description": "Amazon S3 Access Key ID.",
                            "example": "ALMNW18ERR9QQ89SS00H"
                          },
                          "secretAccessKey": {
                            "type": "string",
                            "description": "Amazon S3 Secret Access Key."
                          },
                          "bucketName": {
                            "type": "string",
                            "description": "Amazon S3 bucket name.",
                            "example": "samplebucket"
                          },
                          "roleArn": {
                            "type": "string",
                            "description": "Amazon S3 Role ARN (optional).",
                            "example": "arn:aws:iam::123475742:role/sampleReadOnly"
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Anaplan workspace ID. Required for restricted integration users. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`).",
                            "example": "c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6"
                          }
                        }
                      }
                    }
                  },
                  {
                    "title": "Google BigQuery connection",
                    "type": "object",
                    "required": [
                      "type",
                      "body"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "GoogleBigQuery"
                        ]
                      },
                      "body": {
                        "type": "object",
                        "required": [
                          "name",
                          "serviceAccountKey",
                          "dataset"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Unique connection name."
                          },
                          "serviceAccountKey": {
                            "type": "object",
                            "description": "Google service account key JSON.",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "service_account"
                              },
                              "projectId": {
                                "type": "string"
                              },
                              "privateKeyId": {
                                "type": "string"
                              },
                              "privateKey": {
                                "type": "string"
                              },
                              "clientEmail": {
                                "type": "string"
                              },
                              "clientId": {
                                "type": "string"
                              },
                              "authUri": {
                                "type": "string"
                              },
                              "tokenUri": {
                                "type": "string"
                              },
                              "authProviderX509CertUrl": {
                                "type": "string"
                              },
                              "clientX509CertUrl": {
                                "type": "string"
                              }
                            }
                          },
                          "dataset": {
                            "type": "string",
                            "description": "BigQuery dataset name."
                          },
                          "workspaceId": {
                            "type": "string",
                            "description": "Anaplan workspace ID. Required for restricted integration users. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`)."
                          }
                        }
                      }
                    }
                  },
                  {
                    "title": "Azure Blob Storage connection",
                    "type": "object",
                    "required": [
                      "type",
                      "body"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "AzureBlob"
                        ]
                      },
                      "body": {
                        "oneOf": [
                          {
                            "title": "SAS-based authentication",
                            "type": "object",
                            "required": [
                              "name",
                              "storageAccountName",
                              "containerName",
                              "auth_method",
                              "sasToken"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Unique connection name."
                              },
                              "auth_method": {
                                "type": "string",
                                "enum": [
                                  "SAS-based"
                                ],
                                "default": "SAS-based",
                                "description": "Authentication method. `\"SAS-based\"` uses a Shared Access Signature token and is the backwards-compatible default. This field became required in a recent CloudWorks update that introduced OAuth 2.0 support."
                              },
                              "storageAccountName": {
                                "type": "string",
                                "description": "Azure Storage account name."
                              },
                              "sasToken": {
                                "type": "string",
                                "description": "Azure Shared Access Signature token. Required when `auth_method` is `\"SAS-based\"`."
                              },
                              "containerName": {
                                "type": "string",
                                "description": "Azure Blob container name."
                              },
                              "workspaceId": {
                                "type": "string",
                                "description": "Anaplan workspace ID. Required for restricted integration users. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`)."
                              }
                            }
                          },
                          {
                            "title": "OAuth 2.0 authentication (property names unconfirmed)",
                            "type": "object",
                            "required": [
                              "name",
                              "storageAccountName",
                              "containerName",
                              "auth_method",
                              "clientId",
                              "clientSecret",
                              "tenantId"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Unique connection name."
                              },
                              "auth_method": {
                                "type": "string",
                                "not": {
                                  "enum": [
                                    "SAS-based"
                                  ]
                                },
                                "description": "Authentication method for OAuth 2.0. The Anaplan UI selects `\"Oauth2\"` for this variant, but the exact API-level value has not been confirmed via live testing. Must not be `\"SAS-based\"`."
                              },
                              "storageAccountName": {
                                "type": "string",
                                "description": "Azure Storage account name."
                              },
                              "containerName": {
                                "type": "string",
                                "description": "Azure Blob container name."
                              },
                              "clientId": {
                                "type": "string",
                                "description": "Azure app registration Client ID (from Microsoft Entra ID application Overview). Property name inferred from Anaplan UI docs — exact API key name unconfirmed."
                              },
                              "clientSecret": {
                                "type": "string",
                                "description": "Azure app registration client secret (from Certificates & secrets). Property name inferred from Anaplan UI docs — exact API key name unconfirmed."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "Azure Tenant ID (from Microsoft Entra ID application Overview). Property name inferred from Anaplan UI docs — exact API key name unconfirmed."
                              },
                              "workspaceId": {
                                "type": "string",
                                "description": "Anaplan workspace ID. Required for restricted integration users. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`)."
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "connectionId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/integrations/connections/{connectionId}": {
      "parameters": [
        {
          "name": "connectionId",
          "in": "path",
          "description": "Connection identifier. From `GET /integrations/connections`.",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5"
        }
      ],
      "put": {
        "summary": "Edit a connection",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "editConnection",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Updated connection details. Shape mirrors the create request body for the relevant connection type."
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "summary": "Patch a connection",
        "description": "Minimum role: Restricted Integration User.\n\nPartially update one or more fields of an existing connection.",
        "operationId": "patchConnection",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Connections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Fields to update. Only supplied fields are modified."
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a connection",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "deleteConnection",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/integrations": {
      "get": {
        "summary": "Get all integrations",
        "description": "Minimum role: Restricted Integration User.\n\nRetrieve all integrations. Returns 25 integrations if `offset` and `limit` are not provided.",
        "operationId": "getIntegrations",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip. First element is 0.",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of integrations to return.",
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "myIntegrations",
            "in": "query",
            "description": "Set to `1` to return only the current user's integrations.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field. Prefix with `-` for descending order. Example: `name` (ascending) or `-name` (descending).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PagingMeta"
                    }
                  }
                },
                "example": {
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "integrations": [
                    {
                      "integrationId": "e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2a",
                      "name": "sample import integration",
                      "createdBy": "John Smith",
                      "creationDate": "2020-09-29T01:31:16.000Z",
                      "modificationDate": "2020-09-29T01:31:26.000Z",
                      "modifiedBy": "John Smith",
                      "latestRun": {
                        "triggeredBy": "John Smith",
                        "startDate": "2020-09-28T23:09:31.000Z",
                        "endDate": "2020-09-28T23:13:07.000Z",
                        "success": true,
                        "message": "Success",
                        "executionErrorCode": null
                      },
                      "notificationId": "f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c4",
                      "nuxVisible": false
                    }
                  ],
                  "meta": {
                    "paging": {
                      "currentPageSize": 1,
                      "totalSize": 1,
                      "offset": 0
                    },
                    "schema": "https://api.cloudworks.anaplan.com/1/0/integrations/objects/integrations"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Create an integration",
        "description": "Minimum role: Restricted Integration User.\n\nCreate a new import/export integration or process integration. For process integrations, include `processId` in the request body. The `jobs` array is required for import/export integrations and optional (0 or more) for process integrations.",
        "operationId": "createIntegration",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "version",
                  "workspaceId",
                  "modelId"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Integration name.",
                    "example": "sample import integration"
                  },
                  "version": {
                    "type": "string",
                    "description": "Schema version. Must be `2.0`.",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "workspaceId": {
                    "type": "string",
                    "description": "Anaplan workspace ID. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`).",
                    "example": "8a80db657068fjef01718955f3b3390b"
                  },
                  "modelId": {
                    "type": "string",
                    "description": "Anaplan model ID. From `GET /models` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`models[].id`).",
                    "example": "E559BFF3B1GD4RKE874P745BEL259711"
                  },
                  "processId": {
                    "type": "string",
                    "description": "Anaplan process ID. Required for process integrations. From `GET /models/{modelId}/processes` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`processes[].id`).",
                    "example": "118000000001"
                  },
                  "nuxVisible": {
                    "type": "boolean",
                    "description": "Whether the integration is visible in the CloudWorks UI.",
                    "default": false
                  },
                  "jobs": {
                    "type": "array",
                    "description": "Import/export job definitions. Required for import/export integrations; optional for process integrations.",
                    "items": {
                      "$ref": "#/components/schemas/Job"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrationId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/integrations/{integrationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ],
      "get": {
        "summary": "Get integration by ID",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getIntegrationById",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "Integration details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integration": {
                      "$ref": "#/components/schemas/IntegrationDetail"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Edit an integration",
        "description": "Minimum role: Restricted Integration User.\n\nFull update of an integration or process integration. The request body replaces all editable fields.",
        "operationId": "editIntegration",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "version",
                  "workspaceId",
                  "modelId"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "workspaceId": {
                    "type": "string",
                    "description": "Anaplan workspace ID. From `GET /workspaces` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`workspaces[].id`)."
                  },
                  "modelId": {
                    "type": "string",
                    "description": "Anaplan model ID. From `GET /models` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`models[].id`)."
                  },
                  "processId": {
                    "type": "string",
                    "description": "Anaplan process ID. Required for process integrations. From `GET /models/{modelId}/processes` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`processes[].id`)."
                  },
                  "nuxVisible": {
                    "type": "boolean"
                  },
                  "jobs": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Job"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete an integration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "deleteIntegration",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/integrations/anaplanModels/{modelId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Anaplan model ID. From `GET /models` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2).",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "E559BFF3B1GD4RKE874P745BEL259711"
        }
      ],
      "get": {
        "summary": "Get integrations by model ID",
        "description": "Minimum role: Restricted Integration User.\n\n**Deprecated:** This endpoint is no longer served — it returns an HTTP 404 from the gateway for any modelId, under every role. Retained in the spec for historical completeness; do not call it. See cloudworks/README.md for details.",
        "operationId": "getIntegrationsByModel",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "Integrations associated with the model.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "deprecated": true
      }
    },
    "/integrations/{integrationId}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ],
      "post": {
        "summary": "Run an integration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "runIntegration",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "No request body required."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration run started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "hy40d89893084f0dkb985cmme9i5io2a"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/integrations/{integrationId}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ],
      "post": {
        "summary": "Cancel a running integration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "cancelIntegration",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "Integration cancelled.",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": {
                    "integration_id": "e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b3",
                    "state": "cancelled"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{integrationId}/schedule": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ],
      "post": {
        "summary": "Create an integration schedule",
        "description": "Minimum role: Restricted Integration User.\n\nCreate a schedule for an integration. Supports a maximum of one schedule per integration. Schedule types: `weekly`, `daily`, `hourly`, `monthly_specific_day`, `monthly_relative_weekday`.",
        "operationId": "createSchedule",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "schedule"
                ],
                "properties": {
                  "integrationId": {
                    "type": "string",
                    "description": "Integration ID (may be included in body as well as path). From `GET /integrations` (`integrations[].integrationId`)."
                  },
                  "schedule": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Update an integration schedule",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "updateSchedule",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Schedules"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "schedule"
                ],
                "properties": {
                  "schedule": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete an integration schedule",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "deleteSchedule",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{integrationId}/schedule/status/{status}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        },
        {
          "name": "status",
          "in": "path",
          "description": "Desired schedule status.",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ]
          }
        }
      ],
      "post": {
        "summary": "Set schedule status",
        "description": "Minimum role: Restricted Integration User.\n\nEnable or disable the schedule for an integration.",
        "operationId": "setScheduleStatus",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/runs/{integrationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationId"
        }
      ],
      "get": {
        "summary": "Get integration run history",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getRunHistory",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip. First element is 0.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of run records to return.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Run history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "history_of_runs": {
                      "type": "object",
                      "properties": {
                        "integrationId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "integrationType": {
                          "description": "Integration type.",
                          "type": "string",
                          "enum": [
                            "Process",
                            "Export",
                            "Import"
                          ]
                        },
                        "processId": {
                          "description": "Anaplan process ID; present only for Process integrations.",
                          "type": "string"
                        },
                        "version": {
                          "description": "Integration schema version; currently \"2.0\".",
                          "type": "string"
                        },
                        "schedule": {
                          "type": "object",
                          "nullable": true
                        },
                        "workspaceId": {
                          "type": "string"
                        },
                        "modelId": {
                          "type": "string"
                        },
                        "creationDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "modificationDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "modifiedBy": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer"
                        },
                        "notificationId": {
                          "type": "string"
                        },
                        "runs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/RunRecord"
                          }
                        },
                        "totalRuns": {
                          "type": "integer"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PagingMeta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/runerror/{runId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "summary": "Get integration run errors",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getRunErrors",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "History"
        ],
        "responses": {
          "200": {
            "description": "Run error details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "runs": {
                      "description": "Array of error records when errors exist. **Note (live-tested June 2026):** Returns `{}` (empty object, not empty array) when the run completed without errors. Treat both `{}` and `[]` as \"no errors\".",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "errorMessages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "errorMessage": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "localMessageText": {
                                        "type": "string"
                                      },
                                      "occurrences": {
                                        "type": "integer"
                                      },
                                      "type": {
                                        "type": "string"
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {}
                                      }
                                    }
                                  }
                                },
                                "actionId": {
                                  "type": "string"
                                },
                                "actionName": {
                                  "type": "string"
                                },
                                "failureDumpGenerated": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "creationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modificationDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "modifiedBy": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/notification": {
      "post": {
        "summary": "Create a notification configuration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "createNotification",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification configuration created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "notificationId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/integrations/notification/{notificationId}": {
      "parameters": [
        {
          "name": "notificationId",
          "in": "path",
          "description": "Notification configuration identifier. From `GET /integrations/notification`, or the `notificationId` field on each item of `GET /integrations`.",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3"
        }
      ],
      "get": {
        "summary": "Get a notification configuration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getNotification",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Notification configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "notifications": {
                      "$ref": "#/components/schemas/NotificationConfig"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Edit a notification configuration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "editNotification",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete a notification configuration",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "deleteNotification",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/run/{runId}/dumps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RunId"
        }
      ],
      "get": {
        "summary": "Get an import error log",
        "description": "Minimum role: Restricted Integration User.\n\nRetrieve the import error log (dump file) for a specific run. The response body contains a CSV-formatted error log.",
        "operationId": "getImportErrorLog",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Error Logs"
        ],
        "responses": {
          "200": {
            "description": "Import error log.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/run/{runId}/process/import/{actionId}/dumps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RunId"
        },
        {
          "name": "actionId",
          "in": "path",
          "description": "Anaplan action ID of the import step whose error log to fetch. Because this endpoint returns an import error log, the action is always an import: from `GET /models/{modelId}/imports` (`imports[].id`) in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2).",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "112000000011"
        }
      ],
      "get": {
        "summary": "Get a process error log",
        "description": "Minimum role: Restricted Integration User.\n\nRetrieve the process import error log (dump file) for a specific run and action.",
        "operationId": "getProcessErrorLog",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Error Logs"
        ],
        "responses": {
          "200": {
            "description": "Process error log.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrationflows": {
      "get": {
        "summary": "Get all integration flows",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getIntegrationFlows",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of flows to return.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of integration flows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrationFlows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationFlowSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PagingMeta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "summary": "Create an integration flow",
        "description": "Minimum role: Restricted Integration User.\n\nCreate a new multi-step integration flow. Requires at least two enabled steps.",
        "operationId": "createIntegrationFlow",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "version",
                  "type",
                  "steps"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the integration flow.",
                    "example": "test-integration-flow-name"
                  },
                  "version": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "IntegrationFlow"
                    ]
                  },
                  "steps": {
                    "type": "array",
                    "description": "Flow steps. Minimum 2 items.",
                    "minItems": 2,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "referrer",
                        "isSkipped",
                        "exceptionBehavior"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Step resource type.",
                          "enum": [
                            "Integration"
                          ]
                        },
                        "referrer": {
                          "type": "string",
                          "description": "The integration ID that this step references."
                        },
                        "dependsOn": {
                          "type": "array",
                          "description": "IDs of steps this step depends on.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isSkipped": {
                          "type": "boolean",
                          "description": "Whether to skip this step.",
                          "default": false
                        },
                        "exceptionBehavior": {
                          "type": "array",
                          "description": "Defines flow behavior when this step fails or partially succeeds.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "failure",
                                  "partial_success"
                                ]
                              },
                              "strategy": {
                                "type": "string",
                                "enum": [
                                  "stop",
                                  "continue"
                                ],
                                "description": "Default for `failure` is `stop`; default for `partial_success` is `continue`."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration flow created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrationFlow": {
                      "type": "object",
                      "properties": {
                        "integrationFlowId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/integrationflows/{integrationFlowId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationFlowId"
        }
      ],
      "get": {
        "summary": "Get an integration flow by ID",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "getIntegrationFlowById",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "responses": {
          "200": {
            "description": "Integration flow details including all step definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "integrationFlow": {
                      "$ref": "#/components/schemas/IntegrationFlowDetail"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PagingMeta"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Edit an integration flow",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "editIntegrationFlow",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Updated integration flow. Shape mirrors the create request body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Delete an integration flow",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "deleteIntegrationFlow",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessStatus"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrationflows/{integrationFlowId}/run": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IntegrationFlowId"
        }
      ],
      "post": {
        "summary": "Run an integration flow",
        "description": "Minimum role: Restricted Integration User.",
        "operationId": "runIntegrationFlow",
        "x-anaplan-min-role": "Restricted Integration User",
        "tags": [
          "Integration Flows"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stepsToRun": {
                    "type": "array",
                    "description": "Optional subset of step IDs to run. If omitted, all steps run.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration flow run started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "run": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Status": {
        "description": "Response envelope present on every successful CloudWorks operation.",
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Success"
          }
        }
      },
      "ErrorStatus": {
        "description": "Error envelope returned on 4xx/5xx responses.",
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "description": "Human-readable error description.",
                "type": "string"
              }
            }
          }
        }
      },
      "Job": {
        "type": "object",
        "required": [
          "type",
          "sources",
          "targets"
        ],
        "description": "An import or export job within an integration.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "AmazonS3ToAnaplan",
              "AnaplanToAmazonS3",
              "GoogleBigQueryToAnaplan",
              "AnaplanToGoogleBigQuery",
              "AzureBlobToAnaplan",
              "AnaplanToAzureBlob"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "AmazonS3",
                    "GoogleBigQuery",
                    "AzureBlob",
                    "Anaplan"
                  ]
                },
                "connectionId": {
                  "type": "string",
                  "description": "32-character lowercase hex connection ID. Present when source is a cloud storage type. From `GET /integrations/connections` (`connections[].connectionId`)."
                },
                "file": {
                  "type": "string",
                  "description": "File path within the cloud storage container."
                },
                "table": {
                  "type": "string",
                  "description": "BigQuery table name. Present when source is GoogleBigQuery."
                },
                "actionId": {
                  "type": "string",
                  "description": "Numeric string Anaplan action ID, in the generic sense — an import, an export, or a (delete/sort/etc.) action. Present when source is Anaplan. Depending on the action type, from `GET /models/{modelId}/imports` (`imports[].id`), `GET /models/{modelId}/exports` (`exports[].id`), or `GET /models/{modelId}/actions` (`actions[].id`) in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2)."
                },
                "connectionName": {
                  "description": "Display name of the connection (read-only, present in GET responses).",
                  "type": "string"
                },
                "isConnectionDeleted": {
                  "description": "True if the referenced connection has been deleted (read-only, present in GET responses).",
                  "type": "boolean"
                },
                "bucketName": {
                  "description": "Container or bucket name for the cloud storage connection (read-only, present in GET responses). Named `bucketName` regardless of connection type — represents the Azure Blob container name for AzureBlob connections.",
                  "type": "string"
                }
              }
            }
          },
          "targets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "Anaplan",
                    "AmazonS3",
                    "GoogleBigQuery",
                    "AzureBlob"
                  ]
                },
                "actionId": {
                  "type": "string",
                  "description": "Numeric string Anaplan action ID, in the generic sense — an import, an export, or a (delete/sort/etc.) action. Present when target is Anaplan. Depending on the action type, from `GET /models/{modelId}/imports` (`imports[].id`), `GET /models/{modelId}/exports` (`exports[].id`), or `GET /models/{modelId}/actions` (`actions[].id`) in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2)."
                },
                "fileId": {
                  "type": "string",
                  "description": "Anaplan file ID. Present when target is Anaplan. From `GET /models/{modelId}/files` in the [Integration API](https://help.anaplan.com/integration-api-v20-3107aa54-d12b-4c48-9550-3561c84adbb2) (`files[].id`)."
                },
                "connectionId": {
                  "type": "string",
                  "description": "32-character lowercase hex connection ID. Present when target is a cloud storage type. From `GET /integrations/connections` (`connections[].connectionId`)."
                },
                "file": {
                  "type": "string"
                },
                "table": {
                  "type": "string"
                },
                "overwrite": {
                  "type": "boolean"
                },
                "connectionName": {
                  "description": "Display name of the connection (read-only, present in GET responses).",
                  "type": "string"
                },
                "isConnectionDeleted": {
                  "description": "True if the referenced connection has been deleted (read-only, present in GET responses).",
                  "type": "boolean"
                },
                "bucketName": {
                  "description": "Container or bucket name for the cloud storage connection (read-only, present in GET responses). Named `bucketName` regardless of connection type.",
                  "type": "string"
                }
              }
            }
          },
          "mapping": {
            "type": "array",
            "description": "Column mapping for BigQuery exports.",
            "items": {
              "type": "object",
              "properties": {
                "sourceName": {
                  "type": "string"
                },
                "targetName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Schedule": {
        "type": "object",
        "required": [
          "name",
          "type",
          "startDate",
          "endDate",
          "timezone"
        ],
        "description": "Schedule definition. Required fields vary by `type`.",
        "properties": {
          "name": {
            "type": "string",
            "example": "test schedule"
          },
          "type": {
            "type": "string",
            "enum": [
              "weekly",
              "daily",
              "hourly",
              "monthly_specific_day",
              "monthly_relative_weekday"
            ]
          },
          "time": {
            "type": "string",
            "description": "Run time in HH:MM format. Required for `weekly`, `daily`, `monthly_specific_day`, `monthly_relative_weekday`.",
            "example": "12:45"
          },
          "fromTime": {
            "type": "string",
            "description": "Start of hourly window in HH:MM format. Required for `hourly`.",
            "example": "20:00"
          },
          "toTime": {
            "type": "string",
            "description": "End of hourly window in HH:MM format. Required for `hourly`.",
            "example": "23:20"
          },
          "daysOfWeek": {
            "type": "array",
            "description": "Days of the week (0=Sunday). Required for `weekly`, `hourly`, `monthly_relative_weekday`.",
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6
            },
            "example": [
              0,
              6
            ]
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of the month (1–31). Required for `monthly_specific_day`.",
            "minimum": 1,
            "maximum": 31,
            "example": 12
          },
          "dayOfWeek": {
            "type": "integer",
            "description": "Day of the week (0=Sunday). Required for `monthly_relative_weekday`.",
            "minimum": 0,
            "maximum": 6
          },
          "repeatEvery": {
            "type": "integer",
            "description": "Repeat interval. Required for `monthly_relative_weekday` (nth weekday of month) and `hourly` (every N hours).",
            "example": 2
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Schedule start date.",
            "example": "2020-07-03"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Schedule end date.",
            "example": "2020-12-01"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone name.",
            "example": "Europe/Paris"
          },
          "status": {
            "description": "Schedule enabled/disabled state. Present in GET responses; not required in create/update requests.",
            "type": "string",
            "enum": [
              "Active",
              "Inactive"
            ]
          }
        }
      },
      "IntegrationSummary": {
        "description": "Summary view of an integration, returned in list responses.",
        "type": "object",
        "properties": {
          "integrationId": {
            "type": "string",
            "description": "32-character lowercase hex string uniquely identifying this integration.",
            "example": "e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
          },
          "name": {
            "type": "string"
          },
          "integrationType": {
            "type": "string",
            "enum": [
              "Process",
              "Export",
              "Import"
            ]
          },
          "processId": {
            "type": "string",
            "description": "Anaplan process ID (numeric string); present only for `Process` integrations.",
            "example": "118000000114"
          },
          "workspaceId": {
            "type": "string",
            "description": "32-character lowercase hex Anaplan workspace ID."
          },
          "modelId": {
            "type": "string",
            "description": "32-character **uppercase** hex Anaplan model ID. Note: `modelId` is the only ID field in CloudWorks that uses uppercase hex.",
            "example": "E559BFF3B1GD4RKE874P745BEL259711"
          },
          "createdBy": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "type": "string"
          },
          "latestRun": {
            "description": "Details of the most recent run; absent if the integration has never been run.",
            "type": "object",
            "properties": {
              "triggeredBy": {
                "description": "Display name of the user who triggered the run.",
                "type": "string"
              },
              "startDate": {
                "description": "ISO 8601 UTC datetime when the run started. Format: `YYYY-MM-DDTHH:MM:SS.sssZ`.",
                "type": "string",
                "format": "date-time",
                "example": "2026-06-19T01:30:16.000Z"
              },
              "endDate": {
                "description": "ISO 8601 UTC datetime when the run ended. Format: `YYYY-MM-DDTHH:MM:SS.sssZ`.",
                "type": "string",
                "format": "date-time",
                "example": "2026-06-19T01:31:21.000Z"
              },
              "success": {
                "type": "boolean"
              },
              "message": {
                "description": "Outcome message. Common values: `\"Success\"`, `\"Cancelled\"`, `\"Process failed\"`, `\"Anaplan model was deleted\"`. Partial-success imports include row counts in this field even when `success` is `true`.",
                "type": "string",
                "example": "Success"
              },
              "executionErrorCode": {
                "description": "Numeric error code. Null on full success. Known values: `12` (import data-type mismatch), `35`, `38` (partial success), `39`.",
                "type": "integer",
                "nullable": true,
                "example": 12
              },
              "triggerSource": {
                "description": "What triggered this run. `scheduled` = integration's own schedule; `manual` = user-initiated from the CloudWorks UI or API; `scheduled_inf` = triggered by an integration flow's schedule; `manual_inf` = manually triggered from within an integration flow; `nux_dashboard` = triggered from the CloudWorks NUX dashboard.",
                "type": "string",
                "enum": [
                  "scheduled",
                  "manual",
                  "scheduled_inf",
                  "manual_inf",
                  "nux_dashboard"
                ],
                "example": "scheduled"
              }
            }
          },
          "notificationId": {
            "description": "32-character lowercase hex ID of the notification configuration attached to this integration, if any.",
            "type": "string"
          },
          "nuxVisible": {
            "description": "Whether this integration is visible in the CloudWorks UI.",
            "type": "boolean"
          },
          "schedule": {
            "description": "Active schedule for this integration, if one has been configured.",
            "$ref": "#/components/schemas/Schedule"
          }
        }
      },
      "IntegrationDetail": {
        "description": "Full integration details, returned by the get-by-ID endpoint. Extends IntegrationSummary.",
        "allOf": [
          {
            "$ref": "#/components/schemas/IntegrationSummary"
          },
          {
            "type": "object",
            "properties": {
              "workspaceId": {
                "type": "string"
              },
              "modelId": {
                "type": "string"
              },
              "version": {
                "description": "Integration schema version; currently \"2.0\".",
                "type": "string"
              },
              "jobs": {
                "description": "Import/export job definitions; empty for process integrations.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Job"
                }
              },
              "schedule": {
                "$ref": "#/components/schemas/Schedule"
              }
            }
          }
        ]
      },
      "RunRecord": {
        "description": "Record of a single integration run, returned in run history responses.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "32-character lowercase hex run ID."
          },
          "triggeredBy": {
            "description": "Display name of the user who triggered the run.",
            "type": "string"
          },
          "lastRun": {
            "type": "integer",
            "description": "Unix timestamp (seconds since epoch) of when this run ended. Duplicates `endDate` in epoch form.",
            "example": 1781832681
          },
          "startDate": {
            "description": "ISO 8601 UTC datetime when the run started. Format: `YYYY-MM-DDTHH:MM:SS.sssZ`.",
            "type": "string",
            "format": "date-time",
            "example": "2026-06-19T01:30:16.000Z"
          },
          "endDate": {
            "description": "ISO 8601 UTC datetime when the run ended. Format: `YYYY-MM-DDTHH:MM:SS.sssZ`.",
            "type": "string",
            "format": "date-time",
            "example": "2026-06-19T01:31:21.000Z"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "description": "Outcome message. Common values: `\"Success\"`, `\"Cancelled\"`, `\"Process failed\"`, `\"Anaplan model was deleted\"`. Partial-success imports include row counts here even when `success` is `true`.",
            "type": "string",
            "example": "Success"
          },
          "executionErrorCode": {
            "description": "Numeric error code. Null on full success. Known values: `12` (import data-type mismatch), `35`, `38` (partial success), `39`.",
            "type": "integer",
            "nullable": true,
            "example": 12
          },
          "traceId": {
            "description": "32-character lowercase hex trace identifier, useful for support diagnostics.",
            "type": "string"
          },
          "triggerSource": {
            "description": "What caused this run: `scheduled` (integration's own schedule), `manual` (user-initiated), or `scheduled_inf` (triggered by an integration flow schedule).",
            "type": "string",
            "enum": [
              "scheduled",
              "manual",
              "scheduled_inf"
            ],
            "example": "scheduled"
          }
        }
      },
      "NotificationRequest": {
        "type": "object",
        "required": [
          "integrationIds",
          "channels",
          "notifications"
        ],
        "properties": {
          "integrationIds": {
            "type": "array",
            "description": "Integration IDs to attach this notification to. Currently supports a single ID. From `GET /integrations` (`integrations[].integrationId`).",
            "items": {
              "type": "string"
            },
            "example": [
              "e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b4"
            ]
          },
          "channels": {
            "type": "array",
            "description": "Notification channels.",
            "items": {
              "type": "string",
              "enum": [
                "email",
                "in_app"
              ]
            },
            "example": [
              "email",
              "in_app"
            ]
          },
          "notifications": {
            "description": "Notification rules; each entry in config maps an outcome type to the users to notify.",
            "type": "object",
            "required": [
              "config"
            ],
            "properties": {
              "config": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "The integration outcome that triggers notification: success, partial_failure, or full_failure.",
                      "type": "string",
                      "enum": [
                        "success",
                        "partial_failure",
                        "full_failure"
                      ]
                    },
                    "users": {
                      "type": "array",
                      "description": "User GUIDs to notify.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NotificationConfig": {
        "description": "Notification configuration as returned by the API. Mirrors NotificationRequest plus resolved user details.",
        "type": "object",
        "properties": {
          "notificationId": {
            "type": "string"
          },
          "integrationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notifications": {
            "type": "object",
            "properties": {
              "config": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userGuid": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PagingMeta": {
        "description": "Pagination metadata block returned with list responses.",
        "type": "object",
        "properties": {
          "paging": {
            "type": "object",
            "properties": {
              "currentPageSize": {
                "type": "integer"
              },
              "totalSize": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          },
          "tenantCurrentCount": {
            "description": "Total number of integrations (including integration flows) in the tenant. Present in GET /integrations responses.",
            "type": "integer"
          },
          "tenantMaxAllowed": {
            "description": "Maximum number of integrations allowed for this tenant. Present in GET /integrations responses.",
            "type": "integer"
          },
          "schema": {
            "description": "URL to the JSON schema definition for this response type.",
            "type": "string"
          }
        }
      },
      "IntegrationFlowSummary": {
        "description": "Summary view of an integration flow, returned in the GET /integrationflows list response.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the integration flow.",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "type": "string"
          },
          "nuxVisible": {
            "description": "Whether this integration flow is visible in the CloudWorks UI.",
            "type": "boolean"
          },
          "stepsCount": {
            "description": "Number of steps defined in this integration flow.",
            "type": "integer"
          },
          "latestRun": {
            "description": "Details of the most recent run; absent if the flow has never been run.",
            "type": "object",
            "properties": {
              "triggeredBy": {
                "type": "string"
              },
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time"
              },
              "success": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              },
              "executionErrorCode": {
                "type": "integer",
                "nullable": true
              },
              "triggerSource": {
                "type": "string",
                "enum": [
                  "scheduled",
                  "manual",
                  "scheduled_inf"
                ]
              }
            }
          },
          "schedule": {
            "description": "Active schedule for this integration flow, if configured.",
            "$ref": "#/components/schemas/Schedule"
          }
        }
      },
      "IntegrationFlowDetail": {
        "description": "Full integration flow details including all step definitions. Returned by GET /integrationflows/{id}.",
        "allOf": [
          {
            "$ref": "#/components/schemas/IntegrationFlowSummary"
          },
          {
            "type": "object",
            "properties": {
              "version": {
                "description": "Schema version; currently \"2.0\".",
                "type": "string",
                "example": "2.0"
              },
              "steps": {
                "description": "Ordered step definitions for this integration flow.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "referrer": {
                      "description": "The integration ID referenced by this step.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Display name of the referenced integration.",
                      "type": "string"
                    },
                    "type": {
                      "description": "Integration type of the referenced integration.",
                      "type": "string",
                      "enum": [
                        "Process",
                        "Export",
                        "Import"
                      ]
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "createdDate": {
                      "description": "Creation timestamp. Format: 'YYYY-MM-DD HH:MM:SS.ffffff+00:00' (not ISO 8601).",
                      "type": "string"
                    },
                    "modifiedDate": {
                      "description": "Last modification timestamp. Same format as createdDate.",
                      "type": "string"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "nullable": true
                    },
                    "modelId": {
                      "type": "string"
                    },
                    "workspaceId": {
                      "type": "string"
                    },
                    "dependsOn": {
[...]
