openapi: 3.0.0
info:
  title: Anaplan CloudWorks API
  version: 2.0.0
  description: |-
    The Anaplan CloudWorks API enables you to create your own connections and integrations with Anaplan CloudWorks, supporting data movement between cloud storage services (Amazon S3, Google BigQuery, Azure Blob Storage) and Anaplan models.

    **Base URL note**: Apiary curl examples consistently use `https://api.cloudworks.anaplan.com/2/0/`. The Apiary production URL field references `https://api.anaplan.com/cloudworks/2/0/`. Live testing is needed to confirm which is canonical. See `cloudworks/README.md`.
servers:
- url: https://api.cloudworks.anaplan.com/2/0
  description: CloudWorks API (per Apiary curl examples â€” canonical pending live testing)
- url: https://api.anaplan.com/cloudworks/2/0
  description: Alternative base URL (per Apiary production URL field â€” open question)
security:
- AnaplanAuthToken: []
- BearerAuth: []
paths:
  /integrations/connections:
    post:
      summary: Create a connection
      operationId: createConnection
      tags:
      - Connections
      description: Create a new connection to Amazon S3, Google BigQuery, or Azure Blob Storage for use in CloudWorks integrations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Amazon S3 connection
                type: object
                required:
                - type
                - body
                properties:
                  type:
                    type: string
                    enum:
                    - AmazonS3
                    description: Connection type.
                  body:
                    type: object
                    required:
                    - name
                    - accessKeyId
                    - secretAccessKey
                    - bucketName
                    properties:
                      name:
                        type: string
                        description: Unique connection name.
                        example: test_credentials_1
                      accessKeyId:
                        type: string
                        description: Amazon S3 Access Key ID.
                        example: ALMNW18ERR9QQ89SS00H
                      secretAccessKey:
                        type: string
                        description: Amazon S3 Secret Access Key.
                      bucketName:
                        type: string
                        description: Amazon S3 bucket name.
                        example: samplebucket
                      roleArn:
                        type: string
                        description: Amazon S3 Role ARN (optional).
                        example: arn:aws:iam::123475742:role/sampleReadOnly
                      workspaceId:
                        type: string
                        description: Required for restricted integration users.
                        example: 2c9ba1a8719d5fbf01722b11d9385b1a
              - title: Google BigQuery connection
                type: object
                required:
                - type
                - body
                properties:
                  type:
                    type: string
                    enum:
                    - GoogleBigQuery
                  body:
                    type: object
                    required:
                    - name
                    - serviceAccountKey
                    - dataset
                    properties:
                      name:
                        type: string
                        description: Unique connection name.
                      serviceAccountKey:
                        type: object
                        description: Google service account key JSON.
                        properties:
                          type:
                            type: string
                            example: service_account
                          projectId:
                            type: string
                          privateKeyId:
                            type: string
                          privateKey:
                            type: string
                          clientEmail:
                            type: string
                          clientId:
                            type: string
                          authUri:
                            type: string
                          tokenUri:
                            type: string
                          authProviderX509CertUrl:
                            type: string
                          clientX509CertUrl:
                            type: string
                      dataset:
                        type: string
                        description: BigQuery dataset name.
                      workspaceId:
                        type: string
                        description: Required for restricted integration users.
              - title: Azure Blob Storage connection
                type: object
                required:
                - type
                - body
                properties:
                  type:
                    type: string
                    enum:
                    - AzureBlob
                  body:
                    oneOf:
                    - title: SAS-based authentication
                      type: object
                      required:
                      - name
                      - storageAccountName
                      - containerName
                      - auth_method
                      - sasToken
                      properties:
                        name:
                          type: string
                          description: Unique connection name.
                        auth_method:
                          type: string
                          enum:
                          - SAS-based
                          default: SAS-based
                          description: Authentication method. `"SAS-based"` uses a Shared Access Signature token and is the
                            backwards-compatible default. This field became required in a recent CloudWorks update that introduced
                            OAuth 2.0 support.
                        storageAccountName:
                          type: string
                          description: Azure Storage account name.
                        sasToken:
                          type: string
                          description: Azure Shared Access Signature token. Required when `auth_method` is `"SAS-based"`.
                        containerName:
                          type: string
                          description: Azure Blob container name.
                        workspaceId:
                          type: string
                          description: Required for restricted integration users.
                    - title: OAuth 2.0 authentication (property names unconfirmed)
                      type: object
                      required:
                      - name
                      - storageAccountName
                      - containerName
                      - auth_method
                      - clientId
                      - clientSecret
                      - tenantId
                      properties:
                        name:
                          type: string
                          description: Unique connection name.
                        auth_method:
                          type: string
                          not:
                            enum:
                            - SAS-based
                          description: Authentication method for OAuth 2.0. The Anaplan UI selects `"Oauth2"` for this variant,
                            but the exact API-level value has not been confirmed via live testing. Must not be `"SAS-based"`.
                        storageAccountName:
                          type: string
                          description: Azure Storage account name.
                        containerName:
                          type: string
                          description: Azure Blob container name.
                        clientId:
                          type: string
                          description: Azure app registration Client ID (from Microsoft Entra ID application Overview). Property
                            name inferred from Anaplan UI docs — exact API key name unconfirmed.
                        clientSecret:
                          type: string
                          description: Azure app registration client secret (from Certificates & secrets). Property name inferred
                            from Anaplan UI docs — exact API key name unconfirmed.
                        tenantId:
                          type: string
                          description: Azure Tenant ID (from Microsoft Entra ID application Overview). Property name inferred
                            from Anaplan UI docs — exact API key name unconfirmed.
                        workspaceId:
                          type: string
                          description: Required for restricted integration users.
      responses:
        '200':
          description: Connection created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  connectionId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get connections
      operationId: getConnections
      tags:
      - Connections
      description: Retrieve all connections available to the authenticated user.
      responses:
        '200':
          description: List of connections.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  connections:
                    type: array
                    items:
                      type: object
                      properties:
                        connectionId:
                          type: string
                        connectionType:
                          type: string
                          enum:
                          - AmazonS3
                          - GoogleBigQuery
                          - AzureBlob
                        body:
                          type: object
                        creationDate:
                          type: string
                          format: date-time
                        modificationDate:
                          type: string
                          format: date-time
                        createdBy:
                          type: string
                        modifiedBy:
                          type: string
                        status:
                          type: integer
        '403':
          $ref: '#/components/responses/Forbidden'
  /integrations/connections/{connectionId}:
    put:
      summary: Edit a connection
      operationId: editConnection
      tags:
      - Connections
      parameters:
      - $ref: '#/components/parameters/connectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Updated connection details. Shape mirrors the create request body for the relevant connection type.
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Patch a connection
      operationId: patchConnection
      tags:
      - Connections
      description: Partially update one or more fields of an existing connection.
      parameters:
      - $ref: '#/components/parameters/connectionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Fields to update. Only supplied fields are modified.
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a connection
      operationId: deleteConnection
      tags:
      - Connections
      parameters:
      - $ref: '#/components/parameters/connectionId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /integrations:
    post:
      summary: Create an integration
      operationId: createIntegration
      tags:
      - Integrations
      description: Create a new import/export integration or process integration. For process integrations, include `processId`
        in the request body. The `jobs` array is required for import/export integrations and optional (0 or more) for process
        integrations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - version
              - workspaceId
              - modelId
              properties:
                name:
                  type: string
                  description: Integration name.
                  example: sample import integration
                version:
                  type: string
                  description: Schema version. Must be `2.0`.
                  enum:
                  - '2.0'
                workspaceId:
                  type: string
                  description: Anaplan workspace ID.
                  example: 8a80db657068fjef01718955f3b3390b
                modelId:
                  type: string
                  description: Anaplan model ID.
                  example: E559BFF3B1GD4RKE874P745BEL259711
                processId:
                  type: string
                  description: Anaplan process ID. Required for process integrations.
                  example: '118000000001'
                nuxVisible:
                  type: boolean
                  description: Whether the integration is visible in the CloudWorks UI.
                  default: false
                jobs:
                  type: array
                  description: Import/export job definitions. Required for import/export integrations; optional for process
                    integrations.
                  items:
                    $ref: '#/components/schemas/Job'
      responses:
        '200':
          description: Integration created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integrationId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get all integrations
      operationId: getIntegrations
      tags:
      - Integrations
      description: Retrieve all integrations. Returns 25 integrations if `offset` and `limit` are not provided.
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
        description: Number of items to skip. First element is 0.
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
        description: Number of integrations to return.
        example: 10
      - name: myIntegrations
        in: query
        schema:
          type: integer
          enum:
          - 0
          - 1
        description: Set to `1` to return only the current user's integrations.
      - name: sortBy
        in: query
        schema:
          type: string
        description: 'Sort field. Prefix with `-` for descending order. Example: `name` (ascending) or `-name` (descending).'
      responses:
        '200':
          description: List of integrations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationSummary'
                  meta:
                    $ref: '#/components/schemas/PagingMeta'
              example:
                status:
                  code: 200
                  message: Success
                integrations:
                - integrationId: fe40dc5793084f7dbb685cffe6a5ad2aa
                  name: sample import integration
                  createdBy: John Smith
                  creationDate: '2020-09-29T01:31:16.000Z'
                  modificationDate: '2020-09-29T01:31:26.000Z'
                  modifiedBy: John Smith
                  latestRun:
                    triggeredBy: John Smith
                    startDate: '2020-09-28T23:09:31.000Z'
                    endDate: '2020-09-28T23:13:07.000Z'
                    success: true
                    message: Success
                    executionErrorCode: null
                  notificationId: a72d86ac0a9c454aa8baf67c1db67486
                  nuxVisible: false
                meta:
                  paging:
                    currentPageSize: 1
                    totalSize: 1
                    offset: 0
                  schema: https://api.anaplan.com/cloudworks/2/0/integrations/objects/integrations
        '403':
          $ref: '#/components/responses/Forbidden'
  /integrations/{integrationId}:
    get:
      summary: Get integration by ID
      operationId: getIntegrationById
      tags:
      - Integrations
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: Integration details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integration:
                    $ref: '#/components/schemas/IntegrationDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Edit an integration
      operationId: editIntegration
      tags:
      - Integrations
      description: Full update of an integration or process integration. The request body replaces all editable fields.
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - version
              - workspaceId
              - modelId
              properties:
                name:
                  type: string
                version:
                  type: string
                  enum:
                  - '2.0'
                workspaceId:
                  type: string
                modelId:
                  type: string
                processId:
                  type: string
                nuxVisible:
                  type: boolean
                jobs:
                  type: array
                  items:
                    $ref: '#/components/schemas/Job'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete an integration
      operationId: deleteIntegration
      tags:
      - Integrations
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /integrations/anaplanModels/{modelId}:
    get:
      summary: Get integrations by model ID
      operationId: getIntegrationsByModel
      tags:
      - Integrations
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
        description: Anaplan model ID.
        example: E559BFF3B1GD4RKE874P745BEL259711
      responses:
        '200':
          description: Integrations associated with the model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/{integrationId}/run:
    post:
      summary: Run an integration
      operationId: runIntegration
      tags:
      - Integrations
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: No request body required.
      responses:
        '200':
          description: Integration run started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  run:
                    type: object
                    properties:
                      id:
                        type: string
                        example: hy40d89893084f0dkb985cmme9i5io2a
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /integrations/{integrationId}/cancel:
    post:
      summary: Cancel a running integration
      operationId: cancelIntegration
      tags:
      - Integrations
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          description: Integration cancelled.
          content:
            application/json:
              example:
                success: true
                message:
                  integration_id: 56c122362f9d4a69bdca922252575065
                  state: cancelled
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/{integrationId}/schedule:
    post:
      summary: Create an integration schedule
      operationId: createSchedule
      tags:
      - Schedules
      description: 'Create a schedule for an integration. Supports a maximum of one schedule per integration. Schedule types:
        `weekly`, `daily`, `hourly`, `monthly_specific_day`, `monthly_relative_weekday`.'
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - schedule
              properties:
                integrationId:
                  type: string
                  description: Integration ID (may be included in body as well as path).
                schedule:
                  $ref: '#/components/schemas/Schedule'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update an integration schedule
      operationId: updateSchedule
      tags:
      - Schedules
      parameters:
      - $ref: '#/components/parameters/integrationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - schedule
              properties:
                schedule:
                  $ref: '#/components/schemas/Schedule'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete an integration schedule
      operationId: deleteSchedule
      tags:
      - Schedules
      parameters:
      - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/{integrationId}/schedule/status/{status}:
    post:
      summary: Set schedule status
      operationId: setScheduleStatus
      tags:
      - Schedules
      description: Enable or disable the schedule for an integration.
      parameters:
      - $ref: '#/components/parameters/integrationId'
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - enabled
          - disabled
        description: Desired schedule status.
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/runs/{integrationId}:
    get:
      summary: Get integration run history
      operationId: getRunHistory
      tags:
      - History
      parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
        description: Integration ID.
        example: fe40dc5793084f7dbb685cffe6a5ad2a
      - name: offset
        in: query
        required: true
        schema:
          type: integer
        description: Number of items to skip. First element is 0.
        example: 0
      - name: limit
        in: query
        required: true
        schema:
          type: integer
        description: Number of run records to return.
        example: 2
      responses:
        '200':
          description: Run history.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  history_of_runs:
                    type: object
                    properties:
                      integrationId:
                        type: string
                      name:
                        type: string
                      schedule:
                        type: object
                        nullable: true
                      workspaceId:
                        type: string
                      modelId:
                        type: string
                      creationDate:
                        type: string
                        format: date-time
                      modificationDate:
                        type: string
                        format: date-time
                      createdBy:
                        type: string
                      modifiedBy:
                        type: string
                      status:
                        type: integer
                      notificationId:
                        type: string
                      runs:
                        type: array
                        items:
                          $ref: '#/components/schemas/RunRecord'
                      totalRuns:
                        type: integer
                  meta:
                    $ref: '#/components/schemas/PagingMeta'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/runerror/{runId}:
    get:
      summary: Get integration run errors
      operationId: getRunErrors
      tags:
      - History
      parameters:
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Run error details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  runs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        errorMessages:
                          type: array
                          items:
                            type: object
                            properties:
                              errorMessage:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    localMessageText:
                                      type: string
                                    occurrences:
                                      type: integer
                                    type:
                                      type: string
                                    values:
                                      type: array
                                      items: {}
                              actionId:
                                type: string
                              actionName:
                                type: string
                              failureDumpGenerated:
                                type: boolean
                        taskId:
                          type: string
                        creationDate:
                          type: string
                          format: date-time
                        modificationDate:
                          type: string
                          format: date-time
                        createdBy:
                          type: string
                        modifiedBy:
                          type: string
                  meta:
                    type: object
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/notification:
    post:
      summary: Create a notification configuration
      operationId: createNotification
      tags:
      - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
      responses:
        '200':
          description: Notification configuration created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  notificationId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
  /integrations/notification/{notificationId}:
    get:
      summary: Get a notification configuration
      operationId: getNotification
      tags:
      - Notifications
      parameters:
      - $ref: '#/components/parameters/notificationId'
      responses:
        '200':
          description: Notification configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  notifications:
                    $ref: '#/components/schemas/NotificationConfig'
                  meta:
                    type: object
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Edit a notification configuration
      operationId: editNotification
      tags:
      - Notifications
      parameters:
      - $ref: '#/components/parameters/notificationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a notification configuration
      operationId: deleteNotification
      tags:
      - Notifications
      parameters:
      - $ref: '#/components/parameters/notificationId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/run/{runId}/dumps:
    get:
      summary: Get an import error log
      operationId: getImportErrorLog
      tags:
      - Error Logs
      description: Retrieve the import error log (dump file) for a specific run. The response body contains a CSV-formatted
        error log.
      parameters:
      - $ref: '#/components/parameters/runId'
      responses:
        '200':
          description: Import error log.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations/run/{runId}/process/import/{actionId}/dumps:
    get:
      summary: Get a process error log
      operationId: getProcessErrorLog
      tags:
      - Error Logs
      description: Retrieve the process import error log (dump file) for a specific run and action.
      parameters:
      - $ref: '#/components/parameters/runId'
      - name: actionId
        in: path
        required: true
        schema:
          type: string
        description: Anaplan action ID.
        example: '112000000011'
      responses:
        '200':
          description: Process error log.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrationflows:
    post:
      summary: Create an integration flow
      operationId: createIntegrationFlow
      tags:
      - Integration Flows
      description: Create a new multi-step integration flow. Requires at least two enabled steps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - version
              - type
              - steps
              properties:
                name:
                  type: string
                  description: Name of the integration flow.
                  example: test-integration-flow-name
                version:
                  type: string
                  enum:
                  - '2.0'
                type:
                  type: string
                  enum:
                  - IntegrationFlow
                steps:
                  type: array
                  description: Flow steps. Minimum 2 items.
                  minItems: 2
                  items:
                    type: object
                    required:
                    - type
                    - referrer
                    - isSkipped
                    - exceptionBehavior
                    properties:
                      type:
                        type: string
                        description: Step resource type.
                        enum:
                        - Integration
                      referrer:
                        type: string
                        description: The integration ID that this step references.
                      dependsOn:
                        type: array
                        description: IDs of steps this step depends on.
                        items:
                          type: string
                      isSkipped:
                        type: boolean
                        description: Whether to skip this step.
                        default: false
                      exceptionBehavior:
                        type: array
                        description: Defines flow behavior when this step fails or partially succeeds.
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - failure
                              - partial_success
                            strategy:
                              type: string
                              enum:
                              - stop
                              - continue
                              description: Default for `failure` is `stop`; default for `partial_success` is `continue`.
      responses:
        '200':
          description: Integration flow created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integrationFlow:
                    type: object
                    properties:
                      integrationFlowId:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get all integration flows
      operationId: getIntegrationFlows
      tags:
      - Integration Flows
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
        description: Number of items to skip.
      - name: limit
        in: query
        schema:
          type: integer
        description: Number of flows to return.
      responses:
        '200':
          description: List of integration flows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  integrationFlows:
                    type: array
                    items:
                      type: object
                  meta:
                    $ref: '#/components/schemas/PagingMeta'
        '403':
          $ref: '#/components/responses/Forbidden'
  /integrationflows/{integrationFlowId}:
    put:
      summary: Edit an integration flow
      operationId: editIntegrationFlow
      tags:
      - Integration Flows
      parameters:
      - $ref: '#/components/parameters/integrationFlowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Updated integration flow. Shape mirrors the create request body.
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete an integration flow
      operationId: deleteIntegrationFlow
      tags:
      - Integration Flows
      parameters:
      - $ref: '#/components/parameters/integrationFlowId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrationflows/{integrationFlowId}/run:
    post:
      summary: Run an integration flow
      operationId: runIntegrationFlow
      tags:
      - Integration Flows
      parameters:
      - $ref: '#/components/parameters/integrationFlowId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                stepsToRun:
                  type: array
                  description: Optional subset of step IDs to run. If omitted, all steps run.
                  items:
                    type: string
      responses:
        '200':
          description: Integration flow run started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  run:
                    type: object
                    properties:
                      id:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
components:
  parameters:
    integrationId:
      name: integrationId
      in: path
      required: true
      schema:
        type: string
      description: Integration ID.
      example: fe40dc5793084f7dbb685cffe6a5ad2a
    connectionId:
      name: connectionId
      in: path
      required: true
      schema:
        type: string
      description: Connection ID.
    notificationId:
      name: notificationId
      in: path
      required: true
      schema:
        type: string
      description: Notification configuration ID.
      example: 067d1426ac964a7cac871c87790c4555
    runId:
      name: runId
      in: path
      required: true
      schema:
        type: string
      description: Run ID.
      example: hy40d89893084f0dkb985cmme9i5io2a
    integrationFlowId:
      name: integrationFlowId
      in: path
      required: true
      schema:
        type: string
      description: Integration flow ID.
      example: fe40dc5793084f7dbb685cffe6a5ad2a
  schemas:
    Status:
      type: object
      properties:
        code:
          type: integer
          example: 200
        message:
          type: string
          example: Success
    ErrorStatus:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
    Job:
      type: object
      required:
      - type
      - sources
      - targets
      description: An import or export job within an integration.
      properties:
        type:
          type: string
          description: Job type.
          enum:
          - AmazonS3ToAnaplan
          - AnaplanToAmazonS3
          - GoogleBigQueryToAnaplan
          - AnaplanToGoogleBigQuery
          - AzureBlobToAnaplan
          - AnaplanToAzureBlob
        sources:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - AmazonS3
                - GoogleBigQuery
                - AzureBlob
                - Anaplan
              connectionId:
                type: string
              file:
                type: string
              table:
                type: string
              actionId:
                type: string
        targets:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - Anaplan
                - AmazonS3
                - GoogleBigQuery
                - AzureBlob
              actionId:
                type: string
              fileId:
                type: string
              connectionId:
                type: string
              file:
                type: string
              table:
                type: string
              overwrite:
                type: boolean
        mapping:
          type: array
          description: Column mapping for BigQuery exports.
          items:
            type: object
            properties:
              sourceName:
                type: string
              targetName:
                type: string
    Schedule:
      type: object
      required:
      - name
      - type
      - startDate
      - endDate
      - timezone
      description: Schedule definition. Required fields vary by `type`.
      properties:
        name:
          type: string
          description: Schedule name.
          example: test schedule
        type:
          type: string
          description: Schedule type.
          enum:
          - weekly
          - daily
          - hourly
          - monthly_specific_day
          - monthly_relative_weekday
        time:
          type: string
          description: Run time in HH:MM format. Required for `weekly`, `daily`, `monthly_specific_day`, `monthly_relative_weekday`.
          example: '12:45'
        fromTime:
          type: string
          description: Start of hourly window in HH:MM format. Required for `hourly`.
          example: '20:00'
        toTime:
          type: string
          description: End of hourly window in HH:MM format. Required for `hourly`.
          example: '23:20'
        daysOfWeek:
          type: array
          description: Days of the week (0=Sunday). Required for `weekly`, `hourly`, `monthly_relative_weekday`.
          items:
            type: integer
            minimum: 0
            maximum: 6
          example:
          - 0
          - 6
        dayOfMonth:
          type: integer
          description: Day of the month (1â€“31). Required for `monthly_specific_day`.
          minimum: 1
          maximum: 31
          example: 12
        dayOfWeek:
          type: integer
          description: Day of the week (0=Sunday). Required for `monthly_relative_weekday`.
          minimum: 0
          maximum: 6
        repeatEvery:
          type: integer
          description: Repeat interval. Required for `monthly_relative_weekday` (nth weekday of month) and `hourly` (every
            N hours).
          example: 2
        startDate:
          type: string
          format: date
          description: Schedule start date.
          example: '2020-07-03'
        endDate:
          type: string
          format: date
          description: Schedule end date.
          example: '2020-12-01'
        timezone:
          type: string
          description: IANA timezone name.
          example: Europe/Paris
    IntegrationSummary:
      type: object
      properties:
        integrationId:
          type: string
        name:
          type: string
        processId:
          type: string
          description: Present for process integrations.
        createdBy:
          type: string
        creationDate:
          type: string
          format: date-time
        modificationDate:
          type: string
          format: date-time
        modifiedBy:
          type: string
        latestRun:
          type: object
          properties:
            triggeredBy:
              type: string
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            success:
              type: boolean
            message:
              type: string
            executionErrorCode:
              type: string
              nullable: true
        notificationId:
          type: string
        nuxVisible:
          type: boolean
    IntegrationDetail:
      allOf:
      - $ref: '#/components/schemas/IntegrationSummary'
      - type: object
        properties:
          workspaceId:
            type: string
          modelId:
            type: string
          version:
            type: string
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/Job'
          schedule:
            $ref: '#/components/schemas/Schedule'
    RunRecord:
      type: object
      properties:
        id:
          type: string
        triggeredBy:
          type: string
        lastRun:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        success:
          type: boolean
        message:
          type: string
        executionErrorCode:
          type: string
          nullable: true
    NotificationRequest:
      type: object
      required:
      - integrationIds
      - channels
      - notifications
      properties:
        integrationIds:
          type: array
          description: Integration IDs to attach this notification to. Currently supports a single ID.
          items:
            type: string
          example:
          - 214a2ac51e5a479aafd49e9228334515
        channels:
          type: array
          description: Notification channels.
          items:
            type: string
            enum:
            - email
            - in_app
          example:
          - email
          - in_app
        notifications:
          type: object
          required:
          - config
          properties:
            config:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - success
                    - partial_failure
                    - full_failure
                  users:
                    type: array
                    description: User GUIDs to notify.
                    items:
                      type: string
    NotificationConfig:
      type: object
      properties:
        notificationId:
          type: string
        integrationIds:
          type: array
          items:
            type: string
        channels:
          type: array
          items:
            type: string
        notifications:
          type: object
          properties:
            config:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        userGuid:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
    PagingMeta:
      type: object
      properties:
        paging:
          type: object
          properties:
            currentPageSize:
              type: integer
            totalSize:
              type: integer
            offset:
              type: integer
        schema:
          type: string
  responses:
    SuccessStatus:
      description: Operation successful.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/Status'
    BadRequest:
      description: Invalid request body or parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
    Forbidden:
      description: Not authorized. Verify the AnaplanAuthToken has not expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
    NotFound:
      description: Resource not found. Verify the ID is correct.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
    Conflict:
      description: 'Conflict. Common causes: integration already running (409); total integrations exceeded limit of 500 (409);
        resource is being referenced (409).'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
    InternalServerError:
      description: Internal server error. Contact Anaplan support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
    ServiceUnavailable:
      description: 'Service unavailable. Common causes: invalid workspace or model ID (503); integration trigger error (503).'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorStatus'
  securitySchemes:
    AnaplanAuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Anaplan authentication token. Format: `AnaplanAuthToken {token}`'
    BearerAuth:
      type: http
      scheme: bearer
