{
  "openapi": "3.0.0",
  "info": {
    "title": "Application Lifecycle Management API",
    "version": "1.0.0",
    "description": "Anaplan ALM API for managing model revisions, sync tasks, and comparison reports."
  },
  "servers": [
    {
      "url": "https://api.anaplan.com/2/0",
      "description": "US1, US2, US5, US7, EU1, EU2, EU4, AP1"
    },
    {
      "url": "https://us9.api.anaplan.com/2/0",
      "description": "US9"
    },
    {
      "url": "https://eu3.api.anaplan.com/2/0",
      "description": "EU3"
    },
    {
      "url": "https://eu5.api.anaplan.com/2/0",
      "description": "EU5"
    },
    {
      "url": "https://gb1.api.anaplan.com/2/0",
      "description": "GB1"
    },
    {
      "url": "https://ca1a.api.anaplan.com/2/0",
      "description": "CA1"
    },
    {
      "url": "https://sg1.api.anaplan.com/2/0",
      "description": "SG1"
    },
    {
      "url": "https://ae1.api.anaplan.com/2/0",
      "description": "AE1"
    },
    {
      "url": "https://in1.api.anaplan.com/2/0",
      "description": "IN1"
    },
    {
      "url": "https://id1.api.anaplan.com/2/0",
      "description": "ID1"
    },
    {
      "url": "https://me1.api.anaplan.com/2/0",
      "description": "ME1"
    },
    {
      "url": "https://au1a.api2.anaplan.com/2/0",
      "description": "AU1"
    }
  ],
  "security": [
    {
      "AnaplanAuthToken": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/models/{modelId}/onlineStatus": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Change a model's online status",
        "description": "Set a model online or offline. Requires Workspace Administrator role. Returns 400 if the status value is invalid or the model is locked, 422 if the model is archived.",
        "operationId": "postModelOnlineStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineStatusRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Online status updated successfully."
          },
          "400": {
            "description": "Invalid status value or model is locked."
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      },
      "put": {
        "summary": "Change a model's online status (PUT)",
        "description": "Set a model online or offline. Identical semantics to POST. Requires Workspace Administrator role.",
        "operationId": "putModelOnlineStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineStatusRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Online status updated successfully."
          },
          "400": {
            "description": "Invalid status value or model is locked."
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      }
    },
    "/models/{modelId}/alm/syncableRevisions": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve compatible source model revisions",
        "description": "Returns the list of revisions from the source model that are compatible with the target model, ordered by date descending. Requires Workspace Administrator role on both models.",
        "operationId": "getSyncableRevisions",
        "parameters": [
          {
            "name": "sourceModelId",
            "in": "query",
            "description": "GUID of the source model whose revisions to evaluate.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of compatible source model revisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role on one or both models."
          },
          "404": {
            "description": "Model not found or caller has no access."
          }
        }
      }
    },
    "/models/{modelId}/alm/latestRevision": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve latest revision",
        "description": "Returns the most recent revision for the model, if one exists. Requires Workspace Administrator role.",
        "operationId": "getLatestRevision",
        "responses": {
          "200": {
            "description": "Latest revision, or an empty result if no revisions exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          }
        }
      }
    },
    "/models/{modelId}/alm/revisions": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve revisions in a model",
        "description": "Returns all revisions for the model with optional date filtering and pagination. Requires Workspace Administrator role.",
        "operationId": "getRevisions",
        "parameters": [
          {
            "name": "appliedAfter",
            "in": "query",
            "description": "Filter to revisions applied on or after this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "appliedBefore",
            "in": "query",
            "description": "Filter to revisions applied on or before this date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Property name to sort by. Prefix with `-` for descending order.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Zero-based starting position for results.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of revisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          }
        }
      },
      "post": {
        "summary": "Create a revision",
        "description": "Creates a new revision for the model. The model must be in standard mode and have structural changes since the last revision. Requires Workspace Administrator role.",
        "operationId": "createRevision",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevisionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Revision created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevisionResponse"
                }
              }
            }
          },
          "400": {
            "description": "name exceeds 60 characters or description exceeds 250 characters."
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      }
    },
    "/models/{modelId}/alm/revisions/{revisionId}/appliedToModels": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "revisionId",
          "in": "path",
          "description": "Unique identifier of the revision.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve the models for a specific revision",
        "description": "Returns all models that have had this revision applied. Deleted models are included with `modelDeleted: true`; their `modelName` and `workspaceId` are omitted. Requires Workspace Administrator role.",
        "operationId": "getAppliedToModels",
        "responses": {
          "200": {
            "description": "List of models the revision has been applied to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedModelsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model or revision not found."
          }
        }
      }
    },
    "/models/{modelId}/alm/syncTasks": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve sync tasks for a model",
        "description": "Returns sync tasks that are in progress or completed within the last 48 hours. Up to ~20,000 results are retained per model before oldest tasks are removed. Requires Workspace Administrator role.",
        "operationId": "getSyncTasks",
        "responses": {
          "200": {
            "description": "List of sync tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncTaskListResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          }
        }
      },
      "post": {
        "summary": "Create a model sync task",
        "description": "Initiates a sync task to apply a source model revision to the target model. Requires Workspace Administrator role.",
        "operationId": "createSyncTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sync task created and running.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields in request body."
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      }
    },
    "/models/{modelId}/alm/syncTasks/{syncTaskId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "syncTaskId",
          "in": "path",
          "description": "Unique identifier of the sync task.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve model sync task info",
        "description": "Returns the current status and result of a sync task. Task states: `IN_PROGRESS`, `COMPLETE`. On failure, `result.successful` is false and `result.error` contains details. Requires Workspace Administrator role.",
        "operationId": "getSyncTask",
        "responses": {
          "200": {
            "description": "Sync task details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncTaskResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model or sync task not found."
          }
        }
      }
    },
    "/models/{modelId}/alm/comparisonReportTasks": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Create a full comparison report generation task",
        "description": "Starts an asynchronous task to generate a full comparison report between a source revision and the target model's current revision. Requires Workspace Administrator role on both models. Poll the task info endpoint to check progress.",
        "operationId": "createComparisonReportTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comparison report task created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportTaskResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role on one or both models."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      }
    },
    "/models/{modelId}/alm/comparisonReportTasks/{taskId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "taskId",
          "in": "path",
          "description": "Unique identifier of the report generation task.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve full comparison report task info",
        "description": "Returns the status of a comparison report generation task. On success, `result.successful` is true and `result.reportFileUrl` contains the download URL. On failure, `result.error` contains title and messageText.",
        "operationId": "getComparisonReportTask",
        "responses": {
          "200": {
            "description": "Comparison report task details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportTaskResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Model or task not found."
          }
        }
      }
    },
    "/models/{modelId}/alm/comparisonReports/{targetRevisionId}/{sourceRevisionId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "targetRevisionId",
          "in": "path",
          "description": "Unique identifier of the target revision.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "sourceRevisionId",
          "in": "path",
          "description": "Unique identifier of the source revision.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve full comparison report content",
        "description": "Downloads the full comparison report as a tab-separated values (TSV) file. The report is available for 48 hours after generation and includes sections for: Lists Added, Modules Added, Roles Changed, Changes Within Lists, and Line Items Added.",
        "operationId": "getComparisonReport",
        "responses": {
          "200": {
            "description": "Comparison report file (TSV).",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Report not found or has expired (reports expire after 48 hours)."
          }
        }
      }
    },
    "/models/{modelId}/alm/summaryReportTasks": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "summary": "Create a summary report generation task",
        "description": "Starts an asynchronous task to generate a summary report between a source revision and the target model's current revision. Poll the task info endpoint to check progress.",
        "operationId": "createSummaryReportTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncTaskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Summary report task created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportTaskResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Caller lacks Workspace Administrator role."
          },
          "404": {
            "description": "Model not found or caller has no access."
          },
          "422": {
            "description": "Model is archived."
          }
        }
      }
    },
    "/models/{modelId}/alm/summaryReportTasks/{taskId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "taskId",
          "in": "path",
          "description": "Unique identifier of the report generation task.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve summary report task info",
        "description": "Returns the status of a summary report generation task. On success, `result.successful` is true and `result.reportFileUrl` contains the download URL.",
        "operationId": "getSummaryReportTask",
        "responses": {
          "200": {
            "description": "Summary report task details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportTaskResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Model or task not found."
          }
        }
      }
    },
    "/models/{modelId}/alm/summaryReports/{targetRevisionId}/{sourceRevisionId}": {
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "description": "Unique identifier of the model.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "targetRevisionId",
          "in": "path",
          "description": "Unique identifier of the target revision.",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "sourceRevisionId",
          "in": "path",
          "description": "Unique identifier of the source revision.",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Retrieve summary report content",
        "description": "Downloads the summary report as JSON. The report is available for 48 hours after generation. Change types with zero differences are omitted. Properties within a change type are omitted if items were only created (not modified or deleted).",
        "operationId": "getSummaryReport",
        "responses": {
          "200": {
            "description": "Summary report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummaryReportResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden."
          },
          "404": {
            "description": "Report not found or has expired (reports expire after 48 hours)."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OnlineStatusRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "online",
              "offline"
            ]
          }
        }
      },
      "RevisionRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 60,
            "description": "Revision name. Maximum 60 characters."
          },
          "description": {
            "type": "string",
            "maxLength": 250,
            "description": "Optional revision description. Maximum 250 characters."
          }
        }
      },
      "SyncTaskRequest": {
        "type": "object",
        "required": [
          "sourceRevisionId",
          "sourceModelId"
        ],
        "properties": {
          "sourceRevisionId": {
            "type": "string",
            "description": "ID of the source revision to apply."
          },
          "sourceModelId": {
            "type": "string"
          },
          "targetRevisionId": {
            "type": "string",
            "description": "ID of the target revision (current state of the target model)."
          }
        }
      },
      "Revision": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string"
          },
          "creationMethod": {
            "type": "string",
            "description": "How the revision was created (e.g. 'user', 'api')."
          },
          "appliedOn": {
            "type": "string",
            "format": "date-time"
          },
          "appliedBy": {
            "type": "string"
          }
        }
      },
      "SyncTask": {
        "type": "object",
        "properties": {
          "taskId": {
            "type": "string"
          },
          "taskUrl": {
            "type": "string",
            "description": "URL to poll for this task's current status."
          },
          "taskState": {
            "type": "string",
            "enum": [
              "IN_PROGRESS",
              "COMPLETE"
            ]
          },
          "creationTime": {
            "type": "string",
            "format": "date-time"
          },
          "result": {
            "$ref": "#/components/schemas/TaskResult"
          }
        }
      },
      "TaskResult": {
        "type": "object",
        "description": "Outcome of an async task. Check `successful` first; if false, `error` contains details. On successful report tasks, `reportFileUrl` is populated with a download URL.",
        "properties": {
          "successful": {
            "type": "boolean"
          },
          "reportFileUrl": {
            "type": "string",
            "description": "URL to download the report file (present on successful report tasks)."
          },
          "error": {
            "$ref": "#/components/schemas/TaskError"
          }
        }
      },
      "TaskError": {
        "type": "object",
        "description": "Error details for a failed async task.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Short error title summarising the failure."
          },
          "messageText": {
            "type": "string",
            "description": "Detailed error message body."
          }
        }
      },
      "AppliedModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string"
          },
          "modelName": {
            "type": "string",
            "description": "Omitted when modelDeleted is true."
          },
          "workspaceId": {
            "type": "string",
            "description": "Omitted when modelDeleted is true."
          },
          "appliedBy": {
            "type": "string"
          },
          "appliedOn": {
            "type": "string",
            "format": "date-time"
          },
          "appliedMethod": {
            "type": "string"
          },
          "modelDeleted": {
            "type": "boolean"
          }
        }
      },
      "Meta": {
        "type": "object",
        "description": "Response envelope metadata. Contains the schema URL that identifies the response type and optional paging information for list responses.",
        "required": [
          "schema"
        ],
        "properties": {
          "schema": {
            "type": "string",
            "description": "URL identifying the response schema."
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Paging": {
        "type": "object",
        "required": [
          "currentPageSize",
          "offset",
          "totalSize"
        ],
        "properties": {
          "currentPageSize": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "totalSize": {
            "type": "integer"
          }
        }
      },
      "Status": {
        "type": "object",
        "description": "Anaplan API response status. The code mirrors the HTTP status code (e.g. 200, 204); the message is a human-readable outcome string (e.g. 'Success').",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Numeric response code, mirrors the HTTP status code (e.g. 200, 204)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable outcome string, e.g. 'Success'."
          }
        }
      },
      "RevisionResponse": {
        "type": "object",
        "description": "When no revision exists, the response contains only meta and status — the 'revision' key is omitted.",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "revision": {
            "$ref": "#/components/schemas/Revision"
          }
        }
      },
      "RevisionListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "revisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Revision"
            }
          }
        }
      },
      "SyncTaskResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "task": {
            "$ref": "#/components/schemas/SyncTask"
          }
        }
      },
      "SyncTaskListResponse": {
        "type": "object",
        "description": "When no sync tasks exist in the last 48 hours, the response contains only meta and status — the 'tasks' key is omitted entirely rather than returning an empty array.",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "tasks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SyncTask"
            }
          }
        }
      },
      "ReportTaskResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "task": {
            "type": "object",
            "properties": {
              "taskId": {
                "type": "string"
              },
              "taskUrl": {
                "type": "string"
              },
              "taskState": {
                "type": "string",
                "enum": [
                  "IN_PROGRESS",
                  "COMPLETE"
                ]
              },
              "result": {
                "$ref": "#/components/schemas/TaskResult"
              }
            }
          }
        }
      },
      "AppliedModelsResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "appliedToModels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppliedModel"
            }
          }
        }
      },
      "SummaryReportResponse": {
        "type": "object",
        "properties": {
          "summaryReport": {
            "type": "object",
            "properties": {
              "targetRevisionId": {
                "type": "string"
              },
              "sourceRevisionId": {
                "type": "string"
              },
              "totals": {
                "type": "object",
                "properties": {
                  "modified": {
                    "type": "integer"
                  },
                  "deleted": {
                    "type": "integer"
                  },
                  "created": {
                    "type": "integer"
                  }
                }
              },
              "differences": {
                "type": "object",
                "description": "Change details by category. Categories with no changes are omitted.",
                "properties": {
                  "lineItems": {
                    "type": "object"
                  },
                  "rolesContents": {
                    "type": "object"
                  },
                  "lists": {
                    "type": "object"
                  },
                  "modules": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "AnaplanAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Anaplan authentication token. Format: `AnaplanAuthToken {token}`"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token auth. Confirmed interchangeable with AnaplanAuthToken on ALM (live testing 2026-06-09)."
      }
    }
  }
}
