openapi: 3.0.0
info:
  title: Official Anaplan Collection
  version: 1.0.0
  description: "**Welcome to the Anaplan Integration v2 Official Postman Collection**\n\n**Organization**\n\n> This collection\
    \ is organized into  \n> logical groupings of requests. There are several common sequences of requests to achieve an outcome\
    \ in Anaplan. The folders ending in \"Flow\" contain redundant requests organized sequentially.\n\n**Variables**\n\n>\
    \ Collection level variables. These are set at the  \n> collection level and are available within each request. These\
    \ include elements  \n> such as base URLs, model Id and workspace Id. Be sure to click \"Save\" when changing collection\
    \ level variables.\n\n> Request specific variables. For variables  \n> specific to a request, we have provided an array\
    \ in the pre-request script area  \n> for you to enter in request specific variables. These will be set prior to the \
    \ \n> request running.\n\n**Authentication**\n\n> There are three methods provided to  \n> authenticate into Anaplan.\
    \ Once authenticated a Tests script sets the value of  \n> the generated token to a variable named “anaplan_auth_token”.\
    \ You may choose to  \n> enter in username/password combination or conversely choose to generate CA  \n> certificate signed\
    \ string and public key combination."
servers:
- url: https://api.anaplan.com
  description: US1, US2, US5, US7, EU1, EU2, EU4, AP1
- url: https://us9.api.anaplan.com
  description: US9
- url: https://eu3.api.anaplan.com
  description: EU3
- url: https://eu5.api.anaplan.com
  description: EU5
- url: https://gb1.api.anaplan.com
  description: GB1
- url: https://ca1a.api.anaplan.com
  description: CA1
- url: https://sg1.api.anaplan.com
  description: SG1
- url: https://ae1.api.anaplan.com
  description: AE1
- url: https://in1.api.anaplan.com
  description: IN1
- url: https://id1.api.anaplan.com
  description: ID1
- url: https://me1.api.anaplan.com
  description: ME1
- url: https://au1a.api2.anaplan.com
  description: AU1
paths:
  /2/0/users/me:
    get:
      summary: Retrieve your user
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  user:
                    $ref: '#/components/schemas/User'
      tags:
      - User Data
      description: "## Retrieve your user\n\n`/users/me`  \n\nRetrieves your user based on your Anaplan authentication token.\n\
        \n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/users/me \\\n-H 'authorization: AnaplanAuthToken\
        \ {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n### Request headers\n\n| **Header** | **Details**\
        \ |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description:\
        \ the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description:\
        \ This indicates the preferred response is either `application/json` format. Note that this call only outputs in `application/json`\
        \ format.<br><br> |"
  /2/0/users/{userId}:
    get:
      summary: Retrieve user information
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  user:
                    $ref: '#/components/schemas/User'
      tags:
      - User Data
      description: "## Retrieve user information\n\n`/users/{userId}`  \nRetrieves information about the specified user.\n\
        \n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/users/{userId} \\\n-H 'authorization: AnaplanAuthToken\
        \ {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n### Headers\n\n*   `Authorization:AnaplanAuthToken\
        \ {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n### Parameters\n\n| **Parameter** | **Description**\
        \ |\n| --- | --- |\n| `userId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The user ID<br>*   Example:\
        \ `8a8196a55b193fa0015b1e57f3da172c`<br><br> |"
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
      example: '{{userId}}'
  /2/0/models:
    get:
      summary: List user models
      parameters:
      - name: modelDetails
        in: query
        schema:
          type: boolean
        example: true
        description: When true, includes available model memory usage in bytes in the response.
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
      tags:
      - General Workspace & Model Metadata
      description: "## Retrieve models\n\n`/models`  \nRetrieves information about all models in the user's default tenant.\n\
        \n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/models \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}'\n\
        ```\n\n### Request headers\n\n`Authorization:AnaplanAuthToken {anaplan_auth_token}`\n\n### Request parameters\n\n\
        | **Parameter** | **Description** |\n| --- | --- |\n| `{modelDetails}` | <br><br>*   Optional<br>*   Type: Boolean<br>*\
        \   Description: When set to `true`, this call returns the available model memory usage in bytes. When set to `false`,\
        \ or not defined, this call does not return the model memory usage.<br>*   Example: `?modelDetails=true`<br><br> |\n\
        \n### Response 200 (application/json)\n\n```\n{\n  \"meta\": {\n    \"schema\": \"https://api.anaplan.com/2/0/objects/model\"\
        ,\n    \"paging\": {\n      \"currentPageSize\": 1,\n      \"totalSize\": 1,\n      \"offset\": 0\n    }\n  },\n \
        \ \"status\": {\n    \"code\": 200,\n    \"message\": \"Success\"\n  },\n  \"models\": [{\n      id\": \"FC12345678912343455667\"\
        ,\n      \"activeState\": \"UNLOCKED\",\n      \"name\": \"FP&A\",\n      \"currentWorkspaceId\": \"8a8b8c8d8e8f8g8i\"\
        ,\n      \"currentWorkspaceName\": \"Financial Planning\",\n      \"modelUrl\": \"https://rt.anaplan.com/anaplan/rt?selectedWorkspaceId\\\
        8a8b8c8d8e8f8g8i\\u0026selectedModelId\\FC12345678912343455667\",\n      \"categoryValues\": []\n   }]\n}\n```"
  /2/0/workspaces:
    get:
      summary: List user workspaces
      parameters:
      - name: tenantDetails
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/workspace
                  paging:
                    currentPageSize: 1
                    totalSize: 1
                    offset: 0
                status:
                  code: 200
                  message: Success
                workspaces:
                - id: 8a8b8c8d8e8f8g8i
                  name: Financial Planning
                  active: true
                  sizeAllowance: 1073741824
                  currentSize: 873741824
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
      tags:
      - General Workspace & Model Metadata
      description: "## List user workspaces\n\n`/workspaces`  \n\nRetrieves all workspaces a user has access to within the\
        \ user's default tenant\n\n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces?tenantDetails=true\
        \ \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request headers\n\n| **Header** | **Details**\
        \ |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description:\
        \ the Anaplan authentication token<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- |\
        \ --- |\n| `tenantDetails` | <br><br>*   Optional<br>*   Type: Boolean<br>*   Description: When set to true, this\
        \ call returns an estimate of the current size of the workspace from all the models it contains. When set to false,\
        \ or not defined, this call does not return an estimated current size of the workspace.<br>*   Example: true<br><br>\
        \ |"
  /2/0/workspaces/{workspaceId}:
    get:
      summary: Get single workspace metadata
      parameters:
      - name: tenantDetails
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  workspace:
                    $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found or caller lacks Workspace Administrator role
      tags:
      - General Workspace & Model Metadata
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
  /2/0/models/{modelId}:
    get:
      summary: Get single model metadata
      parameters:
      - name: modelDetails
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  model:
                    $ref: '#/components/schemas/Model'
      tags:
      - General Workspace & Model Metadata
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models:
    get:
      summary: List workspace models
      description: 'Returns models accessible to the calling user within the specified workspace. The response shape is identical
        to `GET /2/0/models` but filtered to models within the given workspace. Confirmed via live testing (issue #25).'
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
      tags:
      - General Workspace & Model Metadata
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cd885f53bd201860f5a4fea1ff1
      description: Workspace identifier (32-character lowercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items:
    post:
      summary: Lookup dimension items by name or code
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - name: South
                  id: '208000000001'
                  code: S
                - name: West
                  id: '208000000004'
                  code: W
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '404':
          description: more detail in path description
        '400':
          description: more detail in path description
      tags:
      - Model Metadata
      - List Metadata
      description: "## Lookup dimension items by name or code\n\nRetrieve the items from a dimension that match one of a list\
        \ of names or a list or codes.\n\n** Notes: **\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   This call does not return results for names or codes for which an item does not exist.\n*   If the given workspace,\
        \ model, or dimension do not exist, this call returns a `404` code.\n*   If the dimension does not support codes and\
        \ codes are provided, this call returns a `400` code.\n*   In the future, use of this call may be rate limited.\n\
        \    \n\n### Requests that support this feature\n\n```\ncurl -X POST https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items\
        \ \\\n-H ‘Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Content-Type: application/json' \\\n-H 'Accept:\
        \ application/json' --data-raw ''\n\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n|\
        \ `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication\
        \ token<br><br> |\n| `Content-Type: application/json` | <br><br>*   Required<br>*   Description: This indicates the\
        \ request format is `application/json`.<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description:\
        \ This indicates the preferred response is either `application/json` format. Note that this call only outputs in `application/json`\
        \ format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}`\
        \ | <br><br>*   Required in the supported request<br>*   Type: String<br>*   Description: The workspace ID<br>*  \
        \ Example: `8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*\
        \   Description: the model ID<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br> |\n| `{dimensionId}` | <br><br>*\
        \   Required<br>*   Type: Number<br>*   Description: the dimension ID. This value must be the ID for any of these\
        \ dimension types:<br>    *   Lists<br>    *   Time periods<br>    *   Users<br>    *   Versions<br>*   Example: `101000000001`<br><br>\
        \ |\n\n### Request body\n\n| **JSON Element** | **Description** |\n| --- | --- |\n| `names` | The case-insensitive\
        \ strings that match the name of a returned item. |\n| `codes` | The case-insensitive strings that match the code\
        \ of a returned item. |\n\nExample:\n\n```\n{\n    \"names\": [\"South\", \"East\"],\n    \"codes\": [\"N\", \"W\"\
        ]\n}\n\n```\n\nNote that the `names`, `codes`, or both fields in the request body must contain a non-empty value.\
        \ If the request body does not include at least one of these fields, the response returns an error."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codes:
                  type: array
                  items:
                    type: string
                    format: utc-millisec
                names:
                  type: array
                  items:
                    type: string
            example:
              codes:
              - '2'
              names:
              - Test1
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: dimensionId
      in: path
      required: true
      schema:
        type: string
      example: '{{dimensionId}}'
    get:
      summary: Retrieve all items in a dimension
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - code: N
                  id: '200000000001'
                  name: North
                - code: E
                  id: '200000000002'
                  name: East
                - code: S
                  id: '200000000003'
                  name: South
                - code: W
                  id: '200000000004'
                  name: West
                - id: '200000000000'
                  name: Total Company
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '400':
          description: more detail in path description
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - List Metadata
      description: "## Retrieve all items in a dimension\n\n`/models/{modelGuid}/dimensions/{dimensionId}/items`\n\nUse this\
        \ call to retrieve the IDs, codes, and names for items in a specified dimension. The dimension must be a list, a list\
        \ subset, a line item subset, or the Users dimension.\n\nCalls at model-level do not support the Time dimension. The\
        \ calls return a `400` response. To avoid this, use the view dimension instead.\n\n**Notes**:\n\n*   To use this call,\
        \ you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   This call is on the model-level. It returns all dimension items as it does not have view-level hiding, filtering,\
        \ or [Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). For the view-level\
        \ endpoint, see [Retrieve selected items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveSelectedItemsDimension).\n\
        *   If codes have not been set for an item, then the response excludes the `code` field.\n*   This call only supports\
        \ the retrieval of dimensions and items from a dimension that contains a maximum of 1,000,000 items.  \n    The call\
        \ returns a `400` response for any more than that number of items.\n*   Use of this call may be rate limited. If you\
        \ call too frequently, you may receive a `429` response.\n    \n\n### Request\n\n```\ncurl -X GET\n'https://api.anaplan.com/2/0/models/{modelGuid}/dimensions/{dimensionId}/items'\\\
        \n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\
        \n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*\
        \   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*\
        \   Required<br>*   Description: This indicates the preferred response is `application/json` format.<br><br> |\n\n\
        ### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br>\
        \ |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the dimension<br>*\
        \   Example: `101000000028`<br><br> |"
  /2/0/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items:
    get:
      summary: Retrieve selected items in a dimension
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - id: '220000000001'
                  name: England
                - id: '220000000002'
                  name: Wales
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - List Metadata
      description: "## Retrieve selected items in a dimension\n\n`/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items`\n\
        \nUse this call to retrieve selected IDs, codes, and names for items in a specified dimension. This call returns data\
        \ as filtered by the page builder when they configure the view. This call respects hidden items, filtering selections,\
        \ and [Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). If the view\
        \ contains hidden or filtered items, these do not display in the response.\n\n**Notes**:\n\n*   To use this call,\
        \ you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n\
        *   This call works with any dimension type\n*   The items in the response may not be ordered\n*   The response returns\
        \ Items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy)\n\
        *   This is a view-level call. For the model-level call, see [Retrieve all data for items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveItemsDimension)\n\
        *   This call only supports the retrieval of dimension items within a view that contains a maximum of 1,000,000 cells.\
        \ If the specified view contains more than 1,000,000 dimension items, then the call returns a `400 Bad Request` HTTP\
        \ status, instead of a subset of the dimension items. Use the [quick sum bar](https://help.anaplan.com/anapedia/Content/New_User_Experience/Use/Worksheets/Grid/Quick-sum-bar.htm)\
        \ in Anaplan to identify the number of dimension items in a view\n*   Use of this call may be rate limited. If you\
        \ call too frequently, you may receive a `429` response\n*   The `viewId` in this request can also be replaced by\
        \ any valid `lineItemId`. If the Line Item has a changed dimensionality (has a Subsidiary View), the response returns\
        \ the applicable dimension items for the given dimension. Otherwise, the response returns all default applicable dimension\
        \ items for the given dimension\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items'\
        \ \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Required<br>*   Description: This indicates the preferred response is `application/json` format.<br><br>\
        \ |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br>\
        \ |\n| `{viewId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the view<br>*   Example:\
        \ `102000000000`<br><br> |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID\
        \ for the dimension<br>*   Example: `101000000028`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: viewId
      in: path
      required: true
      schema:
        type: string
      example: ''
    - name: dimensionId
      in: path
      required: true
      schema:
        type: string
      example: '{{dimensionId}}'
  /2/0/workspaces/{workspaceId}/models/{modelId}/lists:
    get:
      summary: Retrieve Lists
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 5
                    offset: 0
                    totalSize: 5
                  schema: https://api.anaplan.com/2/0/models/75A40874E6B64FA3AE0743278996850F/objects/list
                status:
                  code: 200
                  message: Success
                lists:
                - id: '101000000000'
                  name: Organization
                - id: '101000000001'
                  name: opportunities
                - id: '101000000002'
                  name: sales rep
                - id: '101000000003'
                  name: Bakery
                - id: '101000000004'
                  name: List2
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  lists:
                    type: array
                    items:
                      $ref: '#/components/schemas/List'
      tags:
      - Model Metadata
      - List Metadata
      description: '## Retrieve lists


        `/workspaces/{workspaceId}/models/{modelId}/lists`


        Use this call to retrieve lists for a specified workspace and model.


        ### Request


        ```

        curl -X GET ''https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/lists'' \

        -H ''Accept: application/json'' \

        -H ''Authorization: AnaplanAuthToken {anaplan_auth_token}''

        ```


        ### Request headers


        | **Header** | **Details** |

        | --- | --- |

        | `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication
        token<br><br> |

        | `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is `application/json`
        format.<br><br> |


        ### Request parameters


        | **Parameter** | **Details** |

        | --- | --- |

        | `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:
        `8a8196b15b7dbae6015b8694411d13fe`<br><br> |

        | `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:
        `75A40874E6B64FA3AE074327899685`<br><br> |'
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/lists/{listId}:
    get:
      summary: Retrieve list metadata
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/models/102B/objects/list
                status:
                  code: 200
                  message: Success
                metadata:
                  id: '101000000001'
                  name: Sales Reps
                  properties:
                  - name: Salesforce
                    format: TEXT
                    notes: ''
                    referencedBy: ''
                  - name: Mail
                    format: TEXT
                    notes: ''
                    referencedBy: ''
                  hasSelectiveAccess: false
                  parent:
                    id: '101000000000'
                    name: Organization
                  managedBy: ''
                  numberedList: false
                  useTopLevelAsPageDefault: false
                  itemCount: 1
                  workflowEnabled: false
                  productionData: false
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  metadata:
                    $ref: '#/components/schemas/List'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - List Metadata
      description: "## Retrieve list metadata\n\n`/workspaces/{workspaceId}/models/{modelId}/lists/{listId}`\n\nUse this call\
        \ to retrieve the following metadata for a specified list:\n\n| **Metadata** | **Description** |\n| --- | --- |\n\
        | `category` | The category to which the list is assigned. |\n| `dataTags` | The data tags associated with the list.\
        \ |\n| `hasSelectiveAccess` | If the value is true, this list uses [selective access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html).\
        \ |\n| `id` | The list ID.  This corresponds to the `listId` parameter. |\n| `itemCount` | The number of list items\
        \ present in the list. |\n| `managedBy` | Not currently used. |\n| `name` | The list name. |\n| `nextitemIndex` |\
        \ Contains the index of the next new item in the list. Used only by numbered lists. |\n| `numberedList` | A true value\
        \ indicates this is a numbered list. |\n| `parent` | <br><br>The parent hierarchy, which includes this information\
        \ for the parent list:  <br><br>*   `id`<br>*   `name`<br><br> |\n| `permittedItems` | Indicates how many more items\
        \ you can add to the existing list. This value changes when the number of items in the list change. |\n| `productionData`\
        \ | A true value indicates this is a production list in [Application Lifecycle Management (ALM)](https://help.anaplan.com/anapedia/Content/ALM/Application_Lifecycle_Management.htm).\
        \ |\n| `properties` | <br><br>The list properties, which include:  <br><br>*   `dataTags`<br>*   `format`<br>*   `formula`<br>*\
        \   `notes`<br>*   `referencedBy`<br><br> |\n| `subsets` | <br><br>A list of subsets associated with the list hierarchy,\
        \ which includes the following information for the parent list:  <br><br>*   `id`<br>*   `name`<br><br> |\n| `topLevelItem`\
        \ | If present, indicates the top level item in a hierarchy. |\n| `useTopLevelAsPageDefault` | A true value indicates\
        \ this list is the default item in a page selector. |\n| `workflowEnabled` | A true value indicates this list is enabled\
        \ for [Workflow](https://help.anaplan.com/anapedia/Content/Modeling/Manage_Models/Workflow.html). |\n\nIf any of the\
        \ metadata values are not set for a list (for example, no parent or no top level item), then the result omits the\
        \ metadata entry.\n\n**Notes**:\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.\n    \n\n\
        ### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/lists/{listId}'\
        \ \\\n-H 'Accept: application/json' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Content-Type:\
        \ application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization:\
        \ AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br>\
        \ |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response\
        \ is `application/json` format.<br><br> |\n| `Content-Type: application/json` | <br><br>*   Optional<br>*   Description:\
        \ The endpoint uses a content type of `application/json`.<br><br> |\n\n### Request parameters\n\n| **Parameter** |\
        \ **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The\
        \ workspace ID<br>*   Example: `8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br>\
        \ |\n| `{listId}` | <br><br>*   Required<br>*   Type: string<br>*   Description: The list ID.<br>*   Example: `101000000001`<br><br>\
        \ |"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: listId
      in: path
      required: true
      schema:
        type: string
      example: '{{listId}}'
  /2/0/models/{modelId}/modules:
    get:
      summary: Retrieve IDs and names for all modules in a model
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/module
                status:
                  code: 200
                  message: Success
                modules:
                - id: '102000000125'
                  name: REV01 Price Book
                - id: '102000000121'
                  name: REV02 Volume Inputs
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  modules:
                    type: array
                    items:
                      $ref: '#/components/schemas/Module'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      description: "## Retrieve IDs and names for all modules in a model\n\n`/models/{modelId}/modules`\n\nUse this call to\
        \ retrieve the IDs and names of all modules for a specified model.\n\n**Notes**:\n\n*   To use this call, you must\
        \ be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n\
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response\n    \n\n###\
        \ Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/modules' \\\n-H 'Authorization: AnaplanAuthToken\
        \ {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details**\
        \ |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description:\
        \ the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description:\
        \ This indicates the preferred response is `application/json` format.<br><br> |\n\n### Request parameters\n\n| **Parameter**\
        \ | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the\
        \ ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br> |"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/models/{modelId}/modules/{moduleId}/lineItems:
    get:
      summary: Retrieve all line item metadata in a module
      parameters:
      - name: includeAll
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/lineItem
                status:
                  code: 200
                  message: Success
                items:
                - moduleId: '102000000001'
                  moduleName: module2
                  id: '206000000006'
                  name: lineitem-child
                  isSummary: false
                  startOfSection: false
                  broughtForward: false
                  useSwitchover: true
                  breakback: false
                  cellCount: 51
                  version:
                    name: All
                    id: '16000000000'
                  appliesTo:
                  - name: org-sub1
                    id: '109000000001'
                  - name: linesubset1
                    id: '114000000001'
                  dataTags:
                  - name: tag1
                    id: '127000000002'
                  - name: tag2
                    id: '127000000001'
                  - name: tag3
                    id: '127000000000'
                  referencedBy:
                  - name: lineitem5
                    id: '206000000005'
                  parent:
                    name: lineitem5
                    id: '206000000005'
                  readAccessDriver:
                    name: lineitem2
                    id: '206000000003'
                  writeAccessDriver:
                    name: lineitem2
                    id: '206000000003'
                  formula: 3 + 9
                  format: NUMBER
                  formatMetadata:
                    dataType: NUMBER
                    minimumSignificantDigits: 4
                    decimalPlaces: -1
                    negativeNumberNotation: MINUS_SIGN
                    unitsType: NONE
                    unitsDisplayType: NONE
                    zeroFormat: ZERO
                    comparisonIncrease: GOOD
                    groupingSeparator: COMMA
                    decimalSeparator: FULL_STOP
                  summary: Sum
                  timeScale: Month
                  timeRange: timeRange1
                  formulaScope: All Versions
                  style: Normal
                  code: code7
                  notes: note1
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItem'
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      description: "## Early access: Retrieve all line item metadata in a module\n\n**Note:**This is an early access endpoint\
        \ and is not generally available yet.\n\nUse this call when you want to get all line items and metadata in a module.\n\
        \n### Request\n\n`curl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/}/modules/{moduleId}/lineItems?includeAll=true'\
        \ \\`  \n`-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\`  \n`-H 'Accept: application/json'`\n\n###\
        \ Request Headers\n\n|  |  |\n| --- | --- |\n| **Header** | **Details** |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Optional<br>*   Description: This call uses a content type of `application/json`.<br><br> |\n\n###\
        \ Request parameters\n\n|  |  |\n| --- | --- |\n| **Parameter** | **Details** |\n| `{modelId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: the model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br> |\n|\
        \ `{moduleId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example: `89AA40874E6B64FA3AE07432789967048`<br><br>\
        \ |\n| includeAll | <br><br>*   Required<br>*   Type: boolean<br>*   Description: true or false<br>*   Example: `includeAll=true`<br><br><br><br>\
        \ |\n\n### Response header\n\n`Content-Type: application/json`"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: moduleId
      in: path
      required: true
      schema:
        type: string
      example: '{{moduleId}}'
  /2/0/workspaces/{workspaceId}/models/{modelId}/views:
    get:
      summary: Retrieve IDs and names for all views in a model
      parameters:
      - name: includesubsidiaryviews
        in: query
        schema:
          type: string
        example: 'true'
        description: When set to "true", includes unsaved subsidiary views in the results. Any value other than "true" is
          interpreted as false.
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/view
                status:
                  code: 200
                  message: Success
                views:
                - code: ''
                  id: '102000000000'
                  name: StrategicPlanning
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000000'
                  name: StrategicPlanning.UK Financial forecast
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000001'
                  name: StrategicPlanning.EMEAforecastreport
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000002'
                  name: StrategicPlanning.'accountSummary&overview/US$'
                  moduleId: '102000000000'
                - code: ''
                  id: '237000000001'
                  name: '''StrategicPlanning/2020''.''accountSummary&overview/US$'''
                  moduleId: '102000000001'
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  views:
                    type: array
                    items:
                      $ref: '#/components/schemas/View'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      description: "## Retrieve IDs and names for all views in a model\n\n`/models/{modelId}/views`\n\nUse this call to retrieve\
        \ the ID and name of all views for a model. The results include default and saved views. If you add the query parameter\
        \ `includesubsidiaryviews=true`, this includes unsaved subsidiary views in the results. This call also retrieves the\
        \ ID of the module that the views belong to.\n\n**Notes**:\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n\
        *   Single quotes enclose the module and view names that have special characters\n*   Use of this call may be rate\
        \ limited. If you call too frequently, you may receive a `429` response\n    \n\n### Default views\n\nFor default\
        \ views:\n\n*   The value of the {viewId} is identical to the value of the {moduleId}\n*   The value of the name is\
        \ identical to the value of the module\n    \n\n### Saved views\n\nFor saved views:\n\n*   The `name` consists of\
        \ the module name, a period, and the saved view name. For example, `REP01 Profit & Loss Report.P & L by Country`\n\
        \    \n\nFor unsaved subsidiary views:\n\n*   The name consists of the module name and the line item name that the\
        \ subsidiary view is created from\n*   These are separated by a period(.)\n    \n\n### Request\n\n```\ncurl -X GET\n\
        'https://api.anaplan.com/2/0/models/{modelId}/views' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\
        \ \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n|\
        \ `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication\
        \ token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred\
        \ response is `application/json` format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n\
        | --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*\
        \   Example: `75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Query parameter\n\n| **Parameter** | **Details** |\n\
        | --- | --- |\n| `{includesubsidiaryviews}` | <br><br>*   Optional (default false)<br>*   Type: String<br>*   Description:\
        \ Whether the response should include unsaved subsidiary views. The field is interpreted as false if anything other\
        \ than `true` is specified<br>*   Example: `?includesubsidiaryviews=true`<br><br> |\n\n### Response header\n\n`Content-Type:\
        \ application/json`"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/models/{modelId}/views/{viewId}:
    get:
      summary: Retrieve metadata for dimensions on a view
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  viewId:
                    type: string
                  viewName:
                    type: string
                  rows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
                  columns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
                  pages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      description: "## Retrieve metadata for dimensions on a view\n\n`/models/{modelId}/views/{viewId}`\n\nUse this call to\
        \ retrieve the name, IDs, and lists of names for the dimensions (columns, pages, rows) on a specified view.\n\n**Notes**:\n\
        \n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n\
        *   If a view has no dimensions on an axis, the call omits the axis field (for example, no `“rows”` field at all instead\
        \ of `“rows”: []`)\n*   If a view is the default view, its `name` is set to be the same as the module name\n*   Use\
        \ of this call may be rate limited. If you call too frequently, you may receive a `429` response\n*   The `viewId`\
        \ in this request can also be replaced by any valid `lineItemId`. If the Line Item has a changed dimensionality (has\
        \ a Subsidiary View), the response returns the metadata applicable to that line item. Otherwise, the response returns\
        \ the default metadata\n    \n\nYou can use this API call to [map dimensions to cell data export headers](https://help.anaplan.com/43cd0223-edaa-4289-9833-eb9b73666aac-Map-dimensions-to-cell-data-export-headers)\
        \ or [transform grid CSV format to tabular single column format](https://help.anaplan.com/c8a665b9-6b23-4254-ac68-816657a6e878-Retrieve-the-view-metadata-and-grid-view-data).\n\
        \n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/views/{viewId}' \\\n-H 'Authorization:\
        \ AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header**\
        \ | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*\
        \   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*\
        \   Description: This indicates the preferred response is `application/json` format.<br><br> |\n\n### Request parameters\n\
        \n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*  \
        \ Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br> |\n| `{viewId}` | <br><br>*\
        \   Required<br>*   Type: Number<br>*   Description: the ID for the view<br>*   Example: `102000000000`<br><br> |\n\
        \n### Response 200 Body\n\n```\n{\n  \"meta\": {\n    \"schema\": \"https://api.anaplan.com/2/0/objects/view\"\n \
        \ },\n  \"status\": {\n    \"code\": 200,\n    \"message\": \"Success\"\n  },\n  \"viewName\": \"REV01 Price Book\"\
        ,\n  \"viewId\" : \"102000000000\"\n  \"rows\": [\n    {\n      \"id\": \"101000000000\",\n      \"name\": \"Products\"\
        \n    },\n    {\n      \"id\": \"101000000003\",\n      \"name\": \"Regions\"\n    }\n  ],\n  \"columns\": [\n   \
        \ {\n      \"id\": \"101999999999\",\n      \"name\": \"Line items\"\n    }\n  ],\n  \"pages\": [\n    {\n      \"\
        id\": \"101000000001\",\n      \"name\": \"Versions\"\n    }\n  ],\n}\n\n```"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: viewId
      in: path
      required: true
      schema:
        type: string
      example: ''
  /2/0/models/{modelId}/modules/{moduleId}/views:
    get:
      summary: Retrieve IDs and names for views in a module
      parameters:
      - name: includesubsidiaryviews
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/view
                status:
                  code: 200
                  message: Success
                views:
                - code: ''
                  id: '102000000000'
                  name: default
                  moduleId: '102000000000'
                - code: ''
                  id: '203000000000'
                  name: SavedView
                  moduleId: '102000000000'
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  views:
                    type: array
                    items:
                      $ref: '#/components/schemas/View'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      description: "## Retrieve IDs and names for views in a module\n\n`/models/{modelId}/modules/{moduleId}/views`\n\nUse\
        \ this call to retrieve all view IDs and names for a specified module. This call also returns the default view for\
        \ the module. If the user adds the query parameter includesubsidiaryviews=true, unsaved subsidiary views will also\
        \ be included in the results.\n\n**Notes**:\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n\
        *   For the default view, the `{viewId}` is the same as the `{moduleId}`\n*   Use of this call may be rate limited.\
        \ If you call too frequently, you may receive a `429` response\n*   For unsaved subsidiary views, the `{viewId}` and\
        \ `{viewName}` are the same as the `{lineItemId}` and `{lineItemName}` that the subsidiary view is created from\n\
        \    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/modules/{moduleId}/views' \\\
        \n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Required<br>*   Description: This indicates the preferred response is `application/json` format.<br><br>\
        \ |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br>\
        \ |\n| `{moduleId}` | <br><br>*   Required<br>*   Type: number<br>*   Description: the ID for the module<br>*   Example:\
        \ `102000000028`<br><br> |\n| `{includesubsidiaryviews}` | <br><br>*   Optional (default false)<br>*   Type: String<br>*\
        \   Description: Whether the response should include unsaved subsidiary views. The field is interpreted as false if\
        \ anything other than `true` is specified<br>*   Example: `?includesubsidiaryviews=true`<br><br> |\n\n### Response\
        \ header\n\n`Content-Type: application/json`"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: moduleId
      in: path
      required: true
      schema:
        type: string
      example: '{{moduleId}}'
  /2/0/models/{modelId}/lineItems:
    get:
      summary: Retrieve all line items in a model
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/lineItem
                status:
                  code: 200
                  message: Success
                items:
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000000'
                  name: Quantity Sold
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000001'
                  name: Price
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000002'
                  name: Revenue
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000000'
                  name: Commission
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000001'
                  name: Cost
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000002'
                  name: Profit
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItem'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Line Item Metadata
      description: "## Retrieve all line items in a model\n\n`/models/{modelId}/lineItems`\n\nUse this call to retrieve identifiers\
        \ of all line items in a model.\n\n**Notes**:\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   The returned line items are restricted just to those in modules to which the model role of the user has Read access.\n\
        *   The response returns Items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html)\
        \ (no hierarchy).\n*   This returns all the line items in the model. For line items in a specific module see [Retrieve\
        \ Line Items For a Module](https://anaplanbulkapi20.docs.apiary.io/#RetrieveAllLineItemsModule).\n*   Use of this\
        \ call may be rate limited. If you call too frequently, you may receive a `429` response\n    \n\n### Request\n\n\
        ```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/lineItems' \\\n-H 'Authorization: AnaplanAuthToken\
        \ {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details**\
        \ |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description:\
        \ the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description:\
        \ This indicates the preferred response is either `application/json` format. Note that this call only outputs in `application/json`\
        \ format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*\
        \   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br>\
        \ |"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/models/{modelId}/lineItems/{lineItemId}/dimensions:
    get:
      summary: Retrieve dimensions IDs for a line item
      parameters: []
      responses:
        '200':
          description: Dimensions that define the line item
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  dimensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
      tags:
      - Model Metadata
      - Line Item Metadata
      description: "## Retrieve dimensions IDs for a line item\n\n`/models/{modelId}/lineItems/{lineItemId}/dimensions`\n\n\
        Use this call to retrieve the IDs of dimensions that define a line item.\n\nFor reference, see [Retrieve dimension\
        \ items for a line item](https://anaplanbulkapi20.docs.apiary.io/#RetrieveDimensionsLineItem).\n\nNotes:\n\n*   To\
        \ retrieve the IDs for the dimensions, use a `GET` request with this URL: `https://api.anaplan.com/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions`\
        \ where `{lineItemId}` is a placeholder for the retrieved line item ID.\n*   This returns a list of all the dimensions\
        \ that apply to that line item.\n    \n\n## Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/dimension\"\
        \n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"dimensions\"\
        : [\n        {\n            \"id\": \"20000000003\",\n            \"name\": \"Time\"\n        },\n        {\n    \
        \        \"id\": \"20000000020\",\n            \"name\": \"Versions\"\n        },\n        {\n            \"id\":\
        \ \"101000000001\",\n            \"name\": \"Products\"\n        },\n        {\n            \"id\": \"101000000002\"\
        ,\n            \"name\": \"Regions\"\n        }\n    ]\n}\n\n```"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: lineItemId
      in: path
      required: true
      schema:
        type: string
      example: '{{lineItemId}}'
  /2/0/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items:
    get:
      summary: Retrieve dimension items for a line item
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - id: '220000000001'
                  name: England
                - id: '220000000002'
                  name: Wales
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
      tags:
      - Model Metadata
      - Line Item Metadata
      description: "## Retrieve dimension items for a line item\n\n`/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items`\
        \  \n\nUse this call to retrieve IDs, codes, and names for dimension items that apply for the specified line item.\n\
        \n**Notes**:\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   This call works with any dimension type.\n*   Your requesting model role must allow read access to the module\
        \ the line item belongs to. Otherwise, this call returns a `404 Not Found` HTTP status.\n*   The items in the response\
        \ are ordered as listed in the Anaplan model.\n*   The response returns items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html)\
        \ (no hierarchy).\n*   This returns dimension items that apply to a line item. For the view-level call, see [Retrieve\
        \ selected items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveSelectedItemsDimension) and for\
        \ the model-level call, see [Retrieve all items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveItemsDimension).\n\
        *   This call only supports the retrieval of dimension items where the dimension contains a maximum of 1,000,000 items.\
        \ If the specified dimension contains more than 1,000,000 dimension items, then the call returns a 400 Bad Request\
        \ HTTP status, instead of a subset of the dimension items.\n*   Providing a non-existent Line Item ID or Dimension\
        \ ID returns a 404 Not Found HTTP status.\n*   If the request provides an invalid line item ID or dimension ID this\
        \ call returns a `400 Bad Request` HTTP status.\n*   In the future, use of this call may be rate limited.\n    \n\n\
        ### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items'\
        \ \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Optional<br>*   Description: This indicates the preferred response is either `application/json` format.\
        \ Note that this call only outputs in `application/json` format.<br><br> |\n\n### Request parameters\n\n| **Parameter**\
        \ | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: `String`<br>*   Description: the\
        \ ID for the model<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br> |\n| `{lineItemId}` | <br><br>*   Required<br>*\
        \   Type: `Number`<br>*   Description: the line item ID<br>*   Example: `208000000000`<br><br> |\n| `{dimensionId}`\
        \ | <br><br>*   Required<br>*   Type: `Number`<br>*   Description: the dimension ID<br>*   Example: `101000000028`<br><br>\
        \ |"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: lineItemId
      in: path
      required: true
      schema:
        type: string
      example: '{{lineItemId}}'
    - name: dimensionId
      in: path
      required: true
      schema:
        type: string
      example: '{{dimensionId}}'
  /2/0/models/{modelId}/versions:
    get:
      summary: Retrieve version metadata
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/version
                status:
                  code: 200
                  message: Success
                versionMetadata:
                - id: '107000000001'
                  name: Actual
                  isCurrent: false
                  isActual: true
                  editFrom:
                    periodText: Start of Timescale
                    date: '1900-01-01'
                  editTo:
                    periodText: End of Timescale
                    date: '2399-12-31'
                  notes: This version data is updated every Monday
                - id: '107000000002'
                  name: Variance
                  isCurrent: false
                  isActual: false
                  switchover:
                    periodText: Mar 20
                    date: '2020-03-01'
                  formula: Actual - 20
                  editFrom:
                    periodText: Jan 20
                    date: '2020-01-01'
                  editTo:
                    periodText: Dec 20
                    date: '2020-12-31'
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  versionMetadata:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
      tags:
      - Model Metadata
      - Model Setting Metadata
      description: "## Retrieve version metadata\n\n`/models/{modelId}/versions`  \n\nUse this call to get information about\
        \ the model versions. The response contains a list of the versions that the user has access to, and the model metadata\
        \ that can be viewed from the UI.\n\n**Notes:**\n\n*   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   The returned versions only include the user’s model role with read access or higher.\n*   If the value for a field\
        \ is set, it will be returned in the results.\n    \n\n### Requests\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/versions'\
        \ \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Required<br>*   Description: This indicates the preferred response is either `application/json` format.\
        \ Note that this call only outputs in `application/json` format.<br><br> |\n\n### Request parameters\n\n| **Parameter**\
        \ | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the\
        \ model ID<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`"
    parameters:
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/currentPeriod:
    get:
      summary: Retrieve current period
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/currentPeriod
                status:
                  code: 200
                  message: Success
                currentPeriod:
                  periodText: May 20
                  lastDay: '2020-05-31'
                  calendarType: Calendar Months/Quarters/Years
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  currentPeriod:
                    $ref: '#/components/schemas/CurrentPeriod'
        '429':
          description: more detail in path description
      tags:
      - Model Metadata
      - Model Setting Metadata
      description: "## Retrieve current period\n\n`/workspaces/{workspaceId}/models/{modelId}/currentPeriod`\n\nUse this call\
        \ to determine the value of the current period in Anaplan.\n\nIf the current period is not set in Anaplan, this call\
        \ returns empty strings for the `periodText` and `lastDay` values of the `currentPeriod`.\n\n**Notes**:\n\n*   To\
        \ use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n\
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.\n    \n\n\
        ### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/currentPeriod'\
        \ \\\n-H 'Accept: application/json' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Required<br>*   Description: This indicates the preferred response is `application/json` format.<br><br>\
        \ |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*\
        \   Type: String<br>*   Description: The workspace ID<br>*   Example: `8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n\
        | `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\
        \ `75A40874E6B64FA3AE074327899685`<br><br> |"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/modelCalendar:
    get:
      summary: Get current fiscal year
      parameters: []
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/modelCalendar
                status:
                  code: 200
                  message: Success
                modelCalendar:
                  fiscalYear:
                    year: FY21
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  modelCalendar:
                    $ref: '#/components/schemas/ModelCalendar'
      tags:
      - Model Metadata
      - Model Setting Metadata
      description: "## Get current fiscal year\n\n`/workspaces/{workspaceId}/models/{modelId}/modelCalendar`\n\nUse this call\
        \ to get the current fiscal year with the start and end date from the model calendar. The value of the start and end\
        \ date is determined by the calendar type set in the model. This value is not always a range from Jan 1 to Dec 31.\
        \ The API returns an empty value If the calendar type does not have an available fiscal year (for example, Weeks General).\n\
        \n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/modelCalendar'\
        \ \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request\
        \ headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}`\
        \ | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json`\
        \ | <br><br>*   Optional<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n|\
        \ `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\
        \ `8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description:\
        \ the model ID<br>*   Example: `75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Example 1: Calendar Type: weeks 4-4-5,4-5-4\
        \ or 5-4-4\n\n#### Model Calendar\n\nIn Anaplan, the **Current Fiscal Year** in the **Model Calendar** is set to *FY21:\
        \ 29 Mar 2020 - 27 Mar 2021*.\n\n#### Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/modelCalendar\"\
        \n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"modelCalendar\"\
        : {\n        \"fiscalYear\": {\n            \"year\": \"FY21\",\n            \"startDate\": \"2020-03-29\",\n    \
        \        \"endDate\": \"2021-03-27\"\n        }\n    }\n}\n\n```\n\n#### Example 2: Calendar Type: weeks general\n\
        \n#### Model Calendar\n\nIn Anaplan, the **Calendar Type** in the **Model Calendar** is set to *weeks general*.\n\n\
        #### Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/modelCalendar\"\
        \n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"modelCalendar\"\
        : {}\n}\n\n```"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/actions:
    get:
      summary: List the actions in the model as a JSON array
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                actions:
                - id: '117000000019'
                  name: Delete From Org 2
                - id: '117000000018'
                  name: Open Other Buttons
                - id: '117000000017'
                  name: Delete Branch
      tags:
      - Model Metadata
      - Action Metadata
      description: "## List the actions in the model as a JSON array\n\n`/workspaces/{workspaceId}/models/{modelId}/actions`\
        \  \n\nThis lists the delete actions available for the given model ID. This returns a JSON array containing the list\
        \ of delete actions that you can carry out:\n\n*   `id` is the Id of the action that you can carry out in the specified\
        \ model.\n*   `name` is the name of the action that you can carry out. You can view these actions in the Anaplan user\
        \ interface in the Action settings for the model.\n    \n\n### Get the deletion actions\n\n#### Request\n\n```\ncurl\
        \ -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/actions \\\n-H 'authorization:\
        \ AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken\
        \ {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description**\
        \ |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*\
        \   Example: `8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description:\
        \ The model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/processes:
    get:
      summary: List the process definitions available in a model as a JSON array
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
              - id: '118000000001'
                name: Process1
              - id: '118000000002'
                name: Process2
      tags:
      - Model Metadata
      - Action Metadata
      description: "## List the process definitions available in a model as a JSON array\n\n`/workspaces/{workspaceId}/models/{modelId}/processes`\
        \  \n\nThis lists the processes available for the given modelID. This returns a JSON array containing the list of\
        \ processes that you can run for that model:\n\n*   `id` is the Id of the process that you can run on the specified\
        \ model.\n*   `name` is the name of the process that you can run.\n    \n\n### Get a list of processes\n\n#### Request\n\
        \n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/processes \\\n-H 'authorization:\
        \ AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken\
        \ {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description**\
        \ |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*\
        \   Example: `8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description:\
        \ The model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/imports/:
    get:
      summary: Get a list of import actions
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 8
                    offset: 0
                    totalSize: 8
                  schema: https://api.anaplan.com//2/0/models/75A40874E6B64FA3AE0743278996850F/objects/import
                status:
                  code: 200
                  message: Success
                imports:
                - id: '112000000007'
                  name: ORG2Test from Organization.txt
                  importDataSourceId: '113000000006'
                  importType: HIERARCHY_DATA
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  imports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Import'
      tags:
      - Model Metadata
      - Action Metadata
      description: "## Getting the import ID  \n\n`/workspaces/{workspaceID}/models/{modelID}/imports/` To run an import,\
        \ you need its ID. You can skip this step if you already know the import ID.\n\n### Get the import IDs\n\n#### Request\n\
        \n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/imports \\\n-H 'authorization:\
        \ AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken\
        \ {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description**\
        \ |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*\
        \   Example: `8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description:\
        \ The model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/workspaces/{workspaceId}/models/{modelId}/imports/{importId}/tasks:
    get:
      summary: Get a list of the import tasks
      parameters:
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: 'Sort order for the task list. Format: [prefix]field where prefix is - (descending), + (ascending), or
          omitted (ascending). Documented sortable fields: creationDate, taskId, taskState, progress. Example: -creationDate
          (newest first), +taskId, taskState. The API does not validate the field name — unknown fields are silently accepted
          and appear to fall back to default ordering.'
        example: -creationDate
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/models/F1111111C11111111B11111F1111E11F/objects/task
                status:
                  code: 200
                  message: Success
                task:
                  taskId: 9530E1C5CAEB440DAC4E669178787160
                  taskState: COMPLETE
                  creationTime: 1535145471641
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  task:
                    $ref: '#/components/schemas/Task'
      tags:
      - Model Metadata
      - Action Metadata
      description: "### Get a list of the import tasks\n\n*   Request\n    \n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/imports/{importId}/tasks\
        \ \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n\
        #### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n \
        \   \n\n#### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*\
        \   Type: string<br>*   Description: The workspace ID<br>*   Example: `8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` |\
        \ <br><br>*   Required<br>*   Type: string<br>*   Description: The model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br>\
        \ |\n| `importId` | <br><br>*   Required<br>*   Type: number<br>*   Description: The model ID<br>*   Example: `112000000007`<br><br>\
        \ |\n\n#"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
    - name: importId
      in: path
      required: true
      schema:
        type: string
      example: '{{importId}}'
    post:
      summary: Start the import
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                taskId: 5E6331685CC648A29B725923B8FAEA1C
      tags:
      - Bulk Write
      description: "## Start the import\n\n`/workspaces/{workspaceId}/models/{modelId}/imports/{importId}/tasks/`  \n\nYou\
        \ start the import using the POST command. This also receives the task ID value as a JSON object. Once you have started\
        \ the import, you can use GET to receive a list of the import tasks as a JSON array. You can use this to monitor the\
        \ status of the import tasks.\n\n**Note:** If GET does not return any tasks, the import is not running or might have\
        \ completed. Tasks sort in ascending order of creation time, with the newest task at the top of the list. To sort\
        \ in descending order, append `?sort =- creationTime` to the URL.\n\n### Run the import\n\n*   Request\n    \n\n```\n\
        curl -X POST \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/imports/{importId}/tasks \\\
        \n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\" \\\n-d \"{\\\"\
        localeName\\\": \\\"en_US\\\"}\"\n```\n\n#### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization:AnaplanAuthToken\
        \ {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: The Anaplan authentication token<br><br> |\n| `Content-Type:application/json`\
        \ | <br><br>*   Required<br>*   Description: Specifies the content type as `application/json`<br><br> |\n\n#### Request\
        \ Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*  \
        \ Type: string<br>*   Description: The workspace ID<br>*   Example: `8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*\
        \   Required<br>*   Type: string<br>*   Description: The model ID<br>*   Example: `75A40874E6B64FA3AE0743278996850F`<br><br>\
        \ |\n| `importId` | <br><br>*   Required<br>*   Type: number<br>*   Description: The model ID<br>*   Example: `112000000007`<br><br>\
        \ |\n\n#### Request Body\n\n| **Body** | **Description** |\n| --- | --- |\n| `{\"localeName\": \"en_US\"}` | <br><br>*\
        \   Required<br>*   Description: Specifies the language to use for task status and error messages. `en_US` is the\
        \ only supported language type.<br><br> |\n\n#"
  /2/0/workspaces/{workspaceId}/models/{modelId}/exports:
    get:
      summary: List the available export definitions as a JSON array
      parameters: []
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 2
                    offset: 0
                    totalSize: 2
                  schema: https://api.anaplan.com//2/0/models/75A40874E6B64FA3AE0743278996850F/objects/export
                status:
                  code: 200
                  message: Success
                exports:
                - id: '116000000000'
                  name: Deployed quota - Deployed quota.txt
                  exportType: TABULAR_MULTI_COLUMN
                - id: '116000000001'
                  name: ExportGrid - ORG2Test.xls
                  exportType: GRID_CURRENT_PAGE
              schema:
                type: object
                properties:
                  meta:
                    type: object
                  status:
                    type: object
                  exports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Export'
      tags:
      - Model Metadata
      - Action Metadata
      description: "## List the available export definitions as a JSON array\n\n`/workspaces/{workspaceId}/models/{modelId}/exports`\n\
        \nTo run an export, you need the ID of its export definition. You can get a list of the export definitions with their\
        \ ID for models in your workspace. This enables you to decide on the Export action to carry out. If you already know\
        \ the ID of the export definition, you can skip this step.\n\n### Get the export definitions for the specified modelID\n\
        \n#### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/exports\
        \ \\\n -H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n -H \"Content-Type:application/json\"\n\n```\n\
        \n#### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n\
        \    \n\n#### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` |   <br>  <br>* Required\
        \  <br>* Type: string  <br>* Description: The workspace ID  <br>* Example: `8a8b8c8d8e8f8g8i`  <br>  <br> |\n| `modelId`\
        \ |   <br>  <br>* Required  <br>* Type: string  <br>* Description: The model ID  <br>* Example: `75A40874E6B64FA3AE0743278996850F`\
        \  <br>  <br> |\n\n#"
    parameters:
    - name: workspaceId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9a-f]{32}$
      example: 8a868cda7c8b28f5017c9a4b2d8341cd
      description: Workspace identifier (32-character lowercase hex string).
    - name: modelId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[0-9A-F]{32}$
      example: 4261ECE4389B45E18915B5EB72F7510B
      description: Model identifier (32-character uppercase hex string).
  /2/0/models/{modelId}/processes/{processId}:
    get:
      summary: Retrieve metadata for a process
      parameters:
      - name: showImportDataSource
        in: query
        schema:
          type: string
        example: 'true'
        description: When set to "true", includes additional information about the import data source. Any value other than
          "true" is interpreted as false.
      responses:
        '200':
          description: Response 200
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/process
                status:
                  code: 200
[...]
