openapi: 3.0.0
info:
  title: Official Anaplan Collection
  version: 1.0.0
  description: 'The Anaplan Integration API v2 provides REST endpoints for programmatic access to Anaplan resources: workspaces,
    models, files, imports, exports, processes, actions, lists, and modules. Use this API to automate data movement and model
    operations.'
servers:
- url: https://api.anaplan.com/2/0
  description: US1, US2, US5, US7, EU1, EU2, EU4, AP1
- url: https://us9.api.anaplan.com/2/0
  description: US9
- url: https://eu3.api.anaplan.com/2/0
  description: EU3
- url: https://eu5.api.anaplan.com/2/0
  description: EU5
- url: https://gb1.api.anaplan.com/2/0
  description: GB1
- url: https://ca1a.api.anaplan.com/2/0
  description: CA1
- url: https://sg1.api.anaplan.com/2/0
  description: SG1
- url: https://ae1.api.anaplan.com/2/0
  description: AE1
- url: https://in1.api.anaplan.com/2/0
  description: IN1
- url: https://id1.api.anaplan.com/2/0
  description: ID1
- url: https://me1.api.anaplan.com/2/0
  description: ME1
- url: https://au1a.api2.anaplan.com/2/0
  description: AU1
security:
- AnaplanAuthToken: []
- BearerAuth: []
paths:
  /models:
    get:
      summary: List user models
      description: Retrieves information about all models in the user's default tenant.
      tags:
      - General Workspace & Model Metadata
      parameters:
      - name: modelDetails
        in: query
        description: When true, includes available model memory usage in bytes in the response.
        schema:
          type: boolean
        example: true
      - $ref: '#/components/parameters/Search'
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: All models in the user's default tenant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
  /models/{modelId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Get single model metadata
      tags:
      - General Workspace & Model Metadata
      parameters:
      - name: modelDetails
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Metadata for the model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  model:
                    $ref: '#/components/schemas/Model'
  /models/{modelId}/actions:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: List the actions in the model as a JSON array
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/actions`. Returns the same response
        shape without requiring a workspace ID. Lists delete actions available for the specified model.
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Actions retrieved successfully
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 3
                    offset: 0
                    totalSize: 3
                  schema: https://api.anaplan.com/2/0/models/D4E5F6A1B2C3D4E5F6A1B2C3D4E5F6A1/objects/action
                status:
                  code: 200
                  message: Success
                actions:
                - id: '117000000019'
                  actionType: DELETE_BY_SELECTION
                  name: Delete Flat New SKU List
                - id: '117000000018'
                  actionType: DELETE_BY_SELECTION
                  name: Delete Flat New SKU List After Import
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Action'
  /models/{modelId}/currentPeriod:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Get current period (model-scoped)
      tags:
      - Model Settings
      responses:
        '200':
          description: The model's current period.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/currentPeriod
                status:
                  code: 200
                  message: Success
                currentPeriod:
                  periodText: May 20
                  lastDay: '2020-05-31'
                  calendarType: Calendar Months/Quarters/Years
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  currentPeriod:
                    $ref: '#/components/schemas/CurrentPeriod'
    put:
      summary: Set current period
      description: |-
        Use this call to change or reset the current period in Anaplan. When this call contains a specified date (for example, 2020-05-20), the API determines what period range contains the specified data and sets that range as the current period.  When the date value is set to blank in this call, the API resets the current period to blank.

        **Warning**: A change to your time settings is a potentially destructive action and may lead to data loss.  The new range of time periods may not include previous time periods. Any data in the removed time periods is deleted from the model.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response

        ### Request body

        | **Body** | **Details** |
        | --- | --- |
        | `{date}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The date to use to set, or reset, the current period. The date format is YYYY-MM-DD.  <br>    If the `date` parameter is left blank (for example, `/currentperiod?date=`) the current period resets.  <br>    If the date is not provided in the YYYY-MM-DD format, the call returns a `400 Bad Request` response with this message: `Invalid ISO date format '{date}'. Date should match format YYYY-MM-DD`  <br>    If this value falls outside of a valid range, the call returns a `400 Bad Request` response with this message: `Specified date '{date}' is out of timescale range {start of timescale} - {end of timescale}`.<br>*   Example: 2010-05-20<br><br> |
      tags:
      - Transactional Write
      parameters:
      - name: date
        in: query
        description: The date used to set the current period (YYYY-MM-DD). Leave blank (?date=) to reset the current period.
          Accepted as either a query parameter or a request body field, but not both simultaneously. Returns 400 if the format
          is invalid or the date falls outside the model timescale.
        required: false
        schema:
          type: string
          format: date
          pattern: ^\d{4}-\d{2}-\d{2}$
        example: '2020-05-20'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRequest'
            example:
              date: '2020-07-03'
      responses:
        '200':
          description: The updated current period.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/currentPeriod
                status:
                  code: 200
                  message: Success
                currentPeriod:
                  periodText: May 20
                  lastDay: '2020-05-31'
                  calendarType: Calendar Months/Quarters/Years
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  currentPeriod:
                    $ref: '#/components/schemas/CurrentPeriod'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
        '400':
          description: 'Bad request. Occurs when: (1) the date is not in YYYY-MM-DD format — "Invalid ISO date format ''{date}''.
            Date should match format YYYY-MM-DD"; (2) the date falls outside the model timescale — "Specified date ''{date}''
            is out of timescale range {start} - {end}"; (3) date is supplied as both a query parameter and a request body
            field simultaneously.'
  /models/{modelId}/dimensions/{dimensionId}/items:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/DimensionId'
    get:
      summary: 'Model-direct form: Retrieve all items in a dimension'
      description: |-
        Alternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items`.

        Use this call to retrieve the IDs, codes, and names for items in a specified dimension. The dimension must be a list, a list subset, a line item subset, or the Users dimension.

        Calls at model-level do not support the Time dimension. The calls return a `400` response. To avoid this, use the view dimension instead.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   This call is on the model-level. It returns all dimension items as it does not have view-level hiding, filtering, or [Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). For the view-level endpoint, see Retrieve selected items in a dimension.
        *   If codes have not been set for an item, then the response excludes the `code` field.
        *   This call only supports the retrieval of dimensions and items from a dimension that contains a maximum of 1,000,000 items.
            The call returns a `400` response for any more than that number of items.
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.
      tags:
      - Model Metadata
      - List Metadata
      responses:
        '200':
          description: Items of the dimension.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - code: N
                  id: '200000000001'
                  name: North
                - code: E
                  id: '200000000002'
                  name: East
                - code: S
                  id: '200000000003'
                  name: South
                - code: W
                  id: '200000000004'
                  name: West
                - id: '200000000000'
                  name: Total Company
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '400':
          description: Bad request — check the request parameters and body.
        '429':
          description: Rate limited — too many requests. Retry after a delay.
    post:
      summary: 'Model-direct form: Lookup dimension items by name or code'
      description: |-
        Model-direct alternate URL form — identical behaviour to `/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items` POST.

        Retrieve the items from a dimension that match one of a list of names or a list or codes.

        ** Notes: **

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   This call does not return results for names or codes for which an item does not exist.
        *   If the given workspace, model, or dimension do not exist, this call returns a `404` code.
        *   If the dimension does not support codes and codes are provided, this call returns a `400` code.
        *   In the future, use of this call may be rate limited.

        ### Request body

        | **JSON Element** | **Description** |
        | --- | --- |
        | `names` | The case-insensitive strings that match the name of a returned item. |
        | `codes` | The case-insensitive strings that match the code of a returned item. |

        Note that the `names`, `codes`, or both fields in the request body must contain a non-empty value. If the request body does not include at least one of these fields, the response returns an error.
      tags:
      - Model Metadata
      - List Metadata
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codes:
                  type: array
                  items:
                    type: string
                    format: utc-millisec
                names:
                  type: array
                  items:
                    type: string
            example:
              codes:
              - '2'
              names:
              - Test1
      responses:
        '200':
          description: Matching items from the dimension.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - name: South
                  id: '208000000001'
                  code: S
                - name: West
                  id: '208000000004'
                  code: W
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '404':
          description: Not found — the referenced resource does not exist.
        '400':
          description: Bad request — check the request parameters and body.
  /models/{modelId}/exports:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: List the available export definitions as a JSON array
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/exports`. Returns the same response
        shape without requiring a workspace ID. Lists export definitions available for the specified model.
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Exports retrieved successfully
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 2
                    offset: 0
                    totalSize: 2
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/export
                status:
                  code: 200
                  message: Success
                exports:
                - id: '116000000000'
                  name: Export Grid.xls
                  exportType: GRID_CURRENT_PAGE
                  exportFormat: text/csv
                  layout: GRID_CURRENT_PAGE
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  exports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Export'
  /models/{modelId}/exports/{exportId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ExportId'
    get:
      summary: Get the metadata for an export definition
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/exports/{exportId}`. Returns the same
        `exportMetadata` response shape without requiring a workspace ID.
      tags:
      - Model Metadata
      - Action Metadata
      responses:
        '200':
          description: Metadata for the export definition.
          content:
            application/json:
              example:
                meta:
                  schema: https://api-stg.anaplan.com/2/0/models/28D168FB7385407A8AC0026487733564/objects/exportMetadata
                status:
                  code: 200
                  message: Success
                exportMetadata:
                  columnCount: 16
                  dataTypes:
                  - ENTITY
                  - MIXED
                  - MIXED
                  - MIXED
                  - MIXED
                  delimiter: '"'
                  encoding: UTF-8
                  exportFormat: text/csv
                  headerNames:
                  - ListWithSemiColonAsSeparator
                  - Parent
                  - Code
                  - DepProjects
                  - col1
                  - col2
                  - col3
                  - col4
                  - data
                  - delete
                  listNames:
                  - ''
                  - ''
                  - ''
                  - ''
                  rowCount: 20432
                  separator: ','
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  exportMetadata:
                    $ref: '#/components/schemas/ExportMetadata'
  /models/{modelId}/files:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Get a list of files
      description: |-
        To upload a file, you need its ID in Anaplan:

        *   `id` is the ID that you need to upload the file.
        *   `name` is the filename of the file.
        *   `chunkCount` is the number of chunks in the file.
        *   `delimiter` is double-quotes for columns and fields. For example, "Versions","Opportunities"," "Version 1","Opportunity 0001".
        *   `encoding` determines the way in which bytes in a file map to Unicode character code points. See [Common Character Encodings](https://en.wikipedia.org/wiki/Character_encoding#Common_character_encodings) on Wikipedia.
        *   `firstDataRow` is the first row after the row containing column names.
        *   `format` is text, as opposed to a binary stream.
        *   `headerRow` is the row that contains column names.
        *   `separator` is the token that separates fields. This is typically a comma, for example, "Versions","Opportunities"," "Version 1","Opportunity 0001".

        ### Headers

        *   `Authorization:AnaplanAuthToken {anaplan_auth_token}`
        *   `Accept:application/json`
      tags:
      - Model Metadata
      - File Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Files in the model, each with the ID needed to upload.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 9
                    offset: 0
                    totalSize: 9
                  schema: https://api.anaplan.com//2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/file
                status:
                  code: 200
                  message: Success
                files:
                - id: '113000000000'
                  name: '#T & #R.csv'
                  chunkCount: 0
                  delimiter: '"'
                  encoding: ISO-8859-1
                  firstDataRow: 2
                  format: txt
                  headerRow: 1
                  separator: ','
                - id: '113000000001'
                  name: '#T & #R-1.csv'
                  chunkCount: 0
                  delimiter: '"'
                  encoding: ISO-8859-1
                  firstDataRow: 2
                  format: txt
                  headerRow: 1
                  separator: ','
                - id: '113000000002'
                  name: Sales metrics (1) - POC load.csv
                  chunkCount: 0
                  delimiter: '"'
                  encoding: UTF-8
                  firstDataRow: 2
                  format: txt
                  headerRow: 1
                  separator: ','
                - id: '116000000001'
                  name: ExportGrid - ORG2Test.xls
                  chunkCount: 1
                  firstDataRow: 0
                  headerRow: 0
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  files:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
  /models/{modelId}/files/{fileId}/chunks:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/FileId'
    get:
      summary: Get Chunks Details (model-direct)
      description: 'Model-direct equivalent of `GET /workspaces/{workspaceId}/models/{modelId}/files/{fileId}/chunks`. Returns
        the same response shape: a `chunks` array of `{id, name}` objects (key omitted entirely when `chunkCount` is 0).'
      tags:
      - Bulk Read
      responses:
        '200':
          description: Chunk IDs and names for the file.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 4
                    offset: 0
                    totalSize: 4
                  schema: https://api.anaplan.com//2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/chunk
                status:
                  code: 200
                  message: Success
                chunks:
                - id: '0'
                  name: Chunk 0
                - id: '1'
                  name: Chunk 1
                - id: '2'
                  name: Chunk 2
                - id: '3'
                  name: Chunk 3
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  chunks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chunk'
  /models/{modelId}/imports:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Get a list of import actions
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/imports`. Returns the same response
        shape without requiring a workspace ID. Lists import definitions available for the specified model.
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Imports retrieved successfully
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 8
                    offset: 0
                    totalSize: 8
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/import
                status:
                  code: 200
                  message: Success
                imports:
                - id: '112000000007'
                  name: ORG2Test from Organization.txt
                  importDataSourceId: '113000000006'
                  importType: HIERARCHY_DATA
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  imports:
                    type: array
                    items:
                      $ref: '#/components/schemas/Import'
  /models/{modelId}/imports/{importId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ImportId'
    get:
      summary: Get the metadata for an import definition
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/imports/{importId}`. Returns the same
        `importMetadata` response shape without requiring a workspace ID.
      tags:
      - Model Metadata
      - Action Metadata
      responses:
        '200':
          description: Metadata for the import definition.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/importMetadata
                status:
                  code: 200
                  message: Success
                importMetadata:
                  name: Employees from Employees.txt
                  type: FILE
                  source:
                    textEncoding: ISO-8859-1
                    columnSeparator: "\t"
                    textDelimiter: '"'
                    headerRow: 1
                    firstDataRow: 2
                    decimalSeparator: .
                    headerNames:
                    - Name
                    - Sales Region
                    - Parent
                    - Code
                    - Sales Team
                    - Start Date
                    - Leave Date
                    - Salary
                    - Address
                    - Quota
                    - Bonus %
                    - Sales Rep
                    - Staff
                    - Exec
                    columnCount: 14
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  importMetadata:
                    $ref: '#/components/schemas/ImportMetadata'
  /models/{modelId}/lineItems:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Retrieve all line items in a model
      description: |-
        Use this call to retrieve identifiers of all line items in a model.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   The returned line items are restricted just to those in modules to which the model role of the user has Read access.
        *   The response returns Items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy).
        *   This returns all the line items in the model. For line items in a specific module see Retrieve Line Items For a Module.
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response
      tags:
      - Model Metadata
      - Line Item Metadata
      responses:
        '200':
          description: All line items in the model.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/lineItem
                status:
                  code: 200
                  message: Success
                items:
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000000'
                  name: Quantity Sold
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000001'
                  name: Price
                - moduleId: '102000000000'
                  moduleName: Sales Entry
                  id: '206000000002'
                  name: Revenue
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000000'
                  name: Commission
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000001'
                  name: Cost
                - moduleId: '102000000001'
                  moduleName: Profit
                  id: '208000000002'
                  name: Profit
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItem'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/lineItems/{lineItemId}/dimensions:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/LineItemId'
    get:
      summary: Retrieve dimensions IDs for a line item
      description: |-
        Use this call to retrieve the IDs of dimensions that define a line item.

        For reference, see Retrieve dimension items for a line item.

        Notes:

        *   This returns a list of all the dimensions that apply to that line item.
      tags:
      - Model Metadata
      - Line Item Metadata
      responses:
        '200':
          description: Dimensions that define the line item
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  dimensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                dimensions:
                - id: '20000000003'
                  name: Time
                - id: '20000000020'
                  name: Versions
                - id: '101000000001'
                  name: Products
                - id: '101000000002'
                  name: Regions
  /models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/LineItemId'
    - $ref: '#/components/parameters/DimensionId'
    get:
      summary: Retrieve dimension items for a line item
      description: |-
        Use this call to retrieve IDs, codes, and names for dimension items that apply for the specified line item.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   This call works with any dimension type.
        *   Your requesting model role must allow read access to the module the line item belongs to. Otherwise, this call returns a `404 Not Found` HTTP status.
        *   The items in the response are ordered as listed in the Anaplan model.
        *   The response returns items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy).
        *   This returns dimension items that apply to a line item. For the view-level call, see Retrieve selected items in a dimension and for the model-level call, see Retrieve all items in a dimension.
        *   This call only supports the retrieval of dimension items where the dimension contains a maximum of 1,000,000 items. If the specified dimension contains more than 1,000,000 dimension items, then the call returns a 400 Bad Request HTTP status, instead of a subset of the dimension items.
        *   Providing a non-existent Line Item ID or Dimension ID returns a 404 Not Found HTTP status.
        *   If the request provides an invalid line item ID or dimension ID this call returns a `400 Bad Request` HTTP status.
        *   In the future, use of this call may be rate limited.
      tags:
      - Model Metadata
      - Line Item Metadata
      responses:
        '200':
          description: Items of the dimension for the line item.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - id: '220000000001'
                  name: England
                - id: '220000000002'
                  name: Wales
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
  /models/{modelId}/lists:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: 'Model-direct form: Retrieve Lists'
      description: |-
        Alternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/lists`.

        Use this call to retrieve lists for a specified workspace and model.
      tags:
      - Model Metadata
      - List Metadata
      responses:
        '200':
          description: Lists in the model.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 5
                    offset: 0
                    totalSize: 5
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/list
                status:
                  code: 200
                  message: Success
                lists:
                - id: '101000000000'
                  name: Organization
                - id: '101000000001'
                  name: opportunities
                - id: '101000000002'
                  name: sales rep
                - id: '101000000003'
                  name: Bakery
                - id: '101000000004'
                  name: List2
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  lists:
                    type: array
                    items:
                      $ref: '#/components/schemas/List'
  /models/{modelId}/lists/{listId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ListId'
    get:
      summary: 'Model-direct form: Retrieve list metadata'
      description: |-
        Alternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/lists/{listId}`.

        Use this call to retrieve metadata for a specified list. Field-level descriptions are in the response schema (ListMetadata). Metadata entries that are not set for a list (for example, no parent or no top level item) are omitted from the response.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.
      tags:
      - Model Metadata
      - List Metadata
      responses:
        '200':
          description: Metadata for the list.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/list
                status:
                  code: 200
                  message: Success
                metadata:
                  id: '101000000001'
                  name: Sales Reps
                  properties:
                  - name: Salesforce
                    format: TEXT
                    notes: ''
                    referencedBy: ''
                  - name: Mail
                    format: TEXT
                    notes: ''
                    referencedBy: ''
                  hasSelectiveAccess: false
                  parent:
                    id: '101000000000'
                    name: Organization
                  managedBy: ''
                  numberedList: false
                  useTopLevelAsPageDefault: false
                  itemCount: 1
                  workflowEnabled: false
                  productionData: false
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  metadata:
                    $ref: '#/components/schemas/ListMetadata'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/modelCalendar:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Get model calendar (model-direct)
      description: 'Model-direct equivalent of `GET /workspaces/{workspaceId}/models/{modelId}/modelCalendar`. Returns the
        same response shape: a `modelCalendar` object containing the current fiscal year with start and end dates (empty object
        when the calendar type has no fiscal year, e.g., Weeks General).'
      tags:
      - Model Metadata
      - Model Setting Metadata
      responses:
        '200':
          description: The model calendar.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/modelCalendar
                status:
                  code: 200
                  message: Success
                modelCalendar:
                  fiscalYear:
                    year: FY21
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  modelCalendar:
                    $ref: '#/components/schemas/ModelCalendar'
  /models/{modelId}/modelCalendar/fiscalYear:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    put:
      summary: Update current fiscal year
      description: Use this call to update the current fiscal year for the model calendar. The year input value has to be
        a valid fiscal year supported by the model calendar in Anaplan. If successful, this call returns the updated fiscal
        year with start and end date associated with current model calendar type. This call returns a `400 bad request` message
        if the input value is out of range or model calendar type does not have an available fiscal year (for example, Weeks
        General).
      tags:
      - Transactional Write
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: string
                  description: Fiscal year to set as current. Must be a valid fiscal year for the model's calendar type (for
                    example, FY21).
            example:
              year: FY21
      responses:
        '200':
          description: The updated fiscal year with its start and end dates.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/modelCalendar
                status:
                  code: 200
                  message: Success
                modelCalendar:
                  fiscalYear:
                    year: FY21
                    startDate: '2021-01-01'
                    endDate: '2021-12-31'
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  modelCalendar:
                    $ref: '#/components/schemas/ModelCalendar'
  /models/{modelId}/modules:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Retrieve IDs and names for all modules in a model
      description: |-
        Use this call to retrieve the IDs and names of all modules for a specified model.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      responses:
        '200':
          description: IDs and names of all modules in the model.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/module
                status:
                  code: 200
                  message: Success
                modules:
                - id: '102000000125'
                  name: REV01 Price Book
                - id: '102000000121'
                  name: REV02 Volume Inputs
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  modules:
                    type: array
                    items:
                      $ref: '#/components/schemas/Module'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/modules/{moduleId}/data:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ModuleId'
    post:
      summary: Write cell data by coordinate to module
      description: |-
        Use this call to set cell values in a module.

        Ensure the request body is an array of `CellWrite` objects. Each object is for an updated individual cell and its full set of dimensions.

        The response contains a summary of the number of cells updated successfully and the details of why some cells that could not be updated.

        **Notes:**

        *   Ensure the user has write access enabled.
        *   Ensure the request includes all of the required fields.
        *   Ensure the request has a `value` field that is either a string, number or boolean and is compatible with the line item format/data type.
        *   If one cell cannot update, the other cells in the request still continue to update.
        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   Workspace administrators can import data into any cell (except aggregate cells, see below), including read-only and invisible cells.
        *   You can update a maximum of 1000 cells per request. For larger scale writes we recommend you use the import API.
        *   Write cell data does not apply to aggregate cells.
            *   An aggregate cell is a cell where one of its dimension items has it’s own child items
            *   This includes aggregate cells for line Items with breakback enabled
            *   For a line Item that is dimensioned by a composite list, the only writeable cells are the child items, that are defined directly in the dimension list and not defined in a parent list.
        *   In the future, use of this call may be rate limited.

        ### Request Body

        ### The `CellWrite` Object

        Each `CellWrite` Object is a request to set a value in a cell. A cell is identified by the line item it belongs to as well as an item for each of the dimensions that apply to the line item (this includes **Time** and **Versions**).

        | **Field** | **Details** |
        | --- | --- |
        | `lineItemId` | <br><br>*   Required<br>*   Ensure you specify a `lineItemId` or `lineItemName` Description: The ID of the line item that belongs to the module<br><br> |
        | `lineItemName` | <br><br>*   Ensure you specify a `lineItemId` or `lineItemName`<br>*   Description: The name of the line item that belongs to the module<br><br> |
        | `dimensions` | <br><br>*   This field can be omitted if the line item is a single cell without any dimensions applied to it.<br>*   Description: An array of dimension coordinates<br><br> |
        | `dimensionId` | <br><br>*   Required  <br>    Ensure you specify a `dimensionId` or `dimensionName`<br>*   Description: The ID of the dimension that is on the line item<br><br> |
        | `dimensionName` | <br><br>*   Ensure you specify a `dimensionId` or `dimensionName`<br>*   Description: The name of the dimension that is on the line item<br><br> |
        | `itemId` | <br><br>*   Required<br>*   Description: The ID of the dimension item that is on the dimension<br><br> |
        | `itemName` | <br><br>*   Ensure you specify a `itemId`, `itemName` or `itemCode`<br>*   Description: The name of the item on the dimension<br><br> |
        | `itemCode` | <br><br>*   Ensure you specify a `itemId`, `itemName` or `itemCode`<br>*   Description: The name of the item on the dimension<br><br> |
        | `value` | <br><br>*   Required<br>*   Description: The value to set for the cell<br>*   Cannot be `null`<br><br> |
      tags:
      - Transactional Write
      responses:
        '200':
          description: Cell data written successfully
          content:
            application/json:
              example:
                numberOfCellsChanged: 2
                failures: []
              schema:
                $ref: '#/components/schemas/WriteCellDataResponse'
  /models/{modelId}/modules/{moduleId}/lineItems:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ModuleId'
    get:
      summary: Retrieve all line item metadata in a module
      description: |-
        **Note:**This is an early access endpoint and is not generally available yet.

        Use this call when you want to get all line items and metadata in a module.
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      parameters:
      - $ref: '#/components/parameters/IncludeAll'
      responses:
        '200':
          description: Line items and metadata in the module.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/lineItem
                status:
                  code: 200
                  message: Success
                items:
                - moduleId: '102000000001'
                  moduleName: module2
                  id: '206000000006'
                  name: lineitem-child
                  isSummary: false
                  startOfSection: false
                  broughtForward: false
                  useSwitchover: true
                  breakback: false
                  cellCount: 51
                  version:
                    name: All
                    id: '16000000000'
                  appliesTo:
                  - name: org-sub1
                    id: '109000000001'
                  - name: linesubset1
                    id: '114000000001'
                  dataTags:
                  - name: tag1
                    id: '127000000002'
                  - name: tag2
                    id: '127000000001'
                  - name: tag3
                    id: '127000000000'
                  referencedBy:
                  - name: lineitem5
                    id: '206000000005'
                  parent:
                    name: lineitem5
                    id: '206000000005'
                  readAccessDriver:
                    name: lineitem2
                    id: '206000000003'
                  writeAccessDriver:
                    name: lineitem2
                    id: '206000000003'
                  formula: 3 + 9
                  format: NUMBER
                  formatMetadata:
                    dataType: NUMBER
                    minimumSignificantDigits: 4
                    decimalPlaces: -1
                    negativeNumberNotation: MINUS_SIGN
                    unitsType: NONE
                    unitsDisplayType: NONE
                    zeroFormat: ZERO
                    comparisonIncrease: GOOD
                    groupingSeparator: COMMA
                    decimalSeparator: FULL_STOP
                  summary: Sum
                  timeScale: Month
                  timeRange: timeRange1
                  formulaScope: All Versions
                  style: Normal
                  code: code7
                  notes: note1
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItem'
  /models/{modelId}/modules/{moduleId}/views:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ModuleId'
    get:
      summary: Retrieve IDs and names for views in a module
      description: |-
        Use this call to retrieve all view IDs and names for a specified module. This call also returns the default view for the module. If the user adds the query parameter includesubsidiaryviews=true, unsaved subsidiary views will also be included in the results.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   For the default view, the `{viewId}` is the same as the `{moduleId}`
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response
        *   For unsaved subsidiary views, the `{viewId}` and `{viewName}` are the same as the `{lineItemId}` and `{lineItemName}` that the subsidiary view is created from
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      parameters:
      - name: includesubsidiaryviews
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: IDs and names of views in the module.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/view
                status:
                  code: 200
                  message: Success
                views:
                - code: ''
                  id: '102000000000'
                  name: default
                  moduleId: '102000000000'
                - code: ''
                  id: '203000000000'
                  name: SavedView
                  moduleId: '102000000000'
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  views:
                    type: array
                    items:
                      $ref: '#/components/schemas/View'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/processes:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: List the process definitions available in a model as a JSON array
      description: Model-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/processes`. Returns the same response
        shape without requiring a workspace ID. Lists process definitions available for the specified model.
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Processes retrieved successfully
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/process
                status:
                  code: 200
                  message: Success
                processes:
                - id: '118000000070'
                  name: Wakeup Script
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  processes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
  /models/{modelId}/processes/{processId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ProcessId'
    get:
      summary: Retrieve metadata for a process
      description: |-
        Use this call to retrieve the names and actions for a given Process in an Anaplan model.

        **Notes**:

        *   Actions which are imports or exports (`actionType` field is `IMPORT` or `EXPORT`) contain additional fields in the response (see below). Other actions just contain the `id`, `name`, and `actionType`.
        *   Actions are ordered in the sequence that they run when the Process itself is executed.
        *   In the future, use of this call may be rate limited.
        *   For an action with `actionType` of `IMPORT`, you can use the `importDataSourceId` value as the ID of a file for the `fileId` parameter when you upload or download files
        *   For actions with `actionType` of `EXPORT` or `IMPORT`, you can find more information about them if you use the IDs as `exportId` or `importId` in the export and import metadata endpoints.
        *   The possible values for actionType (non-exhaustive list):
            *   IMPORT
            *   EXPORT
            *   DELETE_BY_SELECTION
            *   ORDER_HIERARCHY
            *   OPTIMIZER
        *   To include additional information regarding the import data source in an import action, add the `?showImportDataSource=true` query parameter to the request.
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: showImportDataSource
        in: query
        description: When set to "true", includes additional information about the import data source. Any value other than
          "true" is interpreted as false.
        schema:
          type: string
        example: 'true'
      responses:
        '200':
          description: Metadata for the process.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/process
                status:
                  code: 200
                  message: Success
                processMetadata:
                  name: ProcessWithActions
                  actions:
                  - id: '112000000000'
                    name: Sales from import-sales.csv
                    actionType: IMPORT
                    importDataSourceId: '113000000000'
                    importType: MODULE_DATA
                    importDataSource:
                      importDataSourceId: '113000000000'
                      type: FILE
                  - id: '116000000000'
                    name: Sales - Revenue.xls
                    actionType: EXPORT
                    exportType: GRID_CURRENT_PAGE
                    exportFormat: application/vnd.ms-excel
                    layout: GRID_CURRENT_PAGE
                  - id: '117000000000'
                    name: Delete from Products
                    actionType: DELETE_BY_SELECTION
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  processMetadata:
                    $ref: '#/components/schemas/Process'
  /models/{modelId}/versions:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Retrieve version metadata
      description: |-
        Use this call to get information about the model versions. The response contains a list of the versions that the user has access to, and the model metadata that can be viewed from the UI.

        **Notes:**

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   The returned versions only include the user’s model role with read access or higher.
        *   If the value for a field is set, it will be returned in the results.
      tags:
      - Model Metadata
      - Model Setting Metadata
      responses:
        '200':
          description: Version metadata for the model.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/version
                status:
                  code: 200
                  message: Success
                versionMetadata:
                - id: '107000000001'
                  name: Actual
                  isCurrent: false
                  isActual: true
                  editFrom:
                    periodText: Start of Timescale
                    date: '1900-01-01'
                  editTo:
                    periodText: End of Timescale
                    date: '2399-12-31'
                  notes: This version data is updated every Monday
                - id: '107000000002'
                  name: Variance
                  isCurrent: false
                  isActual: false
                  switchover:
                    periodText: Mar 20
                    date: '2020-03-01'
                  formula: Actual - 20
                  editFrom:
                    periodText: Jan 20
                    date: '2020-01-01'
                  editTo:
                    periodText: Dec 20
                    date: '2020-12-31'
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  versionMetadata:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
  /models/{modelId}/versions/{versionId}/switchover:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/VersionId'
    put:
      summary: Set version switchover date
      description: |-
        Use this call to set the switchover date for a version. The response contains the response code, as well as the date and human-readable date period as shown in the UI.

        **Notes:**

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   To apply a switchover date, ensure the `versionID` corresponds to a version in Anaplan that is set to either `forecast` or `variance`.
        *   Ensure the switchover date is after the existing version switchover date.
        *   To reset the switchover date to Blank, pass an empty string in the request body.
        *   In the future, use of this call may be rate limited.

        ### Request body

        | **JSON element** | **Details** |
        | --- | --- |
        | `date` | <br><br>*   Required<br>*   Description: An ISO-formatted (YYYY-MM-DD) date string is used to set the switchover date. An empty string resets the switchover date.  <br>    Dates earlier than the current switchover date (for example, `2021-01-01` when the current switchover is `2021-06-01`) or dates outside the current model year return a `400 Bad Request` response.<br>*   Example: `2021-06-01`<br><br> |
      tags:
      - Transactional Write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DateRequest'
            example:
              date: '2021-06-03'
      responses:
        '200':
          description: The version switchover date as set.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/switchover
                status:
                  code: 200
                  message: Success
                versionSwitchover:
                  periodText: May 13
                  date: '2013-05-01'
                  calendarType: Calendar Months/Quarters/Years
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  versionSwitchover:
                    $ref: '#/components/schemas/Switchover'
  /models/{modelId}/views:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: 'Model-direct form: Retrieve IDs and names for all views in a model'
      description: |-
        Alternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/views`.

        Use this call to retrieve the ID and name of all views for a model. The results include default and saved views. If you add the query parameter `includesubsidiaryviews=true`, this includes unsaved subsidiary views in the results. This call also retrieves the ID of the module that the views belong to.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   Single quotes enclose the module and view names that have special characters
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response

        ### Default views

        For default views:

        *   The value of the {viewId} is identical to the value of the {moduleId}
        *   The value of the name is identical to the value of the module

        ### Saved views

        For saved views:

        *   The `name` consists of the module name, a period, and the saved view name. For example, `REP01 Profit & Loss Report.P & L by Country`


        For unsaved subsidiary views:

        *   The name consists of the module name and the line item name that the subsidiary view is created from
        *   These are separated by a period(.)
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      parameters:
      - name: includesubsidiaryviews
        in: query
        description: When set to "true", includes unsaved subsidiary views in the results. Any value other than "true" is
          interpreted as false.
        schema:
          type: string
        example: 'true'
      responses:
        '200':
          description: IDs and names of all views in the model.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 1
                    offset: 0
                    totalSize: 1
                  schema: https://api.anaplan.com/2/0/objects/view
                status:
                  code: 200
                  message: Success
                views:
                - code: ''
                  id: '102000000000'
                  name: StrategicPlanning
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000000'
                  name: StrategicPlanning.UK Financial forecast
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000001'
                  name: StrategicPlanning.EMEAforecastreport
                  moduleId: '102000000000'
                - code: ''
                  id: '207000000002'
                  name: StrategicPlanning.'accountSummary&overview/US$'
                  moduleId: '102000000000'
                - code: ''
                  id: '237000000001'
                  name: '''StrategicPlanning/2020''.''accountSummary&overview/US$'''
                  moduleId: '102000000001'
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  views:
                    type: array
                    items:
                      $ref: '#/components/schemas/View'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/views/{viewId}:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ViewId'
    get:
      summary: Retrieve metadata for dimensions on a view
      description: |-
        Use this call to retrieve the name, IDs, and lists of names for the dimensions (columns, pages, rows) on a specified view.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   If a view has no dimensions on an axis, the call omits the axis field (for example, no `“rows”` field at all instead of `“rows”: []`)
        *   If a view is the default view, its `name` is set to be the same as the module name
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response
        *   The `viewId` in this request can also be replaced by any valid `lineItemId`. If the Line Item has a changed dimensionality (has a Subsidiary View), the response returns the metadata applicable to that line item. Otherwise, the response returns the default metadata


        You can use this API call to [map dimensions to cell data export headers](https://help.anaplan.com/43cd0223-edaa-4289-9833-eb9b73666aac-Map-dimensions-to-cell-data-export-headers) or [transform grid CSV format to tabular single column format](https://help.anaplan.com/c8a665b9-6b23-4254-ac68-816657a6e878-Retrieve-the-view-metadata-and-grid-view-data).
      tags:
      - Model Metadata
      - Module & Saved View Metadata
      responses:
        '200':
          description: Dimension metadata (columns, pages, rows) for the view.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  viewId:
                    type: string
                  viewName:
                    type: string
                  rows:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
                  columns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
                  pages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/view
                status:
                  code: 200
                  message: Success
                viewName: REV01 Price Book
                viewId: '102000000000'
                rows:
                - id: '101000000000'
                  name: Products
                - id: '101000000003'
                  name: Regions
                columns:
                - id: '101999999999'
                  name: Line items
                pages:
                - id: '101000000001'
                  name: Versions
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/views/{viewId}/data:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ViewId'
    get:
      summary: Retrieve cell data for a view
      description: |-
        Use this call to retrieve the cell data for a view. You can either query for the default page, or provide page selectors to query for other pages. This call returns data in either a CSV grid response or as JSON.

        **Notes:**

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   This call only supports the retrieval of cells from a view that contains a maximum of 1,000,000 cells. If the specified view contains more than 1,000,000 cells, then the call returns a `400 Bad Request` HTTP status, instead of a subset of the cells. Use the [quick sum bar](https://help.anaplan.com/anapedia/Content/New_User_Experience/Use/Worksheets/Grid/Quick-sum-bar.htm) in Anaplan to identify the number of cells in a view.
        *   If you call several times in a short amount of time, you may receive a `429` response.
        *   You can replace the `viewId` with any valid `lineItemId`. If the line item has a subsidiary view, the response returns the data as seen in that subsidiary view.
        *   For line items without a subsidiary view, the response returns data for the default view of the line item.

        ### CSV responses

        The first line of the CSV response contains the values of the page selectors. The response omits this line when there are no dimensions on pages.

        When there are multiple dimensions on columns, a line for each dimension follows the first line that contains the values of the page selectors.

        When there are multiple dimensions on rows, a column displays on the left, before the data, for each dimension on rows.

        ### JSON responses

        To receive a JSON-formatted response instead of a CSV-formatted response:

        1.  Pass an `Accept` header of `application/json`.
        2.  Pass a query parameter of `format` set to `v1`.


        All other parameters are the same as a CSV-formatted response.

        The response returns `Content-Type` `application/json` with this format:

        *   A `pages` key with a value that is a list of the selected items for each page selector. If no page selectors exist for this view, the list displays as empty or absent.
        *   A `columnCoordinates` key with a value that is a list of the coordinates for all values in that column. Each list item is itself a list containing one or more values. The length of each list equals the number of dimensions on columns.
        *   A `rows` key with a value that is a list of row objects. Each row object contains:
            *   A `rowCoordinates` key with a value that is a list of the coordinates for all values in the current row. Each list item is itself a list that contains one or more values. The length of each list equals the number of dimensions on rows.
            *   A `cells` key with a value, which is a list of all the cell values in the current row.

        To get the full coordinates for each cell, use the position of the cell value in the `cells` list, and find the column coordinates at the same position in the `columnCoordinates` list. Then, to uniquely specify the cell, combine the column coordinates with the `rowCoordinates` for the current row and any selected pages.
      tags:
      - Transactional Read
      parameters:
      - name: Accept
        in: header
        description: Response format. `text/csv` (default) returns a CSV grid; `application/json` returns structured cell
          data (also requires query parameter format=v1). Append `;escaped=true` to quote sensitive CSV fields; some tenants
          block plain text/csv for security and require the escaped form.
        required: false
        schema:
          type: string
          enum:
          - text/csv
          - text/csv;escaped=true
          - application/json
          default: text/csv
      - name: format
        in: query
        description: 'Set to `v1` together with Accept: application/json to receive JSON. Ignored for CSV responses.'
        schema:
          type: string
          enum:
          - v1
        example: v1
      - name: pages
        in: query
        description: Page selector values, each in the form dimensionId:itemId. Selects which item to display for each page-axis
          dimension. Both repeated-key form (pages=a:b&pages=c:d) and comma-separated form (pages=a:b,c:d) are accepted. Dimension
          items can be retrieved from GET /workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items.
        required: false
        schema:
          type: array
          items:
            type: string
        example: 101000000026:330000000028
        style: form
        explode: true
      responses:
        '200':
          description: 'View cell data. Returns text/csv by default; returns application/json when both Accept: application/json
            and format=v1 are set.'
          content:
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/ViewData'
              example:
                pages: []
                columnCoordinates:
                - - Jan 13
                - - Feb 13
                - - Mar 13
                rows:
                - rowCoordinates:
                  - Durham
                  cells:
                  - '64.6'
                  - '57.94'
                  - '108.36'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items:
    parameters:
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ViewId'
    - $ref: '#/components/parameters/DimensionId'
    get:
      summary: Retrieve selected items in a dimension
      description: |-
        Use this call to retrieve selected IDs, codes, and names for items in a specified dimension. This call returns data as filtered by the page builder when they configure the view. This call respects hidden items, filtering selections, and [Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). If the view contains hidden or filtered items, these do not display in the response.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)
        *   This call works with any dimension type
        *   The items in the response may not be ordered
        *   The response returns Items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy)
        *   This is a view-level call. For the model-level call, see Retrieve all data for items in a dimension
        *   This call only supports the retrieval of dimension items within a view that contains a maximum of 1,000,000 cells. If the specified view contains more than 1,000,000 dimension items, then the call returns a `400 Bad Request` HTTP status, instead of a subset of the dimension items. Use the [quick sum bar](https://help.anaplan.com/anapedia/Content/New_User_Experience/Use/Worksheets/Grid/Quick-sum-bar.htm) in Anaplan to identify the number of dimension items in a view
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response
        *   The `viewId` in this request can also be replaced by any valid `lineItemId`. If the Line Item has a changed dimensionality (has a Subsidiary View), the response returns the applicable dimension items for the given dimension. Otherwise, the response returns all default applicable dimension items for the given dimension
      tags:
      - Model Metadata
      - List Metadata
      responses:
        '200':
          description: Selected items of the dimension as filtered by the view.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/dimension
                status:
                  code: 200
                  message: Success
                items:
                - id: '220000000001'
                  name: England
                - id: '220000000002'
                  name: Wales
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dimension'
        '429':
          description: Rate limited — too many requests. Retry after a delay.
  /users:
    get:
      summary: List users
      description: Retrieves all users within the tenant.
      tags:
      - User Data
      parameters:
      - $ref: '#/components/parameters/Search'
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +firstName
      responses:
        '200':
          description: All users in the tenant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
  /users/me:
    get:
      summary: Retrieve your user
      description: Retrieves your user based on your Anaplan authentication token.
      tags:
      - User Data
      responses:
        '200':
          description: Your user record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  user:
                    $ref: '#/components/schemas/User'
  /users/{userId}:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      summary: Retrieve user information
      description: |-
        Retrieves information about the specified user.

        ### Headers

        *   `Authorization:AnaplanAuthToken {anaplan_auth_token}`
        *   `Content-Type:application/json`
      tags:
      - User Data
      responses:
        '200':
          description: The user record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  user:
                    $ref: '#/components/schemas/User'
  /workspaces:
    get:
      summary: List user workspaces
      description: Retrieves all workspaces a user has access to within the user's default tenant
      tags:
      - General Workspace & Model Metadata
      parameters:
      - $ref: '#/components/parameters/TenantDetails'
      - $ref: '#/components/parameters/Search'
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: All workspaces the user can access.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/workspace
                  paging:
                    currentPageSize: 1
                    totalSize: 1
                    offset: 0
                status:
                  code: 200
                  message: Success
                workspaces:
                - id: 8a8b8c8d8e8f1a2b3c4d5e6f78901234
                  name: Financial Planning
                  active: true
                  sizeAllowance: 1073741824
                  currentSize: 873741824
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
  /workspaces/{workspaceId}:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    get:
      summary: Get single workspace metadata
      tags:
      - General Workspace & Model Metadata
      parameters:
      - $ref: '#/components/parameters/TenantDetails'
      responses:
        '200':
          description: Metadata for the workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  workspace:
                    $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found or caller lacks Workspace Administrator role
  /workspaces/{workspaceId}/admins:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    get:
      summary: List workspace administrators
      description: Returns all administrators for a workspace. Requires tenant admin privilege; workspace admin access alone
        is insufficient.
      tags:
      - General Workspace & Model Metadata
      responses:
        '200':
          description: Administrators retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  admins:
                    type: array
                    items:
                      $ref: '#/components/schemas/Admin'
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/admin
                  paging:
                    currentPageSize: 1
                    totalSize: 1
                    offset: 0
                status:
                  code: 200
                  message: Success
                admins:
                - firstName: Jane
                  lastName: Smith
                  active: true
                  otherWorkspaces:
                  - Sales Planning Workspace
        '404':
          description: Workspace not found.
  /workspaces/{workspaceId}/bulkDeleteModels:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    post:
      summary: Bulk delete models
      description: Deletes multiple models in a workspace in a single request. Models that cannot be deleted (e.g., because
        they are currently open) are listed in `bulkDeleteModelsFailures`; the overall HTTP status is still 200 in that case.
      tags:
      - General Workspace & Model Metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - modelIdsToDelete
              properties:
                modelIdsToDelete:
                  type: array
                  description: IDs of the models to delete.
                  items:
                    type: string
            example:
              modelIdsToDelete:
              - D4E5F6A1B2C3D4E5F6A1B2C3D4E5F6A1
      responses:
        '200':
          description: Bulk delete completed. Check `modelsDeleted` and `bulkDeleteModelsFailures` for per-model outcomes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteModels'
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/bulkDeleteModels
                status:
                  code: 200
                  message: Success
                modelsDeleted: 1
  /workspaces/{workspaceId}/models:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    get:
      summary: List workspace models
      description: Returns models accessible to the calling user within the specified workspace. The response shape is identical
        to `GET /2/0/models` but filtered to models within the given workspace.
      tags:
      - General Workspace & Model Metadata
      responses:
        '200':
          description: Models in the workspace accessible to the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
  /workspaces/{workspaceId}/models/{modelId}/actions:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: List the actions in the model as a JSON array
      description: |-
        This lists the delete actions available for the given model ID. This returns a JSON array containing the list of delete actions that you can carry out:

        *   `id` is the Id of the action that you can carry out in the specified model.
        *   `name` is the name of the action that you can carry out. You can view these actions in the Anaplan user interface in the Action settings for the model.

        ### Headers

        *   `Authorization:AnaplanAuthToken {anaplan_auth_token}`
        *   `Content-Type:application/json`

        ### Parameters

        #
      tags:
      - Model Metadata
      - Action Metadata
      parameters:
      - name: sort
        in: query
        description: Sort results by object properties. Prefix with `+` for ascending or `-` for descending order.
        schema:
          type: string
        example: +name
      responses:
        '200':
          description: Delete actions available in the model.
          content:
            application/json:
              example:
                meta:
                  paging:
                    currentPageSize: 3
                    offset: 0
                    totalSize: 3
                  schema: https://api.anaplan.com/2/0/models/D4E5F6A1B2C3D4E5F6A1B2C3D4E5F6A1/objects/action
                status:
                  code: 200
                  message: Success
                actions:
                - id: '117000000019'
                  actionType: DELETE_BY_SELECTION
                  name: Delete From Org 2
                - id: '117000000018'
                  actionType: DELETE_BY_SELECTION
                  name: Open Other Buttons
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Action'
  /workspaces/{workspaceId}/models/{modelId}/actions/{actionId}/tasks:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ActionId'
    get:
      summary: Get a list of action tasks
      description: |-
        *   `Authorization:AnaplanAuthToken {anaplan_auth_token}`
        *   `Content-Type:application/json`

        ### Parameters

        #
      tags:
      - Bulk Other
      parameters:
      - name: sort
        in: query
        description: 'Sort order for the task list. Format: [prefix]field where prefix is - (descending), + (ascending), or
          omitted (ascending). Documented sortable fields: creationDate, taskId, taskState, progress. Example: -creationDate
          (newest first), +taskId, taskState. The API does not validate the field name — unknown fields are silently accepted
          and appear to fall back to default ordering.'
        required: false
        schema:
          type: string
        example: -creationDate
      responses:
        '200':
          description: Tasks for the action.
          content:
            application/json:
              example:
                tasks:
                - taskId: F37EA1512BC448D3B223431C33B844B6
                  taskState: COMPLETE
                  creationTime: 1535145589808
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskWithUrl'
    post:
      summary: Start Other Action
      description: |-
        You can POST a deletion task to start the delete. This returns a new `taskID`. Once you have started the delete, you can use GET to receive a list of the deletion tasks as a JSON array. You can use this to monitor the status of the delete.

        ### Headers

        *   `Authorization:AnaplanAuthToken {anaplan_auth_token}`
        *   `Content-Type:application/json`

        ### Parameters

        #
      tags:
      - Bulk Other
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              example:
                task:
                  taskId: 0690AA1C761F48549C3442A02F91D962
              schema:
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/TaskWithUrl'
  /workspaces/{workspaceId}/models/{modelId}/actions/{actionId}/tasks/{taskId}:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    - $ref: '#/components/parameters/ModelId'
    - $ref: '#/components/parameters/ActionId'
    - $ref: '#/components/parameters/TaskId'
    get:
      summary: Get the status of an action task
      description: |-
        Returns the current state of a single action task. Poll this endpoint after starting an action via POST to monitor progress.

        Possible `taskState` values: `NOT_STARTED`, `IN_PROGRESS`, `COMPLETE`, `CANCELLING`, `CANCELLED`.
      tags:
      - Bulk Other
      responses:
        '200':
          description: Status of the action task.
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com//2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/task
                status:
                  code: 200
                  message: Success
                task:
                  taskId: F37EA1512BC448D3B223431C33B844B6
                  taskState: COMPLETE
                  progress: 1.0
                  result:
                    failureDumpAvailable: false
                    objectId: '117000000019'
                    successful: true
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status:
                    $ref: '#/components/schemas/Status'
                  task:
                    $ref: '#/components/schemas/Task'
  /workspaces/{workspaceId}/models/{modelId}/currentPeriod:
    parameters:
    - $ref: '#/components/parameters/WorkspaceId'
    - $ref: '#/components/parameters/ModelId'
    get:
      summary: Retrieve current period
      description: |-
        Use this call to determine the value of the current period in Anaplan.

        If the current period is not set in Anaplan, this call returns empty strings for the `periodText` and `lastDay` values of the `currentPeriod`.

        **Notes**:

        *   To use this call, you must be a [Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).
        *   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.
      tags:
      - Model Metadata
      - Model Setting Metadata
      responses:
        '200':
          description: The model's current period.
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              example:
                meta:
                  schema: https://api.anaplan.com/2/0/objects/currentPeriod
                status:
                  code: 200
                  message: Success
                currentPeriod:
                  periodText: May 20
                  lastDay: '2020-05-31'
                  calendarType: Calendar Months/Quarters/Years
              schema:
                type: object
[...]
