{
  "openapi": "3.0.0",
  "info": {
    "title": "Anaplan Integration API",
    "version": "1.0.0",
    "description": "Core API for managing Anaplan workspaces, models, dimensions, modules, views, lists, and data (v2). Supports Bearer token (RFC 6750) and the proprietary AnaplanAuthToken scheme. Source: Apiary (https://anaplan.docs.apiary.io/) and Official Anaplan Postman Collection."
  },
  "servers": [
    {
      "url": "https://api.anaplan.com",
      "description": "US1, US2, US5, US7, EU1, EU2, EU4, AP1"
    },
    {
      "url": "https://us9.api.anaplan.com",
      "description": "US9"
    },
    {
      "url": "https://eu3.api.anaplan.com",
      "description": "EU3"
    },
    {
      "url": "https://eu5.api.anaplan.com",
      "description": "EU5"
    },
    {
      "url": "https://gb1.api.anaplan.com",
      "description": "GB1"
    },
    {
      "url": "https://ca1a.api.anaplan.com",
      "description": "CA1"
    },
    {
      "url": "https://sg1.api.anaplan.com",
      "description": "SG1"
    },
    {
      "url": "https://ae1.api.anaplan.com",
      "description": "AE1"
    },
    {
      "url": "https://in1.api.anaplan.com",
      "description": "IN1"
    },
    {
      "url": "https://id1.api.anaplan.com",
      "description": "ID1"
    },
    {
      "url": "https://me1.api.anaplan.com",
      "description": "ME1"
    },
    {
      "url": "https://au1a.api2.anaplan.com",
      "description": "AU1"
    }
  ],
  "paths": {
    "/token/authenticate": {
      "post": {
        "summary": "Create an Authentication Token (Basic)",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the encoded credentials from the Pre-request Script",
            "schema": {
              "type": "string"
            },
            "example": "Basic {{encodedCredentials}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Authentication",
          "Basic Credentials"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "[https://anaplanauthentication.docs.apiary.io/#](https://anaplanauthentication.docs.apiary.io/#)\n\n## Create an Authentication Token\n\n`/token/authenticate`  \nTo use the version 2.0 API, you must use an Anaplan authentication token generated from the Anaplan Authentication Service. You can get an authentication token generated using a certificate from a recognized external public certificate authority (CA) or using your login and password.\n\n### Create an authentication token using a username & password\n\nCreates an AnaplanAuthToken.\n\nUse your Anaplan username and password to generate an authentication token. You can use this authentication token in your API requests.\n\n**Note**: If your workspace uses single sign-on (SSO), your user must be assigned as an Exception User to use basic authentication and obtain an Anaplan authentication token. For more information on exception users in Anaplan, see [Assign Exception Users](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Security/Single_Sign-on/Enforcing_SAML_Authentication.html) in Anapedia."
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Obtain Refresh Token",
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Authentication",
          "OAuth2"
        ]
      }
    },
    "/token/refresh": {
      "post": {
        "summary": "Refresh Authentication Token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "This contains the auth token generated in a prior authentication request",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "description": "## Refresh authentication token\n\n`/token/refresh`  \n\nGenerates a new authentication token from an existing\u00a0`{anaplan_auth_token}`\u00a0that you provide. You need to refresh your token if your session runs for longer than 30 minutes."
      }
    },
    "/token/validate": {
      "get": {
        "summary": "Get Authentication Token Details",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "description": "## Get authentication token details\n\n`/token/validate`  \n\nGets information on a provided\u00a0`{anaplan_auth_token}`. If the token is valid, returns the details of the\u00a0`{anaplan_auth_token}`. If the token is invalid, returns a \"401 UnAuthorized\" message."
      }
    },
    "/token/logout": {
      "post": {
        "summary": "Log Out the User",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "description": "## Log out the user\n\n`/token/logout`  \n\nDeletes an\u00a0`{anaplan_auth_token}`. After the /logout command, the\u00a0`{anaplan_auth_token}`\u00a0is deleted and no longer valid.\n\nNo response body is expected. If response code is 204 then user has been logged out successfully."
      }
    },
    "/2/0/users/me": {
      "get": {
        "summary": "Retrieve your user",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "deprecated": false,
            "schema": {},
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "User Data"
        ],
        "description": "## Retrieve your user\n\n`/users/me`  \n\nRetrieves your user based on your Anaplan authentication token.\n\n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/users/me \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is either\u00a0`application/json`\u00a0format. Note that this call only outputs in\u00a0`application/json`\u00a0format.<br><br> |"
      }
    },
    "/2/0/users/{userId}": {
      "get": {
        "summary": "Retrieve user information",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "User Data"
        ],
        "description": "## Retrieve user information\n\n`/users/{userId}`  \nRetrieves information about the specified user.\n\n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/users/{userId} \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `userId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The user ID<br>*   Example:\u00a0`8a8196a55b193fa0015b1e57f3da172c`<br><br> |"
      },
      "parameters": [
        {
          "name": "userId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{userId}}"
        }
      ]
    },
    "/2/0/models": {
      "get": {
        "summary": "List user models",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "General Workspace & Model Metadata"
        ],
        "description": "## Retrieve models\n\n`/models`  \nRetrieves information about all models in the user's default tenant.\n\n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/models \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request headers\n\n`Authorization:AnaplanAuthToken {anaplan_auth_token}`\n\n### Request parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `{modelDetails}` | <br><br>*   Optional<br>*   Type: Boolean<br>*   Description: When set to\u00a0`true`, this call returns the available model memory usage in bytes. When set to\u00a0`false`, or not defined, this call does not return the model memory usage.<br>*   Example:\u00a0`?modelDetails=true`<br><br> |\n\n### Response 200 (application/json)\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/model\",\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0\n\u00a0\u00a0\u00a0 }\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"models\": [{\n\u00a0\u00a0\u00a0\u00a0\u00a0 id\": \"FC12345678912343455667\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"activeState\": \"UNLOCKED\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"FP&A\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentWorkspaceId\": \"8a8b8c8d8e8f8g8i\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentWorkspaceName\": \"Financial Planning\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"modelUrl\": \"https://rt.anaplan.com/anaplan/rt?selectedWorkspaceId\\8a8b8c8d8e8f8g8i\\u0026selectedModelId\\FC12345678912343455667\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"categoryValues\": []\n\u00a0\u00a0\u00a0}]\n}\n```"
      }
    },
    "/2/0/workspaces": {
      "get": {
        "summary": "List user workspaces",
        "parameters": [
          {
            "name": "tenantDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "General Workspace & Model Metadata"
        ],
        "description": "## List user workspaces\n\n`/workspaces`  \n\nRetrieves all workspaces a user has access to within the user's default tenant\n\n### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces?tenantDetails=true \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `tenantDetails` | <br><br>*   Optional<br>*   Type: Boolean<br>*   Description: When set to true, this call returns an estimate of the current size of the workspace from all the models it contains. When set to false, or not defined, this call does not return an estimated current size of the workspace.<br>*   Example: true<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/workspace\",\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0\n\u00a0\u00a0\u00a0 }\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"workspaces\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0 \"id\": \"8a8b8c8d8e8f8g8i\",\n\u00a0\u00a0\u00a0 \"name\": \"Financial Planning\",\n\u00a0\u00a0\u00a0 \"active\": true,\n\u00a0\u00a0\u00a0 \"sizeAllowance\": 1073741824,\n\u00a0\u00a0\u00a0 \"currentSize\": 873741824\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n\n```"
      }
    },
    "/2/0/workspaces/{workspaceId}": {
      "get": {
        "summary": "Get single workspace metadata",
        "parameters": [
          {
            "name": "tenantDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "General Workspace & Model Metadata"
        ]
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        }
      ]
    },
    "/2/0/models/{modelId}": {
      "get": {
        "summary": "Get single model metadata",
        "parameters": [
          {
            "name": "modelDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "General Workspace & Model Metadata"
        ]
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items": {
      "post": {
        "summary": "Lookup dimension items by name or code",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "description": "## Lookup dimension items by name or code\n\nRetrieve the items from a dimension that match one of a list of names or a list or codes.\n\n** Notes: **\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   This call does not return results for names or codes for which an item does not exist.\n*   If the given workspace, model, or dimension do not exist, this call returns a\u00a0`404`\u00a0code.\n*   If the dimension does not support codes and codes are provided, this call returns a\u00a0`400`\u00a0code.\n*   In the future, use of this call may be rate limited.\n    \n\n### Requests that support this feature\n\n```\ncurl -X POST https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items \\\n-H \u2018Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Content-Type: application/json' \\\n-H 'Accept: application/json' --data-raw ''\n\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Content-Type: application/json` | <br><br>*   Required<br>*   Description: This indicates the request format is\u00a0`application/json`.<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description: This indicates the preferred response is either\u00a0`application/json`\u00a0format. Note that this call only outputs in\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required in the supported request<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the dimension ID. This value must be the ID for any of these dimension types:<br>    *   Lists<br>    *   Time periods<br>    *   Users<br>    *   Versions<br>*   Example:\u00a0`101000000001`<br><br> |\n\n### Request body\n\n| **JSON Element** | **Description** |\n| --- | --- |\n| `names` | The case-insensitive strings that match the name of a returned item. |\n| `codes` | The case-insensitive strings that match the code of a returned item. |\n\nExample:\n\n```\n{\n    \"names\": [\"South\", \"East\"],\n    \"codes\": [\"N\", \"W\"]\n}\n\n```\n\nNote that the\u00a0`names`,\u00a0`codes`, or both fields in the request body must contain a non-empty value. If the request body does not include at least one of these fields, the response returns an error.\n\n### Response 200 Body\n\n```\n{\n  \"meta\" : {\n      \"schema\":\"https://api.anaplan.com/2/0/objects/dimension\"\n  },\n  \"status\" : {\n    \"code\":200,\n    \"message\":\"Success\"\n  },\n  \"items\":[\n    {\n      \"name\":\"South\",\n      \"id\":\"208000000001\",\n      \"code\":\"S\"\n    },\n    {\n      \"name\":\"West\",\n      \"id\":\"208000000004\",\n      \"code\":\"W\"\n    }\n  ]\n}\n```",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "utc-millisec"
                    }
                  },
                  "names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "codes": [
                  "2"
                ],
                "names": [
                  "Test1"
                ]
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "dimensionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{dimensionId}}"
        }
      ],
      "get": {
        "summary": "Retrieve all items in a dimension",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "description": "## Retrieve all items in a dimension\n\n`/models/{modelGuid}/dimensions/{dimensionId}/items`\n\nUse this call to retrieve the IDs, codes, and names for items in a specified dimension. The dimension must be a list, a list subset, a line item subset, or the Users dimension.\n\nCalls at model-level do not support the Time dimension. The calls return a\u00a0`400`\u00a0response. To avoid this, use the view dimension instead.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   This call is on the model-level. It returns all dimension items as it does not have view-level hiding, filtering, or\u00a0[Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). For the view-level endpoint, see\u00a0[Retrieve selected items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveSelectedItemsDimension).\n*   If codes have not been set for an item, then the response excludes the\u00a0`code`\u00a0field.\n*   This call only supports the retrieval of dimensions and items from a dimension that contains a maximum of 1,000,000 items.  \n    The call returns a\u00a0`400`\u00a0response for any more than that number of items.\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response.\n    \n\n### Request\n\n```\ncurl -X GET\n'https://api.anaplan.com/2/0/models/{modelGuid}/dimensions/{dimensionId}/items'\\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the dimension<br>*   Example:\u00a0`101000000028`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\" : {\n\u00a0\u00a0\u00a0 \"schema\" : \"https://api.anaplan.com/2/0/objects/dimension\"\n\u00a0 },\n\u00a0 \"status\" : {\n\u00a0\u00a0\u00a0 \"code\" : 200,\n\u00a0\u00a0\u00a0 \"message\" : \"Success\"\n\u00a0 },\n\u00a0 \"items\" : [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\" : \"N\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\" : \"200000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\" : \"North\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\" : \"E\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\" : \"200000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\" : \"East\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\" : \"S\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\" : \"200000000003\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\" : \"South\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\" : \"W\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\" : \"200000000004\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\" : \"West\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\" : \"200000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\" : \"Total Company\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n```"
      }
    },
    "/2/0/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items": {
      "get": {
        "summary": "Retrieve selected items in a dimension",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "description": "## Retrieve selected items in a dimension\n\n`/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items`\n\nUse this call to retrieve selected IDs, codes, and names for items in a specified dimension. This call returns data as filtered by the page builder when they configure the view. This call respects hidden items, filtering selections, and\u00a0[Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). If the view contains hidden or filtered items, these do not display in the response.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n*   This call works with any dimension type\n*   The items in the response may not be ordered\n*   The response returns Items within a\u00a0[flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html)\u00a0(no hierarchy)\n*   This is a view-level call. For the model-level call, see\u00a0[Retrieve all data for items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveItemsDimension)\n*   This call only supports the retrieval of dimension items within a view that contains a maximum of 1,000,000 cells. If the specified view contains more than 1,000,000 dimension items, then the call returns a\u00a0`400 Bad Request`\u00a0HTTP status, instead of a subset of the dimension items. Use the\u00a0[quick sum bar](https://help.anaplan.com/anapedia/Content/New_User_Experience/Use/Worksheets/Grid/Quick-sum-bar.htm)\u00a0in Anaplan to identify the number of dimension items in a view\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n*   The\u00a0`viewId`\u00a0in this request can also be replaced by any valid\u00a0`lineItemId`. If the Line Item has a changed dimensionality (has a Subsidiary View), the response returns the applicable dimension items for the given dimension. Otherwise, the response returns all default applicable dimension items for the given dimension\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/views/{viewId}/dimensions/{dimensionId}/items' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{viewId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the view<br>*   Example:\u00a0`102000000000`<br><br> |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the dimension<br>*   Example:\u00a0`101000000028`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/dimension\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"items\": [{\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"220000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"England\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"220000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Wales\"\n    }]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "viewId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": ""
        },
        {
          "name": "dimensionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{dimensionId}}"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/lists": {
      "get": {
        "summary": "Retrieve Lists",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "description": "## Retrieve lists\n\n`/workspaces/{workspaceId}/models/{modelId}/lists`\n\nUse this call to retrieve lists for a specified workspace and model.\n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/lists' \\\n-H 'Accept: application/json' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response 200 Body\n\n```\n{\n\u00a0\u00a0\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 5,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 5\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/models/75A40874E6B64FA3AE0743278996850F/objects/list\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"status\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"lists\": [\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Organization\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"opportunities\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"sales rep\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000003\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Bakery\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000004\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"List2\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 }\n\u00a0\u00a0\u00a0 ]\n}\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/lists/{listId}": {
      "get": {
        "summary": "Retrieve list metadata",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "description": "## Retrieve list metadata\n\n`/workspaces/{workspaceId}/models/{modelId}/lists/{listId}`\n\nUse this call to retrieve the following metadata for a specified list:\n\n| **Metadata** | **Description** |\n| --- | --- |\n| `category` | The category to which the list is assigned. |\n| `dataTags` | The data tags associated with the list. |\n| `hasSelectiveAccess` | If the value is true, this list uses\u00a0[selective access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). |\n| `id` | The list ID.\u00a0 This corresponds to the\u00a0`listId`\u00a0parameter. |\n| `itemCount` | The number of list items present in the list. |\n| `managedBy` | Not currently used. |\n| `name` | The list name. |\n| `nextitemIndex` | Contains the index of the next new item in the list. Used only by numbered lists. |\n| `numberedList` | A true value indicates this is a numbered list. |\n| `parent` | <br><br>The parent hierarchy, which includes this information for the parent list:  <br><br>*   `id`<br>*   `name`<br><br> |\n| `permittedItems` | Indicates how many more items you can add to the existing list. This value changes when the number of items in the list change. |\n| `productionData` | A true value indicates this is a production list in\u00a0[Application Lifecycle Management (ALM)](https://help.anaplan.com/anapedia/Content/ALM/Application_Lifecycle_Management.htm). |\n| `properties` | <br><br>The list properties, which include:  <br><br>*   `dataTags`<br>*   `format`<br>*   `formula`<br>*   `notes`<br>*   `referencedBy`<br><br> |\n| `subsets` | <br><br>A list of subsets associated with the list hierarchy, which includes the following information for the parent list:  <br><br>*   `id`<br>*   `name`<br><br> |\n| `topLevelItem` | If present, indicates the top level item in a hierarchy. |\n| `useTopLevelAsPageDefault` | A true value indicates this list is the default item in a page selector. |\n| `workflowEnabled` | A true value indicates this list is enabled for\u00a0[Workflow](https://help.anaplan.com/anapedia/Content/Modeling/Manage_Models/Workflow.html). |\n\nIf any of the metadata values are not set for a list (for example, no parent or no top level item), then the result omits the metadata entry.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response.\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/lists/{listId}' \\\n-H 'Accept: application/json' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Content-Type: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n| `Content-Type: application/json` | <br><br>*   Optional<br>*   Description: The endpoint uses a content type of\u00a0`application/json`.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{listId}` | <br><br>*   Required<br>*   Type: string<br>*   Description: The list ID.<br>*   Example:\u00a0`101000000001`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0\u00a0\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/models/102B/objects/list\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"status\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"metadata\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Sales Reps\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"properties\": [\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Salesforce\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"format\": \"TEXT\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"notes\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"referencedBy\": \"\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Mail\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"format\": \"TEXT\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"notes\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"referencedBy\": \"\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 }\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 ],\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"hasSelectiveAccess\": false,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"parent\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Organization\"\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"managedBy\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"numberedList\": false,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"useTopLevelAsPageDefault\": false,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"itemCount\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"workflowEnabled\": false,\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"productionData\": false\n\u00a0\u00a0\u00a0 }\n}\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "listId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{listId}}"
        }
      ]
    },
    "/2/0/models/{modelId}/modules": {
      "get": {
        "summary": "Retrieve IDs and names for all modules in a model",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "description": "## Retrieve IDs and names for all modules in a model\n\n`/models/{modelId}/modules`\n\nUse this call to retrieve the IDs and names of all modules for a specified model.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/modules' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 1\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/module\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"modules\": [{\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"102000000125\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"REV01 Price Book\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"102000000121\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"REV02 Volume Inputs\"\n\u00a0\u00a0\u00a0 }]\n}\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/models/{modelId}/modules/{moduleId}/lineItems": {
      "get": {
        "summary": "Retrieve all line item metadata in a module",
        "parameters": [
          {
            "name": "includeAll",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "description": "## Early access: Retrieve all line item metadata in a module\n\n**Note:**This is an early access endpoint and is not generally available yet.\n\nUse this call when you want to get all line items and metadata in a module.\n\n### Request\n\n`curl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/}/modules/{moduleId}/lineItems?includeAll=true' \\`  \n`-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\`  \n`-H 'Accept: application/json'`\n\n### Request Headers\n\n|  |  |\n| --- | --- |\n| **Header** | **Details** |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description: This call uses a content type of\u00a0`application/json`.<br><br> |\n\n### Request parameters\n\n|  |  |\n| --- | --- |\n| **Parameter** | **Details** |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n| `{moduleId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example:\u00a0`89AA40874E6B64FA3AE07432789967048`<br><br> |\n| includeAll | <br><br>*   Required<br>*   Type: boolean<br>*   Description: true or false<br>*   Example:\u00a0`includeAll=true`<br><br><br><br> |\n\n### Response header\n\n`Content-Type: application/json`\n\n### Response 200 body\n\n```\n{\n  \"meta\": {\n    \"schema\": \"https://api.anaplan.com/2/0/objects/lineItem\"\n  },\n  \"status\": {\n    \"code\": 200,\n    \"message\": \"Success\"\n  },\n  \"items\": [{\n            \"moduleId\": \"102000000001\",\n            \"moduleName\": \"module2\",\n            \"id\": \"206000000006\",\n            \"name\": \"lineitem-child\",\n            \n            \"isSummary\": false,\n            \"startOfSection\": false,\n            \"broughtForward\": false,\n            \"useSwitchover\": true,\n            \"breakback\": false,\n            \n            \"cellCount\": 51,\n            \n            \"version\": {\n                \"name\": \"All\",\n                \"id\": \"16000000000\"\n            },\n            \"appliesTo\": [\n                {\n                    \"name\": \"org-sub1\",\n                    \"id\": \"109000000001\"\n                },\n                {\n                    \"name\": \"linesubset1\",\n                    \"id\": \"114000000001\"\n                }\n            ],\n            \"dataTags\": [\n                {\n                    \"name\": \"tag1\",\n                    \"id\": \"127000000002\"\n                },\n                {\n                    \"name\": \"tag2\",\n                    \"id\": \"127000000001\"\n                },\n                {\n                    \"name\": \"tag3\",\n                    \"id\": \"127000000000\"\n                }\n            ],\n            \"referencedBy\": [\n                {\n                    \"name\": \"lineitem5\",\n                    \"id\": \"206000000005\"\n                }\n            ],\n\n            \"parent\": {\n                \"name\": \"lineitem5\",\n                \"id\": \"206000000005\"\n            },\n            \"readAccessDriver\": {\n                \"name\": \"lineitem2\",\n                \"id\": \"206000000003\"\n            },\n            \"writeAccessDriver\": {\n                \"name\": \"lineitem2\",\n                \"id\": \"206000000003\"\n            },\n            \n            \"formula\": \"3 + 9\",\n            \"format\": \"NUMBER\",\n            \"formatMetadata\": {\n                \"dataType\": \"NUMBER\",\n                \"minimumSignificantDigits\": 4,\n                \"decimalPlaces\": -1,\n                \"negativeNumberNotation\": \"MINUS_SIGN\",\n                \"unitsType\": \"NONE\",\n                \"unitsDisplayType\": \"NONE\",\n                \"zeroFormat\": \"ZERO\",\n                \"comparisonIncrease\": \"GOOD\",\n                \"groupingSeparator\": \"COMMA\",\n                \"decimalSeparator\": \"FULL_STOP\"\n            },\n            \n            \"summary\": \"Sum\",\n            \"timeScale\": \"Month\",\n            \"timeRange\": \"timeRange1\",            \n            \"formulaScope\": \"All Versions\",\n            \"style\": \"Normal\",\n            \"code\": \"code7\",\n            \"notes\": \"note1\"\n  }   \n  ]\n}\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "moduleId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{moduleId}}"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/views": {
      "get": {
        "summary": "Retrieve IDs and names for all views in a model",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "description": "## Retrieve IDs and names for all views in a model\n\n`/models/{modelId}/views`\n\nUse this call to retrieve the ID and name of all views for a model. The results include default and saved views. If you add the query parameter\u00a0`includesubsidiaryviews=true`, this includes unsaved subsidiary views in the results. This call also retrieves the ID of the module that the views belong to.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n*   Single quotes enclose the module and view names that have special characters\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n    \n\n### Default views\n\nFor default views:\n\n*   The value of the {viewId} is identical to the value of the {moduleId}\n*   The value of the name is identical to the value of the module\n    \n\n### Saved views\n\nFor saved views:\n\n*   The\u00a0`name`\u00a0consists of the module name, a period, and the saved view name. For example,\u00a0`REP01 Profit & Loss Report.P & L by Country`\n    \n\nFor unsaved subsidiary views:\n\n*   The name consists of the module name and the line item name that the subsidiary view is created from\n*   These are separated by a period(.)\n    \n\n### Request\n\n```\ncurl -X GET\n'https://api.anaplan.com/2/0/models/{modelId}/views' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Query parameter\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{includesubsidiaryviews}` | <br><br>*   Optional (default false)<br>*   Type: String<br>*   Description: Whether the response should include unsaved subsidiary views. The field is interpreted as false if anything other than\u00a0`true`\u00a0is specified<br>*   Example:\u00a0`?includesubsidiaryviews=true`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 1\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/view\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"views\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"102000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"StrategicPlanning\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"207000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"StrategicPlanning.UK Financial forecast\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"207000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"StrategicPlanning.EMEAforecastreport\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"207000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"StrategicPlanning.'accountSummary&overview/US$'\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"237000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"'StrategicPlanning/2020'.'accountSummary&overview/US$'\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000001\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/models/{modelId}/views/{viewId}": {
      "get": {
        "summary": "Retrieve metadata for dimensions on a view",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "description": "## Retrieve metadata for dimensions on a view\n\n`/models/{modelId}/views/{viewId}`\n\nUse this call to retrieve the name, IDs, and lists of names for the dimensions (columns, pages, rows) on a specified view.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n*   If a view has no dimensions on an axis, the call omits the axis field (for example, no\u00a0`\u201crows\u201d`\u00a0field at all instead of\u00a0`\u201crows\u201d: []`)\n*   If a view is the default view, its\u00a0`name`\u00a0is set to be the same as the module name\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n*   The\u00a0`viewId`\u00a0in this request can also be replaced by any valid\u00a0`lineItemId`. If the Line Item has a changed dimensionality (has a Subsidiary View), the response returns the metadata applicable to that line item. Otherwise, the response returns the default metadata\n    \n\nYou can use this API call to\u00a0[map dimensions to cell data export headers](https://help.anaplan.com/43cd0223-edaa-4289-9833-eb9b73666aac-Map-dimensions-to-cell-data-export-headers)\u00a0or\u00a0[transform grid CSV format to tabular single column format](https://help.anaplan.com/c8a665b9-6b23-4254-ac68-816657a6e878-Retrieve-the-view-metadata-and-grid-view-data).\n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/views/{viewId}' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{viewId}` | <br><br>*   Required<br>*   Type: Number<br>*   Description: the ID for the view<br>*   Example:\u00a0`102000000000`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/view\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"viewName\": \"REV01 Price Book\",\n\u00a0 \"viewId\" : \"102000000000\"\n\u00a0 \"rows\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Products\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000003\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Regions\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ],\n\u00a0 \"columns\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101999999999\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Line items\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ],\n\u00a0 \"pages\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"101000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Versions\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ],\n}\n\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "viewId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": ""
        }
      ]
    },
    "/2/0/models/{modelId}/modules/{moduleId}/views": {
      "get": {
        "summary": "Retrieve IDs and names for views in a module",
        "parameters": [
          {
            "name": "includesubsidiaryviews",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "description": "## Retrieve IDs and names for views in a module\n\n`/models/{modelId}/modules/{moduleId}/views`\n\nUse this call to retrieve all view IDs and names for a specified module. This call also returns the default view for the module. If the user adds the query parameter includesubsidiaryviews=true, unsaved subsidiary views will also be included in the results.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html)\n*   For the default view, the\u00a0`{viewId}`\u00a0is the same as the\u00a0`{moduleId}`\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n*   For unsaved subsidiary views, the\u00a0`{viewId}`\u00a0and\u00a0`{viewName}`\u00a0are the same as the\u00a0`{lineItemId}`\u00a0and\u00a0`{lineItemName}`\u00a0that the subsidiary view is created from\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/modules/{moduleId}/views' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n| `{moduleId}` | <br><br>*   Required<br>*   Type: number<br>*   Description: the ID for the module<br>*   Example:\u00a0`102000000028`<br><br> |\n| `{includesubsidiaryviews}` | <br><br>*   Optional (default false)<br>*   Type: String<br>*   Description: Whether the response should include unsaved subsidiary views. The field is interpreted as false if anything other than\u00a0`true`\u00a0is specified<br>*   Example:\u00a0`?includesubsidiaryviews=true`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 1,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 1\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/view\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"views\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"102000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"default\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"code\": \"\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"203000000000\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"SavedView\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"moduleId\": \"102000000000\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "moduleId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{moduleId}}"
        }
      ]
    },
    "/2/0/models/{modelId}/lineItems": {
      "get": {
        "summary": "Retrieve all line items in a model",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "description": "## Retrieve all line items in a model\n\n`/models/{modelId}/lineItems`\n\nUse this call to retrieve identifiers of all line items in a model.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   The returned line items are restricted just to those in modules to which the model role of the user has Read access.\n*   The response returns Items within a\u00a0[flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html)\u00a0(no hierarchy).\n*   This returns all the line items in the model. For line items in a specific module see\u00a0[Retrieve Line Items For a Module](https://anaplanbulkapi20.docs.apiary.io/#RetrieveAllLineItemsModule).\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/lineItems' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description: This indicates the preferred response is either\u00a0`application/json`\u00a0format. Note that this call only outputs in\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/lineItem\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"items\": [\n        {\n            \"moduleId\": \"102000000000\",\n            \"moduleName\": \"Sales Entry\",\n            \"id\": \"206000000000\",\n            \"name\": \"Quantity Sold\"\n        },\n        {\n            \"moduleId\": \"102000000000\",\n            \"moduleName\": \"Sales Entry\",\n            \"id\": \"206000000001\",\n            \"name\": \"Price\"\n        },\n        {\n            \"moduleId\": \"102000000000\",\n            \"moduleName\": \"Sales Entry\",\n            \"id\": \"206000000002\",\n            \"name\": \"Revenue\"\n        },\n        {\n            \"moduleId\": \"102000000001\",\n            \"moduleName\": \"Profit\",\n            \"id\": \"208000000000\",\n            \"name\": \"Commission\"\n        },\n        {\n            \"moduleId\": \"102000000001\",\n            \"moduleName\": \"Profit\",\n            \"id\": \"208000000001\",\n            \"name\": \"Cost\"\n        },\n        {\n            \"moduleId\": \"102000000001\",\n            \"moduleName\": \"Profit\",\n            \"id\": \"208000000002\",\n            \"name\": \"Profit\"\n        }\n    ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions": {
      "get": {
        "summary": "Retrieve dimensions IDs for a line item",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "description": "## Retrieve dimensions IDs for a line item\n\n`/models/{modelId}/lineItems/{lineItemId}/dimensions`\n\nUse this call to retrieve the IDs of dimensions that define a line item.\n\nFor reference, see [Retrieve dimension items for a line item](https://anaplanbulkapi20.docs.apiary.io/#RetrieveDimensionsLineItem).\n\nNotes:\n\n*   To retrieve the IDs for the dimensions, use a `GET` request with this URL: `https://api.anaplan.com/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions` where `{lineItemId}` is a placeholder for the retrieved line item ID.\n*   This returns a list of all the dimensions that apply to that line item.\n    \n\n## Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/dimension\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"dimensions\": [\n        {\n            \"id\": \"20000000003\",\n            \"name\": \"Time\"\n        },\n        {\n            \"id\": \"20000000020\",\n            \"name\": \"Versions\"\n        },\n        {\n            \"id\": \"101000000001\",\n            \"name\": \"Products\"\n        },\n        {\n            \"id\": \"101000000002\",\n            \"name\": \"Regions\"\n        }\n    ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "lineItemId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{lineItemId}}"
        }
      ]
    },
    "/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items": {
      "get": {
        "summary": "Retrieve dimension items for a line item",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "description": "## Retrieve dimension items for a line item\n\n`/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items`  \n\nUse this call to retrieve IDs, codes, and names for dimension items that apply for the specified line item.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   This call works with any dimension type.\n*   Your requesting model role must allow read access to the module the line item belongs to. Otherwise, this call returns a\u00a0`404 Not Found`\u00a0HTTP status.\n*   The items in the response are ordered as listed in the Anaplan model.\n*   The response returns items within a\u00a0[flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html)\u00a0(no hierarchy).\n*   This returns dimension items that apply to a line item. For the view-level call, see\u00a0[Retrieve selected items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveSelectedItemsDimension)\u00a0and for the model-level call, see\u00a0[Retrieve all items in a dimension](https://anaplanbulkapi20.docs.apiary.io/#RetrieveItemsDimension).\n*   This call only supports the retrieval of dimension items where the dimension contains a maximum of 1,000,000 items. If the specified dimension contains more than 1,000,000 dimension items, then the call returns a 400 Bad Request HTTP status, instead of a subset of the dimension items.\n*   Providing a non-existent Line Item ID or Dimension ID returns a 404 Not Found HTTP status.\n*   If the request provides an invalid line item ID or dimension ID this call returns a\u00a0`400 Bad Request`\u00a0HTTP status.\n*   In the future, use of this call may be rate limited.\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br>*   Description: This indicates the preferred response is either\u00a0`application/json`\u00a0format. Note that this call only outputs in\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type:\u00a0`String`<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n| `{lineItemId}` | <br><br>*   Required<br>*   Type:\u00a0`Number`<br>*   Description: the line item ID<br>*   Example:\u00a0`208000000000`<br><br> |\n| `{dimensionId}` | <br><br>*   Required<br>*   Type:\u00a0`Number`<br>*   Description: the dimension ID<br>*   Example:\u00a0`101000000028`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com/2/0/objects/dimension\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"items\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"220000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"England\"\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\": \"220000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\": \"Wales\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        },
        {
          "name": "lineItemId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{lineItemId}}"
        },
        {
          "name": "dimensionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{dimensionId}}"
        }
      ]
    },
    "/2/0/models/{modelId}/versions": {
      "get": {
        "summary": "Retrieve version metadata",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Model Setting Metadata"
        ],
        "description": "## Retrieve version metadata\n\n`/models/{modelId}/versions`  \n\nUse this call to get information about the model versions. The response contains a list of the versions that the user has access to, and the model metadata that can be viewed from the UI.\n\n**Notes:**\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   The returned versions only include the user\u2019s model role with read access or higher.\n*   If the value for a field is set, it will be returned in the results.\n    \n\n### Requests\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/models/{modelId}/versions' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is either\u00a0`application/json`\u00a0format. Note that this call only outputs in\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response header\n\n`Content-Type: application/json`\n\n### Response 200 body\n\nThe date format for\u00a0`editFrom`\u00a0and\u00a0`editTo`\u00a0depends on the model calendar setting.\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/version\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"versionMetadata\": [\n        {\n            \"id\": \"107000000001\",\n            \"name\": \"Actual\",\n            \"isCurrent\": false,\n            \"isActual\": true,\n            \"editFrom\": {\n                \"periodText\": \"Start of Timescale\",\n                \"date\": \"1900-01-01\"\n            },\n            \"editTo\": {\n                \"periodText\": \"End of Timescale\",\n                \"date\": \"2399-12-31\"\n            },\n            \"notes\": \"This version data is updated every Monday\"\n        },\n        {\n            \"id\": \"107000000002\",\n            \"name\": \"Variance\",\n            \"isCurrent\": false,\n            \"isActual\": false,\n            \"switchover\": {\n                \"periodText\": \"Mar 20\",\n                \"date\": \"2020-03-01\"\n            },\n            \"formula\": \"Actual - 20\",\n            \"editFrom\": {\n                \"periodText\": \"Jan 20\",\n                \"date\": \"2020-01-01\"\n            },\n            \"editTo\": {\n                \"periodText\": \"Dec 20\",\n                \"date\": \"2020-12-31\"\n            }\n        }\n    ]\n}\n```"
      },
      "parameters": [
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/currentPeriod": {
      "get": {
        "summary": "Retrieve current period",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Model Setting Metadata"
        ],
        "description": "## Retrieve current period\n\n`/workspaces/{workspaceId}/models/{modelId}/currentPeriod`\n\nUse this call to determine the value of the current period in Anaplan.\n\nIf the current period is not set in Anaplan, this call returns empty strings for the\u00a0`periodText`\u00a0and\u00a0`lastDay`\u00a0values of the\u00a0`currentPeriod`.\n\n**Notes**:\n\n*   To use this call, you must be a\u00a0[Workspace Administrator](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Workspace_Administration.html).\n*   Use of this call may be rate limited. If you call too frequently, you may receive a\u00a0`429`\u00a0response.\n    \n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/currentPeriod' \\\n-H 'Accept: application/json' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Required<br>*   Description: This indicates the preferred response is\u00a0`application/json`\u00a0format.<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the ID for the model<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n\u00a0 \"meta\" : {\n\u00a0\u00a0\u00a0 \"schema\" : \"https://api.anaplan.com/2/0/objects/currentPeriod\"\n\u00a0 },\n\u00a0 \"status\" : {\n\u00a0\u00a0\u00a0 \"code\" : 200,\n\u00a0\u00a0\u00a0 \"message\" : \"Success\"\n\u00a0 },\n\u00a0 \"currentPeriod\" : {\n\u00a0\u00a0\u00a0 \"periodText\" : \"May 20\",\n\u00a0\u00a0\u00a0 \"lastDay\" : \"2020-05-31\",\n\u00a0\u00a0\u00a0 \"calendarType\" : \"Calendar Months/Quarters/Years\"\n\u00a0\u00a0}\n}\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/modelCalendar": {
      "get": {
        "summary": "Get current fiscal year",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Model Setting Metadata"
        ],
        "description": "## Get current fiscal year\n\n`/workspaces/{workspaceId}/models/{modelId}/modelCalendar`\n\nUse this call to get the current fiscal year with the start and end date from the model calendar. The value of the start and end date is determined by the calendar type set in the model. This value is not always a range from Jan 1 to Dec 31. The API returns an empty value If the calendar type does not have an available fiscal year (for example, Weeks General).\n\n### Request\n\n```\ncurl -X GET 'https://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/modelCalendar' \\\n-H 'Authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H 'Accept: application/json'\n```\n\n### Request headers\n\n| **Header** | **Details** |\n| --- | --- |\n| `Authorization: AnaplanAuthToken {anaplan_auth_token}` | <br><br>*   Required<br>*   Description: the Anaplan authentication token<br><br> |\n| `Accept: application/json` | <br><br>*   Optional<br><br> |\n\n### Request parameters\n\n| **Parameter** | **Details** |\n| --- | --- |\n| `{workspaceId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8196b15b7dbae6015b8694411d13fe`<br><br> |\n| `{modelId}` | <br><br>*   Required<br>*   Type: String<br>*   Description: the model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE074327899685`<br><br> |\n\n### Response headers\n\n`Content-Type: application/json`\n\n### Response 200 Body\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/modelCalendar\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"modelCalendar\": {\n        \"fiscalYear\": {\n            \"year\": \"FY21\",\n            \"startDate\": \"2021-01-01\",\n            \"endDate\": \"2021-12-31\"\n        }\n    }\n}\n\n```\n\n### Example 1: Calendar Type: weeks 4-4-5,4-5-4 or 5-4-4\n\n#### Model Calendar\n\nIn Anaplan, the\u00a0**Current Fiscal Year**\u00a0in the\u00a0**Model Calendar**\u00a0is set to\u00a0*FY21: 29 Mar 2020 - 27 Mar 2021*.\n\n#### Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/modelCalendar\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"modelCalendar\": {\n        \"fiscalYear\": {\n            \"year\": \"FY21\",\n            \"startDate\": \"2020-03-29\",\n            \"endDate\": \"2021-03-27\"\n        }\n    }\n}\n\n```\n\n#### Example 2: Calendar Type: weeks general\n\n#### Model Calendar\n\nIn Anaplan, the\u00a0**Calendar Type**\u00a0in the\u00a0**Model Calendar**\u00a0is set to\u00a0*weeks general*.\n\n#### Response\n\n```\n{\n    \"meta\": {\n        \"schema\": \"https://api.anaplan.com/2/0/objects/modelCalendar\"\n    },\n    \"status\": {\n        \"code\": 200,\n        \"message\": \"Success\"\n    },\n    \"modelCalendar\": {}\n}\n\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/actions": {
      "get": {
        "summary": "List the actions in the model as a JSON array",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "description": "## List the actions in the model as a JSON array\n\n`/workspaces/{workspaceId}/models/{modelId}/actions`  \n\nThis lists the delete actions available for the given model ID. This returns a JSON array containing the list of delete actions that you can carry out:\n\n*   `id`\u00a0is the Id of the action that you can carry out in the specified model.\n*   `name`\u00a0is the name of the action that you can carry out. You can view these actions in the Anaplan user interface in the Action settings for the model.\n    \n\n### Get the deletion actions\n\n#### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/actions \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#### Response 200 (application/json)\n\n```\n{\n\u00a0\u00a0 \"actions\":[\n\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\":\"117000000019\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\":\"Delete From Org 2\"\n\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\":\"117000000018\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\":\"Open Other Buttons\"\n\u00a0\u00a0\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\":\"117000000017\",\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\":\"Delete Branch\"\n\u00a0\u00a0\u00a0\u00a0\u00a0 }\n\u00a0\u00a0 ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/processes": {
      "get": {
        "summary": "List the process definitions available in a model as a JSON array",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "description": "## List the process definitions available in a model as a JSON array\n\n`/workspaces/{workspaceId}/models/{modelId}/processes`  \n\nThis lists the processes available for the given modelID. This returns a JSON array containing the list of processes that you can run for that model:\n\n*   `id`\u00a0is the Id of the process that you can run on the specified model.\n*   `name`\u00a0is the name of the process that you can run.\n    \n\n### Get a list of processes\n\n#### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/processes \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#### Response 200 (application/json)\n\n```\n[\n\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\":\"118000000001\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\":\"Process1\"\n\u00a0\u00a0 },\n\u00a0\u00a0 {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"id\":\"118000000002\",\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"name\":\"Process2\"\n\u00a0\u00a0 }\n]\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/imports/": {
      "get": {
        "summary": "Get a list of import actions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "description": "## Getting the import ID  \n\n`/workspaces/{workspaceID}/models/{modelID}/imports/`\u00a0To run an import, you need its ID. You can skip this step if you already know the import ID.\n\n### Get the import IDs\n\n#### Request\n\n```\ncurl -X GET \\\nhttps://api.anaplan.com/2/0/workspaces/{workspaceId}/models/{modelId}/imports \\\n-H 'authorization: AnaplanAuthToken {anaplan_auth_token}' \\\n-H \"Content-Type:application/json\"\n```\n\n#### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Content-Type:application/json`\n    \n\n#### Parameters\n\n| **Parameter** | **Description** |\n| --- | --- |\n| `workspaceId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The workspace ID<br>*   Example:\u00a0`8a8b8c8d8e8f8g8i`<br><br> |\n| `modelId` | <br><br>*   Required<br>*   Type: string<br>*   Description: The model ID<br>*   Example:\u00a0`75A40874E6B64FA3AE0743278996850F`<br><br> |\n\n#### Response 200 (application/json)\n\n```\n{\n\u00a0 \"meta\": {\n\u00a0\u00a0\u00a0 \"paging\": {\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"currentPageSize\": 8,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"offset\": 0,\n\u00a0\u00a0\u00a0\u00a0\u00a0 \"totalSize\": 8\n\u00a0\u00a0\u00a0 },\n\u00a0\u00a0\u00a0 \"schema\": \"https://api.anaplan.com//2/0/models/75A40874E6B64FA3AE0743278996850F/objects/import\"\n\u00a0 },\n\u00a0 \"status\": {\n\u00a0\u00a0\u00a0 \"code\": 200,\n\u00a0\u00a0\u00a0 \"message\": \"Success\"\n\u00a0 },\n\u00a0 \"imports\": [\n\u00a0\u00a0\u00a0 {\n\u00a0\u00a0\u00a0 \"id\": \"112000000007\",\n\u00a0\u00a0\u00a0 \"name\": \"ORG2Test from Organization.txt\",\n\u00a0\u00a0\u00a0 \"importDataSourceId\": \"113000000006\",\n\u00a0\u00a0\u00a0 \"importType\": \"HIERARCHY_DATA\"\n\u00a0\u00a0\u00a0 }\n\u00a0 ]\n}\n\n```"
      },
      "parameters": [
        {
          "name": "workspaceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "8a868cda7c8b28f5017c9a4b2d8341cd"
        },
        {
          "name": "modelId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "4261ECE4389B45E18915B5EB72F7510B"
        }
      ]
    },
    "/2/0/workspaces/{workspaceId}/models/{modelId}/imports/{importId}/tasks": {
      "get": {
        "summary": "Get a list of the import tasks",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "AnaplanAuthToken {{anaplan_auth_token}}"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO: document response"
          }
        },
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
[...]
