{
  "openapi": "3.0.0",
  "info": {
    "title": "Official Anaplan Collection",
    "version": "1.0.0",
    "description": "The Anaplan Integration API v2 provides REST endpoints for programmatic access to Anaplan resources: workspaces, models, files, imports, exports, processes, actions, lists, and modules. Use this API to automate data movement and model operations."
  },
  "servers": [
    {
      "url": "https://api.anaplan.com/2/0",
      "description": "US1, US2, US5, US7, EU1, EU2, EU4, AP1"
    },
    {
      "url": "https://us9.api.anaplan.com/2/0",
      "description": "US9"
    },
    {
      "url": "https://eu3.api.anaplan.com/2/0",
      "description": "EU3"
    },
    {
      "url": "https://eu5.api.anaplan.com/2/0",
      "description": "EU5"
    },
    {
      "url": "https://gb1.api.anaplan.com/2/0",
      "description": "GB1"
    },
    {
      "url": "https://ca1a.api.anaplan.com/2/0",
      "description": "CA1"
    },
    {
      "url": "https://sg1.api.anaplan.com/2/0",
      "description": "SG1"
    },
    {
      "url": "https://ae1.api.anaplan.com/2/0",
      "description": "AE1"
    },
    {
      "url": "https://in1.api.anaplan.com/2/0",
      "description": "IN1"
    },
    {
      "url": "https://id1.api.anaplan.com/2/0",
      "description": "ID1"
    },
    {
      "url": "https://me1.api.anaplan.com/2/0",
      "description": "ME1"
    },
    {
      "url": "https://au1a.api2.anaplan.com/2/0",
      "description": "AU1"
    }
  ],
  "security": [
    {
      "AnaplanAuthToken": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/models": {
      "get": {
        "summary": "List user models (large responses — see description)",
        "description": "Minimum role: Standard User.\n\nRetrieves information about all models in the user's default tenant.\n\nModels with `activeState` of `ARCHIVED` are typically inactive and not actionable; filter them out of results (keep only `activeState` != `ARCHIVED`) unless you specifically need archived models.\n\n**HIGH VOLUME** — this returns every model in the user's default tenant in one merged response; with no `limit` a client that auto-follows `meta.paging` combines every page and can overflow its token budget. Reduce volume by passing an explicit `limit` and paging with `offset`, by scoping server-side (the `s=` search filter, or the workspace-scoped `GET /workspaces/{workspaceId}/models` list) instead of full enumeration, and/or by using `search` to locate the specific op/params rather than pulling the whole collection.",
        "tags": [
          "General Workspace & Model Metadata"
        ],
        "parameters": [
          {
            "name": "modelDetails",
            "in": "query",
            "description": "When true, includes available model memory usage in bytes in the response.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "$ref": "#/components/parameters/Search"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` ascending, `-field` descending; prefix required and field name validated (bad or unknown field returns 400). Comma-separate to sort by multiple columns. Sortable fields: name, activeState.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "All models in the user's default tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Get single model metadata",
        "description": "Minimum role: Standard User.",
        "tags": [
          "General Workspace & Model Metadata"
        ],
        "parameters": [
          {
            "name": "modelDetails",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for the model.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "model": {
                      "$ref": "#/components/schemas/Model"
                    }
                  }
                }
              }
            }
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/actions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "List the actions in the model as a JSON array",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/actions`. Returns the same response shape without requiring a workspace ID. Lists delete actions available for the specified model.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` or unprefixed ascending, `-field` descending; comma-separate for multiple columns. `name` and `id` reorder results. Field name not validated — unknown fields return 200 and fall back to default order. Example: `+name`, `-id`.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Actions retrieved successfully",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 3,
                      "offset": 0,
                      "totalSize": 3
                    },
                    "schema": "https://api.anaplan.com/2/0/models/D4E5F6A1B2C3D4E5F6A1B2C3D4E5F6A1/objects/action"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "actions": [
                    {
                      "id": "117000000019",
                      "actionType": "DELETE_BY_SELECTION",
                      "name": "Delete Flat New SKU List"
                    },
                    {
                      "id": "117000000018",
                      "actionType": "DELETE_BY_SELECTION",
                      "name": "Delete Flat New SKU List After Import"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "actions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Action"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/currentPeriod": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Get current period (model-scoped)",
        "description": "Minimum role: Workspace Administrator.",
        "tags": [
          "Model Settings"
        ],
        "responses": {
          "200": {
            "description": "The model's current period.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/currentPeriod"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "currentPeriod": {
                    "periodText": "May 20",
                    "lastDay": "2020-05-31",
                    "calendarType": "Calendar Months/Quarters/Years"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "currentPeriod": {
                      "$ref": "#/components/schemas/CurrentPeriod"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      },
      "put": {
        "summary": "Set current period",
        "description": "Minimum role: Workspace Administrator.\n\nUse this call to change or reset the current period in Anaplan. When this call contains a specified date (for example, 2020-05-20), the API determines what period range contains the specified data and sets that range as the current period.  When the date value is set to blank in this call, the API resets the current period to blank.\n\n**Warning**: A change to your time settings is a potentially destructive action and may lead to data loss.  The new range of time periods may not include previous time periods. Any data in the removed time periods is deleted from the model.\n\n**Notes**:\n\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response\n\n### Request body\n\n| **Body** | **Details** |\n| --- | --- |\n| `{date}` | <br><br>*   Required<br>*   Type: String<br>*   Description: The date to use to set, or reset, the current period. The date format is YYYY-MM-DD.  <br>    If the `date` parameter is left blank (for example, `/currentperiod?date=`) the current period resets.  <br>    If the date is not provided in the YYYY-MM-DD format, the call returns a `400 Bad Request` response with this message: `Invalid ISO date format '{date}'. Date should match format YYYY-MM-DD`  <br>    If this value falls outside of a valid range, the call returns a `400 Bad Request` response with this message: `Specified date '{date}' is out of timescale range {start of timescale} - {end of timescale}`.<br>*   Example: 2010-05-20<br><br> |",
        "tags": [
          "Transactional Write"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "The date used to set the current period (YYYY-MM-DD). Leave blank (?date=) to reset the current period. Accepted as either a query parameter or a request body field, but not both simultaneously. Returns 400 if the format is invalid or the date falls outside the model timescale.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            },
            "example": "2020-05-20"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRequest"
              },
              "example": {
                "date": "2020-07-03"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated current period.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/currentPeriod"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "currentPeriod": {
                    "periodText": "May 20",
                    "lastDay": "2020-05-31",
                    "calendarType": "Calendar Months/Quarters/Years"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "currentPeriod": {
                      "$ref": "#/components/schemas/CurrentPeriod"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Occurs when: (1) the date is not in YYYY-MM-DD format — \"Invalid ISO date format '{date}'. Date should match format YYYY-MM-DD\"; (2) the date falls outside the model timescale — \"Specified date '{date}' is out of timescale range {start} - {end}\"; (3) date is supplied as both a query parameter and a request body field simultaneously."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      }
    },
    "/models/{modelId}/dimensions/{dimensionId}/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/DimensionId"
        }
      ],
      "get": {
        "summary": "Model-direct form: Retrieve all items in a dimension",
        "description": "Minimum role: Standard User.\n\nAlternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items`.\n\nUse this call to retrieve the IDs, codes, and names for items in a specified dimension. The dimension must be a list, a list subset, a line item subset, or the Users dimension.\n\nCalls at model-level do not support the Time dimension. The calls return a `400` response. To avoid this, use the view dimension instead.\n\n**Notes**:\n\n*   This call is on the model-level. It returns all dimension items as it does not have view-level hiding, filtering, or [Selective Access](https://help.anaplan.com/anapedia/Content/Modeling/Users/Selective_Access.html). For the view-level endpoint, see Retrieve selected items in a dimension.\n*   If codes have not been set for an item, then the response excludes the `code` field.\n*   This call only supports the retrieval of dimensions and items from a dimension that contains a maximum of 1,000,000 items.  \n    The call returns a `400` response for any more than that number of items.\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.\n*   When the dimension has no items, the response omits the `items` key entirely rather than returning an empty array.",
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "responses": {
          "200": {
            "description": "Items of the dimension.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/dimension"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "items": [
                    {
                      "code": "N",
                      "id": "200000000001",
                      "name": "North"
                    },
                    {
                      "code": "E",
                      "id": "200000000002",
                      "name": "East"
                    },
                    {
                      "code": "S",
                      "id": "200000000003",
                      "name": "South"
                    },
                    {
                      "code": "W",
                      "id": "200000000004",
                      "name": "West"
                    },
                    {
                      "id": "200000000000",
                      "name": "Total Company"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dimension"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — check the request parameters and body."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Standard User"
      },
      "post": {
        "summary": "Model-direct form: Lookup dimension items by name or code",
        "description": "Minimum role: Standard User.\n\nModel-direct alternate URL form — identical behaviour to `/workspaces/{workspaceId}/models/{modelId}/dimensions/{dimensionId}/items` POST.\n\nRetrieve the items from a dimension that match one of a list of names or a list or codes.\n\n** Notes: **\n\n*   This call does not return results for names or codes for which an item does not exist.\n*   If the given workspace, model, or dimension do not exist, this call returns a `404` code.\n*   If the dimension does not support codes and codes are provided, this call returns a `400` code.\n*   In the future, use of this call may be rate limited.\n\n### Request body\n\n| **JSON Element** | **Description** |\n| --- | --- |\n| `names` | The case-insensitive strings that match the name of a returned item. |\n| `codes` | The case-insensitive strings that match the code of a returned item. |\n\nNote that the `names`, `codes`, or both fields in the request body must contain a non-empty value. If the request body does not include at least one of these fields, the response returns an error.",
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "codes": [
                  "2"
                ],
                "names": [
                  "Test1"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching items from the dimension.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/dimension"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "items": [
                    {
                      "name": "South",
                      "id": "208000000001",
                      "code": "S"
                    },
                    {
                      "name": "West",
                      "id": "208000000004",
                      "code": "W"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dimension"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — the referenced resource does not exist.\n\nAlso returned when the caller holds a NO ACCESS role on the model — Anaplan masks that as `404` rather than `403` so the resource is not confirmed to exist."
          },
          "400": {
            "description": "Bad request — check the request parameters and body."
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/exports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "List the available export definitions as a JSON array",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/exports`. Returns the same response shape without requiring a workspace ID. Lists export definitions available for the specified model.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` or unprefixed ascending, `-field` descending; comma-separate for multiple columns. `name` and `id` reorder results. Field name not validated — unknown fields return 200 and fall back to default order. Example: `+name`, `-id`.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Exports retrieved successfully",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 2,
                      "offset": 0,
                      "totalSize": 2
                    },
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/export"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "exports": [
                    {
                      "id": "116000000000",
                      "name": "Export Grid.xls",
                      "exportType": "GRID_CURRENT_PAGE",
                      "exportFormat": "text/csv",
                      "layout": "GRID_CURRENT_PAGE"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "exports": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Export"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/exports/{exportId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ExportId"
        }
      ],
      "get": {
        "summary": "Get the metadata for an export definition",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/exports/{exportId}`. Returns the same `exportMetadata` response shape without requiring a workspace ID.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "responses": {
          "200": {
            "description": "Metadata for the export definition.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api-stg.anaplan.com/2/0/models/28D168FB7385407A8AC0026487733564/objects/exportMetadata"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "exportMetadata": {
                    "columnCount": 16,
                    "dataTypes": [
                      "ENTITY",
                      "MIXED",
                      "MIXED",
                      "MIXED",
                      "MIXED"
                    ],
                    "delimiter": "\"",
                    "encoding": "UTF-8",
                    "exportFormat": "text/csv",
                    "headerNames": [
                      "ListWithSemiColonAsSeparator",
                      "Parent",
                      "Code",
                      "DepProjects",
                      "col1",
                      "col2",
                      "col3",
                      "col4",
                      "data",
                      "delete"
                    ],
                    "listNames": [
                      "",
                      "",
                      "",
                      ""
                    ],
                    "rowCount": 20432,
                    "separator": ","
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "exportMetadata": {
                      "$ref": "#/components/schemas/ExportMetadata"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/files": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Get a list of files",
        "description": "Minimum role: Standard User.\n\nTo upload a file, you need its ID in Anaplan:\n\n*   `id` is the ID that you need to upload the file.\n*   `name` is the filename of the file.\n*   `chunkCount` is the number of chunks in the file.\n*   `delimiter` is double-quotes for columns and fields. For example, \"Versions\",\"Opportunities\",\" \"Version 1\",\"Opportunity 0001\".\n*   `encoding` determines the way in which bytes in a file map to Unicode character code points. See [Common Character Encodings](https://en.wikipedia.org/wiki/Character_encoding#Common_character_encodings) on Wikipedia.\n*   `firstDataRow` is the first row after the row containing column names.\n*   `format` is text, as opposed to a binary stream.\n*   `headerRow` is the row that contains column names.\n*   `separator` is the token that separates fields. This is typically a comma, for example, \"Versions\",\"Opportunities\",\" \"Version 1\",\"Opportunity 0001\".\n\n### Headers\n\n*   `Authorization:AnaplanAuthToken {anaplan_auth_token}`\n*   `Accept:application/json`",
        "tags": [
          "Model Metadata",
          "File Metadata"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` or unprefixed ascending, `-field` descending; comma-separate for multiple columns. `name` and `id` reorder results. Field name not validated — unknown fields return 200 and fall back to default order. Example: `+name`, `-id`.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Files in the model, each with the ID needed to upload.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 9,
                      "offset": 0,
                      "totalSize": 9
                    },
                    "schema": "https://api.anaplan.com//2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/file"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "files": [
                    {
                      "id": "113000000000",
                      "name": "#T & #R.csv",
                      "chunkCount": 0,
                      "delimiter": "\"",
                      "encoding": "ISO-8859-1",
                      "firstDataRow": 2,
                      "format": "txt",
                      "headerRow": 1,
                      "separator": ","
                    },
                    {
                      "id": "113000000001",
                      "name": "#T & #R-1.csv",
                      "chunkCount": 0,
                      "delimiter": "\"",
                      "encoding": "ISO-8859-1",
                      "firstDataRow": 2,
                      "format": "txt",
                      "headerRow": 1,
                      "separator": ","
                    },
                    {
                      "id": "113000000002",
                      "name": "Sales metrics (1) - POC load.csv",
                      "chunkCount": 0,
                      "delimiter": "\"",
                      "encoding": "UTF-8",
                      "firstDataRow": 2,
                      "format": "txt",
                      "headerRow": 1,
                      "separator": ","
                    },
                    {
                      "id": "116000000001",
                      "name": "ExportGrid - ORG2Test.xls",
                      "chunkCount": 1,
                      "firstDataRow": 0,
                      "headerRow": 0
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/File"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/files/{fileId}/chunks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/FileId"
        }
      ],
      "get": {
        "summary": "Get Chunks Details (model-direct)",
        "description": "Minimum role: Standard User.\n\nModel-direct equivalent of `GET /workspaces/{workspaceId}/models/{modelId}/files/{fileId}/chunks`. Returns the same response shape: a `chunks` array of `{id, name}` objects (key omitted entirely when `chunkCount` is 0).",
        "tags": [
          "Bulk Read"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Chunk IDs and names for the file.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 4,
                      "offset": 0,
                      "totalSize": 4
                    },
                    "schema": "https://api.anaplan.com//2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/chunk"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "chunks": [
                    {
                      "id": "0",
                      "name": "Chunk 0"
                    },
                    {
                      "id": "1",
                      "name": "Chunk 1"
                    },
                    {
                      "id": "2",
                      "name": "Chunk 2"
                    },
                    {
                      "id": "3",
                      "name": "Chunk 3"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "chunks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chunk"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/imports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Get a list of import actions",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/imports`. Returns the same response shape without requiring a workspace ID. Lists import definitions available for the specified model.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` or unprefixed ascending, `-field` descending; comma-separate for multiple columns. `name` and `id` reorder results. Field name not validated — unknown fields return 200 and fall back to default order. Example: `+name`, `-id`.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Imports retrieved successfully",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 8,
                      "offset": 0,
                      "totalSize": 8
                    },
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/import"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "imports": [
                    {
                      "id": "112000000007",
                      "name": "ORG2Test from Organization.txt",
                      "importDataSourceId": "113000000006",
                      "importType": "HIERARCHY_DATA"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "imports": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Import"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/imports/{importId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ImportId"
        }
      ],
      "get": {
        "summary": "Get the metadata for an import definition",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/imports/{importId}`. Returns the same `importMetadata` response shape without requiring a workspace ID.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "responses": {
          "200": {
            "description": "Metadata for the import definition.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/importMetadata"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "importMetadata": {
                    "name": "Employees from Employees.txt",
                    "type": "FILE",
                    "source": {
                      "textEncoding": "ISO-8859-1",
                      "columnSeparator": "\t",
                      "textDelimiter": "\"",
                      "headerRow": 1,
                      "firstDataRow": 2,
                      "decimalSeparator": ".",
                      "headerNames": [
                        "Name",
                        "Sales Region",
                        "Parent",
                        "Code",
                        "Sales Team",
                        "Start Date",
                        "Leave Date",
                        "Salary",
                        "Address",
                        "Quota",
                        "Bonus %",
                        "Sales Rep",
                        "Staff",
                        "Exec"
                      ],
                      "columnCount": 14
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "importMetadata": {
                      "$ref": "#/components/schemas/ImportMetadata"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/lineItems": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Retrieve all line items in a model",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve identifiers of all line items in a model.\n\n**Notes**:\n\n*   The returned line items are restricted just to those in modules to which the model role of the user has Read access.\n*   The response returns Items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy).\n*   This returns all the line items in the model. For line items in a specific module see Retrieve Line Items For a Module.\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response",
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "All line items in the model.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/lineItem"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "items": [
                    {
                      "moduleId": "102000000000",
                      "moduleName": "Sales Entry",
                      "id": "206000000000",
                      "name": "Quantity Sold"
                    },
                    {
                      "moduleId": "102000000000",
                      "moduleName": "Sales Entry",
                      "id": "206000000001",
                      "name": "Price"
                    },
                    {
                      "moduleId": "102000000000",
                      "moduleName": "Sales Entry",
                      "id": "206000000002",
                      "name": "Revenue"
                    },
                    {
                      "moduleId": "102000000001",
                      "moduleName": "Profit",
                      "id": "208000000000",
                      "name": "Commission"
                    },
                    {
                      "moduleId": "102000000001",
                      "moduleName": "Profit",
                      "id": "208000000001",
                      "name": "Cost"
                    },
                    {
                      "moduleId": "102000000001",
                      "moduleName": "Profit",
                      "id": "208000000002",
                      "name": "Profit"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LineItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/lineItems/{lineItemId}/dimensions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/LineItemId"
        }
      ],
      "get": {
        "summary": "Retrieve dimensions IDs for a line item",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve the IDs of dimensions that define a line item.\n\nFor reference, see Retrieve dimension items for a line item.\n\nNotes:\n\n*   This returns a list of all the dimensions that apply to that line item.",
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Dimensions that define the line item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "dimensions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dimension"
                      }
                    }
                  }
                },
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/dimension"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "dimensions": [
                    {
                      "id": "20000000003",
                      "name": "Time"
                    },
                    {
                      "id": "20000000020",
                      "name": "Versions"
                    },
                    {
                      "id": "101000000001",
                      "name": "Products"
                    },
                    {
                      "id": "101000000002",
                      "name": "Regions"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/lineItems/{lineItemId}/dimensions/{dimensionId}/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/LineItemId"
        },
        {
          "$ref": "#/components/parameters/DimensionId"
        }
      ],
      "get": {
        "summary": "Retrieve dimension items for a line item",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve IDs, codes, and names for dimension items that apply for the specified line item.\n\n**Notes**:\n\n*   This call works with any dimension type.\n*   Your requesting model role must allow read access to the module the line item belongs to. Otherwise, this call returns a `404 Not Found` HTTP status.\n*   The items in the response are ordered as listed in the Anaplan model.\n*   The response returns items within a [flat list](https://help.anaplan.com/anapedia/Content/Modeling/Dimensions/Lists.html) (no hierarchy).\n*   This returns dimension items that apply to a line item. For the view-level call, see Retrieve selected items in a dimension and for the model-level call, see Retrieve all items in a dimension.\n*   This call only supports the retrieval of dimension items where the dimension contains a maximum of 1,000,000 items. If the specified dimension contains more than 1,000,000 dimension items, then the call returns a 400 Bad Request HTTP status, instead of a subset of the dimension items.\n*   Providing a non-existent Line Item ID or Dimension ID returns a 404 Not Found HTTP status.\n*   If the request provides an invalid line item ID or dimension ID this call returns a `400 Bad Request` HTTP status.\n*   In the future, use of this call may be rate limited.\n*   When the dimension has no items, the response omits the `items` key entirely rather than returning an empty array.",
        "tags": [
          "Model Metadata",
          "Line Item Metadata"
        ],
        "responses": {
          "200": {
            "description": "Items of the dimension for the line item.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/dimension"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "items": [
                    {
                      "id": "220000000001",
                      "name": "England"
                    },
                    {
                      "id": "220000000002",
                      "name": "Wales"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dimension"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/lists": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Model-direct form: Retrieve Lists",
        "description": "Minimum role: Standard User.\n\nAlternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/lists`.\n\nUse this call to retrieve lists for a specified workspace and model.",
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists in the model.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 5,
                      "offset": 0,
                      "totalSize": 5
                    },
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/list"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "lists": [
                    {
                      "id": "101000000000",
                      "name": "Organization"
                    },
                    {
                      "id": "101000000001",
                      "name": "opportunities"
                    },
                    {
                      "id": "101000000002",
                      "name": "sales rep"
                    },
                    {
                      "id": "101000000003",
                      "name": "Bakery"
                    },
                    {
                      "id": "101000000004",
                      "name": "List2"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/lists/{listId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ListId"
        }
      ],
      "get": {
        "summary": "Model-direct form: Retrieve list metadata",
        "description": "Minimum role: Standard User.\n\nAlternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/lists/{listId}`.\n\nUse this call to retrieve metadata for a specified list. Field-level descriptions are in the response schema (ListMetadata). Metadata entries that are not set for a list (for example, no parent or no top level item) are omitted from the response.\n\n**Notes**:\n\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response.",
        "tags": [
          "Model Metadata",
          "List Metadata"
        ],
        "responses": {
          "200": {
            "description": "Metadata for the list.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/list"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "metadata": {
                    "id": "101000000001",
                    "name": "Sales Reps",
                    "properties": [
                      {
                        "name": "Salesforce",
                        "format": "TEXT",
                        "notes": "",
                        "referencedBy": ""
                      },
                      {
                        "name": "Mail",
                        "format": "TEXT",
                        "notes": "",
                        "referencedBy": ""
                      }
                    ],
                    "hasSelectiveAccess": false,
                    "parent": {
                      "id": "101000000000",
                      "name": "Organization"
                    },
                    "managedBy": "",
                    "numberedList": false,
                    "useTopLevelAsPageDefault": false,
                    "itemCount": 1,
                    "workflowEnabled": false,
                    "productionData": false
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/modelCalendar": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Get model calendar (model-direct)",
        "description": "Minimum role: Workspace Administrator.\n\nModel-direct equivalent of `GET /workspaces/{workspaceId}/models/{modelId}/modelCalendar`. Returns the same response shape: a `modelCalendar` object containing the current fiscal year with start and end dates (empty object when the calendar type has no fiscal year, e.g., Weeks General).",
        "tags": [
          "Model Metadata",
          "Model Setting Metadata"
        ],
        "responses": {
          "200": {
            "description": "The model calendar.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/modelCalendar"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "modelCalendar": {
                    "fiscalYear": {
                      "year": "FY21",
                      "startDate": "2021-01-01",
                      "endDate": "2021-12-31"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "modelCalendar": {
                      "$ref": "#/components/schemas/ModelCalendar"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      }
    },
    "/models/{modelId}/modelCalendar/fiscalYear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "put": {
        "summary": "Update current fiscal year",
        "description": "Minimum role: Workspace Administrator.\n\nUse this call to update the current fiscal year for the model calendar. The year input value has to be a valid fiscal year supported by the model calendar in Anaplan. If successful, this call returns the updated fiscal year with start and end date associated with current model calendar type. This call returns a `400 bad request` message if the input value is out of range or model calendar type does not have an available fiscal year (for example, Weeks General).",
        "tags": [
          "Transactional Write"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "year": {
                    "type": "string",
                    "description": "Fiscal year to set as current. Must be a valid fiscal year for the model's calendar type (for example, FY21)."
                  }
                }
              },
              "example": {
                "year": "FY21"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated fiscal year with its start and end dates.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/modelCalendar"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "modelCalendar": {
                    "fiscalYear": {
                      "year": "FY21",
                      "startDate": "2021-01-01",
                      "endDate": "2021-12-31"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "modelCalendar": {
                      "$ref": "#/components/schemas/ModelCalendar"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      }
    },
    "/models/{modelId}/modules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Retrieve IDs and names for all modules in a model",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve the IDs and names of all modules for a specified model.\n\n**Notes**:\n\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response",
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "IDs and names of all modules in the model.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 1,
                      "offset": 0,
                      "totalSize": 1
                    },
                    "schema": "https://api.anaplan.com/2/0/objects/module"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "modules": [
                    {
                      "id": "102000000125",
                      "name": "REV01 Price Book"
                    },
                    {
                      "id": "102000000121",
                      "name": "REV02 Volume Inputs"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "modules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Module"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/modules/{moduleId}/data": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ModuleId"
        }
      ],
      "post": {
        "summary": "Write cell data by coordinate to module",
        "description": "Minimum role: Standard User.\n\nUse this call to set cell values in a module.\n\nEnsure the request body is an array of `CellWrite` objects. Each object is for an updated individual cell and its full set of dimensions.\n\nThe response contains a summary of the number of cells updated successfully and the details of why some cells that could not be updated.\n\n**Notes:**\n\n*   Ensure the user has write access enabled.\n*   Ensure the request includes all of the required fields.\n*   Ensure the request has a `value` field that is either a string, number or boolean and is compatible with the line item format/data type.\n*   If one cell cannot update, the other cells in the request still continue to update.\n*   Workspace administrators can import data into any cell (except aggregate cells, see below), including read-only and invisible cells.\n*   You can update a maximum of 1000 cells per request. For larger scale writes we recommend you use the import API.\n*   Write cell data does not apply to aggregate cells.\n    *   An aggregate cell is a cell where one of its dimension items has it’s own child items\n    *   This includes aggregate cells for line Items with breakback enabled\n    *   For a line Item that is dimensioned by a composite list, the only writeable cells are the child items, that are defined directly in the dimension list and not defined in a parent list.\n*   In the future, use of this call may be rate limited.",
        "tags": [
          "Transactional Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CellWrite"
                }
              },
              "examples": {
                "byId": {
                  "summary": "Identify line item and dimension items by ID",
                  "value": [
                    {
                      "lineItemId": "206000000000",
                      "dimensions": [
                        {
                          "dimensionId": "101000000001",
                          "itemId": "202000000001"
                        },
                        {
                          "dimensionId": "20000000003",
                          "itemId": "5438300031"
                        },
                        {
                          "dimensionId": "20000000020",
                          "itemId": "107000000001"
                        }
                      ],
                      "value": 1111
                    },
                    {
                      "lineItemId": "206000000001",
                      "dimensions": [
                        {
                          "dimensionId": "101000000001",
                          "itemId": "202000000001"
                        },
                        {
                          "dimensionId": "20000000003",
                          "itemId": "5438300031"
                        },
                        {
                          "dimensionId": "20000000020",
                          "itemId": "107000000001"
                        }
                      ],
                      "value": "Some text value"
                    }
                  ]
                },
                "byName": {
                  "summary": "Identify line item and dimension items by name/code",
                  "value": [
                    {
                      "lineItemName": "Products",
                      "dimensions": [
                        {
                          "dimensionName": "Product",
                          "itemCode": "SKU1234"
                        },
                        {
                          "dimensionName": "Time",
                          "itemName": "Jan 21"
                        },
                        {
                          "dimensionName": "Version",
                          "itemName": "Actual"
                        }
                      ],
                      "value": 1111
                    },
                    {
                      "lineItemName": "Sales",
                      "dimensions": [
                        {
                          "dimensionName": "Region",
                          "itemName": "UK"
                        },
                        {
                          "dimensionName": "Time",
                          "itemName": "Dec 21"
                        },
                        {
                          "dimensionName": "Version",
                          "itemName": "Forecast"
                        }
                      ],
                      "value": "Some text value"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cell data written successfully",
            "content": {
              "application/json": {
                "example": {
                  "numberOfCellsChanged": 2,
                  "failures": []
                },
                "schema": {
                  "$ref": "#/components/schemas/WriteCellDataResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/modules/{moduleId}/lineItems": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ModuleId"
        }
      ],
      "get": {
        "summary": "Retrieve all line item metadata in a module",
        "description": "Minimum role: Standard User.\n\n**Note:**This is an early access endpoint and is not generally available yet.\n\nUse this call when you want to get all line items and metadata in a module.",
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IncludeAll"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Line items and metadata in the module.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/lineItem"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "items": [
                    {
                      "moduleId": "102000000001",
                      "moduleName": "module2",
                      "id": "206000000006",
                      "name": "lineitem-child",
                      "isSummary": false,
                      "startOfSection": false,
                      "broughtForward": false,
                      "useSwitchover": true,
                      "breakback": false,
                      "cellCount": 51,
                      "version": {
                        "name": "All",
                        "id": "16000000000"
                      },
                      "appliesTo": [
                        {
                          "name": "org-sub1",
                          "id": "109000000001"
                        },
                        {
                          "name": "linesubset1",
                          "id": "114000000001"
                        }
                      ],
                      "dataTags": [
                        {
                          "name": "tag1",
                          "id": "127000000002"
                        },
                        {
                          "name": "tag2",
                          "id": "127000000001"
                        },
                        {
                          "name": "tag3",
                          "id": "127000000000"
                        }
                      ],
                      "referencedBy": [
                        {
                          "name": "lineitem5",
                          "id": "206000000005"
                        }
                      ],
                      "parent": {
                        "name": "lineitem5",
                        "id": "206000000005"
                      },
                      "readAccessDriver": {
                        "name": "lineitem2",
                        "id": "206000000003"
                      },
                      "writeAccessDriver": {
                        "name": "lineitem2",
                        "id": "206000000003"
                      },
                      "formula": "3 + 9",
                      "format": "NUMBER",
                      "formatMetadata": {
                        "dataType": "NUMBER",
                        "minimumSignificantDigits": 4,
                        "decimalPlaces": -1,
                        "negativeNumberNotation": "MINUS_SIGN",
                        "unitsType": "NONE",
                        "unitsDisplayType": "NONE",
                        "zeroFormat": "ZERO",
                        "comparisonIncrease": "GOOD",
                        "groupingSeparator": "COMMA",
                        "decimalSeparator": "FULL_STOP"
                      },
                      "summary": "Sum",
                      "timeScale": "Month",
                      "timeRange": "timeRange1",
                      "formulaScope": "All Versions",
                      "style": "Normal",
                      "code": "code7",
                      "notes": "note1"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LineItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/modules/{moduleId}/views": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ModuleId"
        }
      ],
      "get": {
        "summary": "Retrieve IDs and names for views in a module",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve all view IDs and names for a specified module. This call also returns the default view for the module. If the user adds the query parameter includesubsidiaryviews=true, unsaved subsidiary views will also be included in the results.\n\n**Notes**:\n\n*   For the default view, the `{viewId}` is the same as the `{moduleId}`\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response\n*   For unsaved subsidiary views, the `{viewId}` and `{viewName}` are the same as the `{lineItemId}` and `{lineItemName}` that the subsidiary view is created from",
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "parameters": [
          {
            "name": "includesubsidiaryviews",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "IDs and names of views in the module.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 1,
                      "offset": 0,
                      "totalSize": 1
                    },
                    "schema": "https://api.anaplan.com/2/0/objects/view"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "views": [
                    {
                      "code": "",
                      "id": "102000000000",
                      "name": "default",
                      "moduleId": "102000000000"
                    },
                    {
                      "code": "",
                      "id": "203000000000",
                      "name": "SavedView",
                      "moduleId": "102000000000"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "views": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/View"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          },
          "429": {
            "description": "Rate limited — too many requests. Retry after a delay."
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/processes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "List the process definitions available in a model as a JSON array",
        "description": "Minimum role: Standard User.\n\nModel-direct form of `GET /workspaces/{workspaceId}/models/{modelId}/processes`. Returns the same response shape without requiring a workspace ID. Lists process definitions available for the specified model.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results. `+field` or unprefixed ascending, `-field` descending; comma-separate for multiple columns. `name` and `id` reorder results. Field name not validated — unknown fields return 200 and fall back to default order. Example: `+name`, `-id`.",
            "schema": {
              "type": "string"
            },
            "example": "+name"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Processes retrieved successfully",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 1,
                      "offset": 0,
                      "totalSize": 1
                    },
                    "schema": "https://api.anaplan.com/2/0/models/A1B2C3D4E5F6A1B2C3D4E5F6A1B2C3D4/objects/process"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "processes": [
                    {
                      "id": "118000000070",
                      "name": "Wakeup Script"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "processes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Process"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/processes/{processId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/ProcessId"
        }
      ],
      "get": {
        "summary": "Retrieve metadata for a process",
        "description": "Minimum role: Standard User.\n\nUse this call to retrieve the names and actions for a given Process in an Anaplan model.\n\n**Notes**:\n\n*   Actions which are imports or exports (`actionType` field is `IMPORT` or `EXPORT`) contain additional fields in the response (see below). Other actions just contain the `id`, `name`, and `actionType`.\n*   Actions are ordered in the sequence that they run when the Process itself is executed.\n*   In the future, use of this call may be rate limited.\n*   For an action with `actionType` of `IMPORT`, you can use the `importDataSourceId` value as the ID of a file for the `fileId` parameter when you upload or download files\n*   For actions with `actionType` of `EXPORT` or `IMPORT`, you can find more information about them if you use the IDs as `exportId` or `importId` in the export and import metadata endpoints.\n*   The possible values for actionType (non-exhaustive list):\n    *   IMPORT\n    *   EXPORT\n    *   DELETE_BY_SELECTION\n    *   ORDER_HIERARCHY\n    *   OPTIMIZER\n*   To include additional information regarding the import data source in an import action, add the `?showImportDataSource=true` query parameter to the request.",
        "tags": [
          "Model Metadata",
          "Action Metadata"
        ],
        "parameters": [
          {
            "name": "showImportDataSource",
            "in": "query",
            "description": "When set to \"true\", includes additional information about the import data source. Any value other than \"true\" is interpreted as false.",
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata for the process.",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "example": "application/json"
              }
            },
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/process"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "processMetadata": {
                    "name": "ProcessWithActions",
                    "actions": [
                      {
                        "id": "112000000000",
                        "name": "Sales from import-sales.csv",
                        "actionType": "IMPORT",
                        "importDataSourceId": "113000000000",
                        "importType": "MODULE_DATA",
                        "importDataSource": {
                          "importDataSourceId": "113000000000",
                          "type": "FILE"
                        }
                      },
                      {
                        "id": "116000000000",
                        "name": "Sales - Revenue.xls",
                        "actionType": "EXPORT",
                        "exportType": "GRID_CURRENT_PAGE",
                        "exportFormat": "application/vnd.ms-excel",
                        "layout": "GRID_CURRENT_PAGE"
                      },
                      {
                        "id": "117000000000",
                        "name": "Delete from Products",
                        "actionType": "DELETE_BY_SELECTION"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "processMetadata": {
                      "$ref": "#/components/schemas/Process"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Standard User"
      }
    },
    "/models/{modelId}/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Retrieve version metadata",
        "description": "Minimum role: Workspace Administrator.\n\nUse this call to get information about the model versions. The response contains a list of the versions that the user has access to, and the model metadata that can be viewed from the UI.\n\n**Notes:**\n\n*   The returned versions only include the user’s model role with read access or higher.\n*   If the value for a field is set, it will be returned in the results.",
        "tags": [
          "Model Metadata",
          "Model Setting Metadata"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Version metadata for the model.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/version"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "versionMetadata": [
                    {
                      "id": "107000000001",
                      "name": "Actual",
                      "isCurrent": false,
                      "isActual": true,
                      "editFrom": {
                        "periodText": "Start of Timescale",
                        "date": "1900-01-01"
                      },
                      "editTo": {
                        "periodText": "End of Timescale",
                        "date": "2399-12-31"
                      },
                      "notes": "This version data is updated every Monday"
                    },
                    {
                      "id": "107000000002",
                      "name": "Variance",
                      "isCurrent": false,
                      "isActual": false,
                      "switchover": {
                        "periodText": "Mar 20",
                        "date": "2020-03-01"
                      },
                      "formula": "Actual - 20",
                      "editFrom": {
                        "periodText": "Jan 20",
                        "date": "2020-01-01"
                      },
                      "editTo": {
                        "periodText": "Dec 20",
                        "date": "2020-12-31"
                      }
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "versionMetadata": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Version"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      }
    },
    "/models/{modelId}/versions/{versionId}/switchover": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        },
        {
          "$ref": "#/components/parameters/VersionId"
        }
      ],
      "put": {
        "summary": "Set version switchover date",
        "description": "Minimum role: Workspace Administrator.\n\nUse this call to set the switchover date for a version. The response contains the response code, as well as the date and human-readable date period as shown in the UI.\n\n**Notes:**\n\n*   To apply a switchover date, ensure the `versionID` corresponds to a version in Anaplan that is set to either `forecast` or `variance`.\n*   Ensure the switchover date is after the existing version switchover date.\n*   To reset the switchover date to Blank, pass an empty string in the request body.\n*   In the future, use of this call may be rate limited.\n\n### Request body\n\n| **JSON element** | **Details** |\n| --- | --- |\n| `date` | <br><br>*   Required<br>*   Description: An ISO-formatted (YYYY-MM-DD) date string is used to set the switchover date. An empty string resets the switchover date.  <br>    Dates earlier than the current switchover date (for example, `2021-01-01` when the current switchover is `2021-06-01`) or dates outside the current model year return a `400 Bad Request` response.<br>*   Example: `2021-06-01`<br><br> |",
        "tags": [
          "Transactional Write"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DateRequest"
              },
              "example": {
                "date": "2021-06-03"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The version switchover date as set.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "schema": "https://api.anaplan.com/2/0/objects/switchover"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "versionSwitchover": {
                    "periodText": "May 13",
                    "date": "2013-05-01",
                    "calendarType": "Calendar Months/Quarters/Years"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "versionSwitchover": {
                      "$ref": "#/components/schemas/Switchover"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundOrNoAccess"
          }
        },
        "x-anaplan-min-role": "Workspace Administrator"
      }
    },
    "/models/{modelId}/views": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ModelId"
        }
      ],
      "get": {
        "summary": "Model-direct form: Retrieve IDs and names for all views in a model",
        "description": "Minimum role: Standard User.\n\nAlternate URL form — response is equivalent to `/workspaces/{workspaceId}/models/{modelId}/views`.\n\nUse this call to retrieve the ID and name of all views for a model. The results include default and saved views. If you add the query parameter `includesubsidiaryviews=true`, this includes unsaved subsidiary views in the results. This call also retrieves the ID of the module that the views belong to.\n\n**Notes**:\n\n*   Single quotes enclose the module and view names that have special characters\n*   Use of this call may be rate limited. If you call too frequently, you may receive a `429` response\n\n### Default views\n\nFor default views:\n\n*   The value of the {viewId} is identical to the value of the {moduleId}\n*   The value of the name is identical to the value of the module\n\n### Saved views\n\nFor saved views:\n\n*   The `name` consists of the module name, a period, and the saved view name. For example, `REP01 Profit & Loss Report.P & L by Country`\n    \n\nFor unsaved subsidiary views:\n\n*   The name consists of the module name and the line item name that the subsidiary view is created from\n*   These are separated by a period(.)",
        "tags": [
          "Model Metadata",
          "Module & Saved View Metadata"
        ],
        "parameters": [
          {
            "name": "includesubsidiaryviews",
            "in": "query",
            "description": "When set to \"true\", includes unsaved subsidiary views in the results. Any value other than \"true\" is interpreted as false.",
            "schema": {
              "type": "string"
            },
            "example": "true"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "IDs and names of all views in the model.",
            "content": {
              "application/json": {
                "example": {
                  "meta": {
                    "paging": {
                      "currentPageSize": 1,
                      "offset": 0,
                      "totalSize": 1
                    },
                    "schema": "https://api.anaplan.com/2/0/objects/view"
                  },
                  "status": {
                    "code": 200,
                    "message": "Success"
                  },
                  "views": [
                    {
                      "code": "",
                      "id": "102000000000",
                      "name": "StrategicPlanning",
                      "moduleId": "102000000000"
                    },
                    {
                      "code": "",
[...]
