{
  "openapi": "3.0.0",
  "info": {
    "title": "Anaplan Authentication Service API",
    "version": "1.0.0",
    "description": "Generates and manages authentication tokens for use with Anaplan REST APIs. Supports three authentication methods: HTTP Basic (username/password), CA Certificate (X.509 certificate with SHA512withRSA signature), and token refresh. Tokens expire after 35 minutes. The correct server URL depends on your Anaplan region — see the servers list below."
  },
  "servers": [
    {
      "url": "https://auth.anaplan.com",
      "description": "US1 (Data Center - US East), US2 (Data Center - US West), US5 (Cloud - US East), US7 (Cloud - US), EU1 (Data Center - Netherlands), EU2 (Data Center - Germany), EU4 (Cloud - Europe), AP1 (Cloud - Japan)"
    },
    {
      "url": "https://us9.auth.anaplan.com",
      "description": "US9 (Cloud - US)"
    },
    {
      "url": "https://eu3.auth.anaplan.com",
      "description": "EU3 (Cloud - Europe)"
    },
    {
      "url": "https://eu5.auth.anaplan.com",
      "description": "EU5 (Cloud - Europe)"
    },
    {
      "url": "https://gb1.auth.anaplan.com",
      "description": "GB1 (Cloud - UK)"
    },
    {
      "url": "https://ca1a.auth.anaplan.com",
      "description": "CA1 (Cloud - Canada)"
    },
    {
      "url": "https://sg1.auth.anaplan.com",
      "description": "SG1 (Cloud - Singapore)"
    },
    {
      "url": "https://ae1.auth.anaplan.com",
      "description": "AE1 (Cloud - UAE)"
    },
    {
      "url": "https://in1.auth.anaplan.com",
      "description": "IN1 (Cloud - India)"
    },
    {
      "url": "https://id1.auth.anaplan.com",
      "description": "ID1 (Cloud - Indonesia)"
    },
    {
      "url": "https://me1.auth.anaplan.com",
      "description": "ME1 (Cloud - Saudi Arabia)"
    },
    {
      "url": "https://au1a.app2.anaplan.com",
      "description": "AU1 (Cloud - Australia)"
    }
  ],
  "security": [
    {
      "AnaplanAuth": []
    }
  ],
  "paths": {
    "/token/authenticate": {
      "post": {
        "summary": "Create an Authentication Token (Basic)",
        "description": "Creates an AnaplanAuthToken for use with other Anaplan REST APIs. Returns 201 on success.\n\n**HTTP Basic Auth:** Send `Authorization: Basic {base64(username:password)}` with no request body.\n\n**CA Certificate Auth:** Send `Authorization: CACertificate {base64_encoded_certificate}` with a JSON body containing `encodedData` (base64-encoded random bytes, 100+) and `encodedSignedData` (SHA512withRSA signature of the raw random bytes, base64-encoded). The certificate must be registered for API authentication in your Anaplan instance.\n\n**SSO workspaces:** Users must be assigned as an Exception User to use Basic authentication. See [Assign Exception Users](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Security/Single_Sign-on/Enforcing_SAML_Authentication.html) in Anapedia.",
        "tags": [
          "Authentication",
          "Basic Credentials",
          "Certificate Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EmptyPayload"
                  },
                  {
                    "$ref": "#/components/schemas/CertPayload"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Authentication token created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenInfo": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS"
                      ]
                    },
                    "statusMessage": {
                      "type": "string",
                      "enum": [
                        "Login successful"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ValidationUrl"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "CACertAuth": []
          }
        ]
      }
    },
    "/token/refresh": {
      "post": {
        "summary": "Refresh Authentication Token",
        "description": "Extends the session for an existing AnaplanAuthToken. Tokens expire after 35 minutes; call this endpoint before expiry to maintain a session without re-authenticating.\n\n**Note:** Live testing shows the response returns the same `tokenValue` — the token string itself does not change, but its internal expiration is reset.",
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenInfo": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS"
                      ]
                    },
                    "statusMessage": {
                      "type": "string",
                      "enum": [
                        "Token refreshed"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ValidationUrl"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Malformed Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or expired token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/validate": {
      "get": {
        "summary": "Get Authentication Token Details",
        "description": "Returns details for a valid AnaplanAuthToken, including expiry timestamp, token ID, and user/customer identifiers. Returns 401 if the token is invalid, expired, or has been revoked by logout.\n\n**Note:** `userGuid` and `customerGuid` are 32-character hexadecimal strings (no hyphens), not standard UUIDs.",
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "responses": {
          "200": {
            "description": "Successful authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenInfo": {
                      "type": "object",
                      "properties": {
                        "expiresAt": {
                          "type": "integer",
                          "description": "Token expiry time as milliseconds since Unix epoch.",
                          "example": 1493036651173
                        },
                        "tokenId": {
                          "type": "string",
                          "example": "9aa99999-1111-11a2-b333-abc11223ab12",
                          "format": "uuid"
                        }
                      }
                    },
                    "userInfo": {
                      "type": "object",
                      "properties": {
                        "userGuid": {
                          "type": "string",
                          "example": "8a89d9999f3c7099015f999d5208458a",
                          "description": "User identifier (32-character hex string)",
                          "pattern": "^[0-9a-f]{32}$"
                        },
                        "userId": {
                          "type": "string",
                          "example": "a.user@acme.com"
                        },
                        "customerGuid": {
                          "type": "string",
                          "example": "8a80d99a5bf97b99995c3d1577610415",
                          "description": "Customer identifier (32-character hex string)",
                          "pattern": "^[0-9a-f]{32}$"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUCCESS"
                      ]
                    },
                    "statusMessage": {
                      "type": "string",
                      "enum": [
                        "Token validated"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ValidationUrl"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Malformed Authorization header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or expired token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/logout": {
      "post": {
        "summary": "Log Out the User",
        "description": "Immediately invalidates an AnaplanAuthToken. Returns 204 with no body on success. Any subsequent use of the token — including validation or refresh — returns 401.",
        "tags": [
          "Authentication",
          "Other Authentication Actions"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted authentication token"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "AnaplanAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Custom API Key token. Format `AnaplanAuthToken {anaplan_auth_token}`"
      },
      "CACertAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Custom CA Certificate token. Format `CACertificate {your_CA_certificate}`"
      }
    },
    "schemas": {
      "EmptyPayload": {
        "type": "object",
        "description": "Used for Basic Authentication. No body parameters are accepted or required.",
        "properties": {}
      },
      "CertPayload": {
        "type": "object",
        "description": "Request body for CA Certificate authentication. Sent together with an `Authorization: CACertificate {base64_encoded_cert}` header.",
        "required": [
          "certificateChain",
          "signature"
        ],
        "properties": {
          "certificateChain": {
            "type": "string",
            "description": "Base64-encoded certificate chain in PEM format, registered for API authentication in the Anaplan instance."
          },
          "signature": {
            "type": "string",
            "description": "Base64-encoded SHA512withRSA signature of the random byte string, signed with the private key for `certificateChain`."
          }
        }
      },
      "TokenInfo": {
        "properties": {
          "expiresAt": {
            "type": "integer",
            "description": "Token expiry time as milliseconds since Unix epoch.",
            "example": 1493036651173
          },
          "refreshTokenId": {
            "example": "3ab11111-2222-33e4-a111-01a1b222cd3a",
            "type": "string",
            "format": "uuid"
          },
          "tokenId": {
            "example": "9aa99999-1111-11a2-b333-abc11223ab12",
            "type": "string",
            "format": "uuid"
          },
          "tokenValue": {
            "description": "The token string. Send as `Authorization: AnaplanAuthToken {tokenValue}` on subsequent requests. Bearer format is rejected.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example.token",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "FAILURE_BAD_HEADER",
              "FAILURE_BAD_CREDENTIAL"
            ]
          },
          "statusMessage": {
            "type": "string",
            "example": "Invalid header. Verify the header."
          }
        }
      },
      "ValidationUrl": {
        "description": "Response metadata included in all successful token operations. The `validationUrl` field always points to the `GET /token/validate` endpoint.",
        "properties": {
          "validationUrl": {
            "enum": [
              "https://auth.anaplan.com/token/validate"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  }
}
