openapi: 3.0.0
info:
  title: Official Anaplan Collection
  version: 1.0.0
  description: >-
    **Welcome to the Anaplan Integration v2 Official Postman Collection**


    **Organization**


    > This collection is organized into  

    > logical groupings of requests. There are several common sequences of
    requests to achieve an outcome in Anaplan. The folders ending in "Flow"
    contain redundant requests organized sequentially.


    **Variables**


    > Collection level variables. These are set at the  

    > collection level and are available within each request. These include
    elements  

    > such as base URLs, model Id and workspace Id. Be sure to click "Save" when
    changing collection level variables.


    > Request specific variables. For variables  

    > specific to a request, we have provided an array in the pre-request script
    area  

    > for you to enter in request specific variables. These will be set prior to
    the  

    > request running.


    **Authentication**


    > There are three methods provided to  

    > authenticate into Anaplan. Once authenticated a Tests script sets the
    value of  

    > the generated token to a variable named “anaplan_auth_token”. You may
    choose to  

    > enter in username/password combination or conversely choose to generate
    CA  

    > certificate signed string and public key combination.
servers:
  - url: https://auth.anaplan.com
paths:
  /token/authenticate:
    post:
      summary: Create an Authentication Token (Basic)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/EmptyPayload'
                - $ref: '#/components/schemas/CertPayload'
      responses:
        '200':
          description: Successful authentication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenInfo:
                    type: object
                    properties:
                      expiresAt:
                        type: integer
                        example: 1493036651173
                      tokenId:
                        type: string
                        example: "9aa99999-1111-11a2-b333-abc11223ab12"
                      tokenValue:
                        type: string
                        description: Bearer token for subsequent requests.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example.token
                      refreshTokenId:
                        type: string
                        example: "3ab11111-2222-33e4-a111-01a1b222cd3a"
                  status:
                    type: string
                    example: "SUCCESS"
                  statusMessage:
                    type: string
                    example: "Login successful"
                  meta:
                    type: object
                    properties: 
                      validationUrl:
                        type: string
                        example: "https://auth.anaplan.com/token/validate"
        '401':
          description: Unauthorized. Invalid credentials provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid username or password.
      tags:
        - Authentication
        - Basic Credentials
        - Certificate Credentials
      security:
        - BasicAuth: []
        - CACertAuth: []
      description: >-
        [https://anaplanauthentication.docs.apiary.io/#](https://anaplanauthentication.docs.apiary.io/#)

        ## Create an Authentication Token

        `/token/authenticate`  

        To use the version 2.0 API, you must use an Anaplan authentication token
        generated from the Anaplan Authentication Service. You can get an
        authentication token generated using a certificate from a recognized
        external public certificate authority (CA) or using your login and
        password.

        Use Basic HTTP Auth with no body, or Certificate Auth with the required body payload.

        Creates an AnaplanAuthToken. You can use this authentication token in your API requests.

        **Note**: If your workspace uses single sign-on (SSO), your user must be
        assigned as an Exception User to use basic authentication and obtain an
        Anaplan authentication token. For more information on exception users in
        Anaplan, see [Assign Exception
        Users](https://help.anaplan.com/anapedia/Content/Administration_and_Security/Security/Single_Sign-on/Enforcing_SAML_Authentication.html)
        in Anapedia.
  /token/refresh:
    post:
      summary: Refresh Authentication Token
      responses:
        '200':
          description: Successful authentication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenInfo:
                    type: object
                    properties:
                      expiresAt:
                        type: integer
                        example: 1493036651173
                      tokenId:
                        type: string
                        example: "9aa99999-1111-11a2-b333-abc11223ab12"
                      tokenValue:
                        type: string
                        description: Bearer token for subsequent requests.
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.example.token
                      refreshTokenId:
                        type: string
                        example: "3ab11111-2222-33e4-a111-01a1b222cd3a"
                  status:
                    type: string
                    example: "SUCCESS"
                  statusMessage:
                    type: string
                    example: "Token refreshed"
                  meta:
                    type: object
                    properties: 
                      validationUrl:
                        type: string
                        example: "https://auth.anaplan.com/token/validate"
        '401':
          description: Unauthorized. Invalid credentials provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid username or password.
      tags:
        - Authentication
        - Other Authentication Actions
      security:
        - BearerAuth: []
        - AnaplanAuth: []
      description: >-
        ## Refresh authentication token

        `/token/refresh`  

        Generates a new authentication token from an existing\_`{anaplan_auth_token}`\_that you provide.
        You need to refresh your token if your session runs for longer than 30 minutes.
  /token/validate:
    get:
      summary: Get Authentication Token Details
      responses:
        '200':
          description: Successful authentication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenInfo:
                    type: object
                    properties:
                      expiresAt:
                        type: integer
                        example: 1493036651173
                      tokenId:
                        type: string
                        example: "9aa99999-1111-11a2-b333-abc11223ab12"
                  userInfo:
                    type: object
                    properties:
                      userGuid:
                        type: string
                        example: "8a89d9999f3c7099015f999d5208458a"
                      userId:
                        type: string
                        example: "a.user@acme.com"
                      customerGuid:
                        type: string
                        example: "8a80d99a5bf97b99995c3d1577610415"
                  status:
                    type: string
                    example: "SUCCESS"
                  statusMessage:
                    type: string
                    example: "Token validated"
                  meta:
                    type: object
                    properties: 
                      validationUrl:
                        type: string
                        example: "https://auth.anaplan.com/token/validate"
        '401':
          description: Unauthorized. Invalid credentials provided.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid username or password.
      tags:
        - Authentication
        - Other Authentication Actions
      security:
        - BearerAuth: []
        - AnaplanAuth: []
      description: >-
        ## Get authentication token details
        
        `/token/validate`
        
        Gets information on a provided\_`{anaplan_auth_token}`.
        If the token is valid, returns the details of the\_`{anaplan_auth_token}`.
        If the token is invalid, returns a \"401 UnAuthorized\" message.
  /token/logout:
    post:
      summary: Log Out the User
      responses:
        '204':
          description: Successfully deleted authentication token
        '401':
          description: Unauthorized - Invalid credentials
        '400':
          description: Bad Request - Missing or malformed headers
      tags:
        - Authentication
        - Other Authentication Actions
      security:
        - BearerAuth: []
        - AnaplanAuth: []
      description: >-
        ## Log out the user
        
        `/token/logout`
        
        Deletes an\_`{anaplan_auth_token}`.
        After the /logout command, the\_`{anaplan_auth_token}`\_is deleted and no longer valid.
        No response body is expected. If response code is 204 then user has been logged out successfully.
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      description: Enter your valid application authentication token.
    AnaplanAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Custom API Key token. Format `AnaplanAuthToken {anaplan_auth_token}`
    CACertAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Custom CA Certificate token. Format `CACertificate {your_CA_certificate}`

  schemas:
    EmptyPayload:
      type: object
      description: Used for Basic Authentication. No body parameters are accepted or required.
      properties: {}

    CertPayload:
      type: object
      required:
        - certificateChain
        - signature
      properties:
        certificateChain:
          type: string
          description: Base64 encoded certificate chain
        signature:
          type: string
          description: Signature payload
